{% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}

{% if section.settings.img_thumbnail %}
    {% assign img_thumbnail = 'img-thumbnail' %}
{% else %}
    {% assign img_thumbnail = 'rounded' %}
{% endif %}

<li class="article-list-item row align-items-center mb-6 mx-n2">
    <div class="col-lg-6 px-2">
        <a href="{{ article.url }}">
            <img 
                class="article-img img-fluid w-100 mb-3 mb-lg-0 {{ img_thumbnail }}"
                src="{{ article.image.src | img_url: img_size, crop: 'center' }}" 
                alt="{{ article.image.alt | escape }}"
                width="{{ section.settings.img_width }}"
                height="{{ section.settings.img_height }}">
        </a>
    </div>
    <div class="col-lg-6 px-2">
        <h2 class="{{ section.settings.title_size }} mb-2">
            <a href="{{ article.url }}">
                {{ article.title }}
            </a>
        </h2>
        <div class="article-meta text-muted mb-3">
            {% if section.settings.show_author %}
                <span class="article-meta-author">
                    {{ 'blog.article.by_author' | t: author: article.author }}
                </span>
            {% endif %}
            {% if section.settings.show_date %}
                <span class="article-meta-data {% if section.settings.show_author %}ms-3{% endif %}">
                    {{ article.published_at | time_tag: format: 'date' }}
                </span>
            {% endif %}
        </div>
        {% if section.settings.show_excerpt and article.excerpt.size > 0 %}
            <div class="article-excerpt rte mb-4">
                {{ article.excerpt }}
            </div>
        {% endif %}
        {% if section.settings.show_readmore %}
            <a class="article-readmore-btn btn btn-outline-primary" href="{{ article.url }}">
                {{ 'blog.article.readmore' | t }}
            </a>
        {% endif %}
        {% if section.settings.show_comments and blog.comments_enabled? and article.comments_count > 0 %}
            <a
                class="article-comments-btn btn btn-link btn-sm ms-1"
                href="{{ article.url }}">
                {{ 'blog.comments.comments_with_count' | t: count: article.comments_count }}
            </a>
        {% endif %}
        {% if section.settings.show_posted_in and article.tags.size > 0 %}
            <div class="article-posted-in small text-muted mt-3 mb-2">
                {{ 'blog.article.posted_in' | t }}: 
                {% for tag in article.tags %}
                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                        {{ tag }}</a>{% unless forloop.last %}, {% endunless %} {% comment %}Do not use in new line{% endcomment %}
                {% endfor %}
            </div>
        {% endif %}
    </div>
</li>