{% liquid
    case section.settings.article_img_orientation
        when 'square'
            assign img_width  = 600
            assign img_height = 600
        when 'landscape'
            assign img_width  = 600
            assign img_height = 480
        when 'landscape-2'
            assign img_width  = 600
            assign img_height = 400
        when 'landscape-3'
            assign img_width  = 600
            assign img_height = 300
        when 'potrait'
            assign img_width  = 480
            assign img_height = 600
    endcase
%}

<li class="article-item p-3 p-lg-4">
    <div class="card h-100">
        <a class="" href="{{ article.url }}" tabindex="-1">
            <img
                class="img-fluid card-img-top"
                src="{{ article.image.src | image_url: width: img_width, height: img_height }}"
                alt="{{ article.image.alt | escape }}"
                width="{{ img_width }}"
                height="{{ img_height }}"
                loading="lazy">
        </a>
        <div class="card-body">
            <h3 class="title {{ section.settings.article_title_size }} mb-0">
                <a href="{{ article.url }}" class="">
                    {{ article.title }}
                </a>
            </h3>
            {% if section.settings.article_meta %}
                <p class="article-meta text-muted mt-3 mb-0 small">
                    {{ article.author }} @ {{ article.created_at | time_tag: '%b %d, %Y' }}
                </p>
            {% endif %}
            {% if section.settings.article_excerpt %}
                <div class="article-excerpt rte small mt-3">
                    {{ article.excerpt }}
                </div>
            {% endif %}
        </div>
    </div>
</li>