{% if section.settings.show_readmore %}
    <a
        class="article-readmore-btn btn {{ section.settings.readmore_btn_color }} {{ section.settings.readmore_btn_size }}"
        href="{{ article.url }}">
        {{ 'blogs.article.readmore' | t }}
    </a>
{% endif %}

{% if section.settings.show_comments and blog.comments_enabled? and article.comments_count > 0 %}
    <a
        class="article-comments-btn btn btn-link btn-sm ms-1"
        href="{{ article.url }}">
        {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
    </a>
{% endif %}