{% assign image = collection.image | default: collection.products.first.featured_image %}
{% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}

<li class="collection-list-item text-center p-2">
    <a href="{{ collection.url }}">
        <img
            class="
                collection-img
                img-fluid
                w-100
                mb-2
                {% if section.settings.img_thumbnail %}
                    img-thumbnail
                {% else %}
                    rounded
                {% endif %}
            "
            src="{{ image.src | img_url: img_size, crop: 'center' }}" 
            alt="{{ image.alt | escape }}"
            width="{{ section.settings.img_width }}"
            height="{{ section.settings.img_height }}">
    </a>
    <h3 class="collection-title h6 mb-1">
        <a href="{{ collection.url }}">
            {{ collection.title }}
        </a>
    </h3>
</li>