<ul class="items-list list-unstyled mt-n7">

    {% for item in items limit: limit %}
        {% if item.object_type == 'product' %}
            {% assign product = item %}

            <li 
                class="product-item {% unless forloop.last %}border-bottom{% endunless %}">
                <div class="row g-4 align-items-center py-5">
                
                    <div class="col-4 col-sm-3 col-xl-2">
                        <a 
                            class="d-block text-decoration-none" 
                            href="{{ product.url | within: collection }}">
                            
                            <!-- Product image -->
                            {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                            <img 
                                class="product-item-img img-fluid me-3 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                                src="{{ product.featured_image.src | img_url: img_size, crop: 'center' }}"
                                alt="{{ product.featured_image.alt | escape }}" 
                                width="{{ section.settings.img_width }}"
                                height="{{ section.settings.img_height }}" 
                                loading="lazy">
                        </a>
                    </div>
                    
                    <div class="col">
                                
                        <!-- Product Title -->
                        <h3 class="product-item-title h6 mb-1">
                            <a 
                                class="d-block text-decoration-none" 
                                href="{{ product.url | within: collection }}">
                                {{ product.title }}
                            </a>
                        </h3>

                        <!-- Product Vendor -->
                        {% if section.settings.show_vendor %}
                            <p class="product-item-vendor text-muted small text-uppercase mb-1">
                                {{ product.vendor }}
                            </p>
                        {% endif %}

                        <!-- Product Description -->
                        {% if section.settings.show_description %}
                            <div class="product-item-description rte mb-0 text-body small">
                                {% if section.settings.description_length != blank %}
                                    {{ product.description | truncate: section.settings.description_length }}
                                {% else %}
                                    {{ product.description }}
                                {% endif %}
                            </div>
                        {% endif %}

                        <!-- Sold out badge -->
                        {% if section.settings.show_badge_sold_out and product.available == false %}
                            <span class="badge-sold-out badge">
                                {{ 'product.sold_out' | t }}
                            </span>
                        {% endif %}

                        <!-- Sale badge -->
                        {% if section.settings.show_badge_sale and product.available and product.compare_at_price > product.price   %}
                            <span class="badge-sale badge">
                                <span class="visually-hidden">
                                    {{ 'product.discount' | t }}:
                                </span>
                                {{ 'product.sale' | t }}
                            </span>
                        {% endif %}

                    </div>

                    <div class="col-3 text-end">

                        <!-- Product price -->
                        {% if section.settings.show_price %}
                            <p class="product-item-price mb-1">
                                {% if product.compare_at_price > product.price %}
                                    <s class="price-compare text-muted me-1">
                                        <span class="visually-hidden">
                                            {{ 'product.old_price' | t }}
                                        </span>
                                        {{ product.compare_at_price | money }}
                                    </s>
                                {% endif %}
                                <span class="price">
                                    {% if product.price_varies %}
                                        <span class="price-from">
                                            {{ 'product.price_from' | t }}
                                        </span>
                                    {% endif %}
                                    {{ product.price | money }}
                                </span>
                            </p>
                        {% endif %}

                    </div>

                </div>
            </li>
        {% else %}
            <li 
                class="item {% unless forloop.last %}border-bottom{% endunless %}">
                <div class="row g-4 align-items-center py-5">
                
                    <div class="col-4 col-sm-3 col-xl-2">
                        <a 
                            class="d-block text-decoration-none" 
                            href="{{ item.url }}">
                            
                            <!-- Image -->
                            {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                            <img 
                                class="item-img img-fluid me-3 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                                src="{{ item.image.src | img_url: img_size, crop: 'center' }}"
                                alt="{{ item.image.alt | escape }}" 
                                width="{{ section.settings.img_width }}"
                                height="{{ section.settings.img_height }}" 
                                loading="lazy">
                        </a>
                    </div>
                    
                    <div class="col">
                                
                        <!-- Title -->
                        <h3 class="item-title h6 mb-1">
                            <a 
                                class="d-block text-decoration-none" 
                                href="{{ item.url }}">
                                {{ item.title }}
                            </a>
                        </h3>

                        <!-- Description -->
                        <div class="item-description rte mb-0 text-body small">
                            {% if section.settings.description_length != blank %}
                                {{ item.content | truncate: section.settings.description_length }}
                            {% else %}
                                {{ item.content }}
                            {% endif %}
                        </div>

                    </div>

                </div>
            </li>
        {% endif %}
    {% endfor %}

</ul>