{% if section.settings.background_style == "navbar-light" %}
    {% assign link_color = '' %}
    {% assign text_muted = 'text-muted' %}
{% else %}
    {% assign link_color = 'text-white' %}
    {% assign text_muted = '' %}
{% endif %}

<div
    style="{{ settings.minicart_min_width | prepend: 'min-width: ' | append: 'px' }};">
    
    {% if cart.item_count == 0 %}
        <p 
            class="text-center {{ text_muted }}">
            {{ 'cart.empty_minicart' | t }}
        </p>
        <a 
            class="btn d-block btn-sm {% if settings.minicart_style == "" %}btn-outline-primary{% else %}btn-light{% endif %}" 
            href="/collections/all">
            {{ 'cart.browse_shop' | t }}
        </a>
    {% else %}
        <form method="post" action="/cart">
            <ul class="list-unstyled p-0 mb-3">
                {% for item in cart.items %}
                    <li class="py-2">
                        <a
                            class="d-flex align-items-center text-decoration-none {{ link_color }}"
                            href="{{ item.url }}">
                            
                            {% assign img_size = settings.minicart_img_width | append: 'x' | append: settings.minicart_img_height %}
                            <img 
                                class="minicart-product-img img-fluid me-3 {% if settings.minicart_img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                                src="{{ item | img_url: img_size, crop: 'center' }}"
                                alt="{{ item.title | escape }}" 
                                width="{{ settings.minicart_img_width }}"
                                height="{{ settings.minicart_img_height }}" 
                                loading="lazy">

                            <div>
                                <h3 
                                    class="minicart-product-title h6 mb-1">
                                    {{ item.quantity }} x {{ item.product.title }}
                                </h3>
                                {% unless item.product.has_only_default_variant %}
                                    <span
                                        class="d-block small {{ text_muted }}">
                                        {{ item.variant.title }}
                                    </span>
                                {% endunless %}
                                <span 
                                    class="price d-block mt-1">
                                    {{ item.line_price | money }}
                                </span>
                            </div>

                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div
                class="dropdown-divider mb-3">
            </div>
            <div
                class="minicart-footer">
                <p class="minicart-subtotal text-center mb-2">
                    <span   
                        class="{{ text_muted }}">
                        {{ 'cart.subtotal' | t }}: </span>
                    <b>
                        {{ cart.total_price | money }}
                    </b>
                </p>
                <div
                    class="d-flex justify-content-center mx-n1">
                    {% if settings.minicart_show_view_cart_btn %}
                        <a
                            class="minicart-view-cart-btn btn btn-secondary w-100 m-1"
                            href="{{ routes.cart_url }}">
                            {{ 'cart.view_cart' | t }}
                        </a>
                    {% endif %}
                    {% if settings.minicart_show_checkout_btn %}
                        <button
                            class="minicart-checkout-btn btn btn-primary w-100 m-1"
                            type="submit"
                            name="checkout">
                            {{ 'cart.checkout' | t }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </form>
    {% endif %}

</div>