<ul class="nav nav-links justify-content-center">
    {% for link in linklists[section.settings.menu_desktop].links %}
        {% if link.links == blank %}
        <li class="nav-item">
            <a
                class="nav-link {% if link.active %}active{% endif %}" 
                href="{{ link.url }}"
                aria-current="{% if link.active %}page{% endif %}">
                {{ link.title }}
            </a>
        </li>
        {% else %}
            <li class="nav-item dropdown">
                <a 
                    class="nav-link dropdown-toggle {% if link.child_active %}active{% endif %}" 
                    href="#"
                    data-bs-toggle="dropdown" 
                    aria-expanded="false"
                    role="button">
                    {{ link.title }}
                </a>
                <ul class="dropdown-menu">
                    {% for child_link in link.links %}
                        <li>
                            <a 
                                id="navbar-childitem-{{ forloop.index }}" 
                                class="dropdown-item {% if child_link.active %}active{% endif %}" 
                                href="{{ child_link.url }}"
                                aria-current="{% if child_link.active %}page{% endif %}">
                                {{ child_link.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>