<a 
  class="navbar-logo" 
  href="{{ routes.root_url }}">
  {% if block.settings.logo %}
    {% assign logo_height_x2 = block.settings.logo_height | times: 2 %}
    <img
      class="img-fluid navbar-logo-default"
      src="{{ block.settings.logo | image_url: height: logo_height_x2 }}" 
      alt="{{ shop.name }}"
      width="{{ block.settings.logo_height | times: block.settings.logo.aspect_ratio | round }}" 
      height="{{ block.settings.logo_height }}"
      loading="lazy">
  {% else %}
    <span>
      {{ shop.name }}
    </span>
  {% endif %}
</a>