{%- if paginate.pages > 1 -%}
  <nav role="navigation" class="mt-5" aria-label="{{ 'misc.pagination'| t }}">
    <ol class="pagination justify-content-center">
      {%- if paginate.previous-%}
        <li class="page-item">
          <a class="page-link" href="{{ paginate.previous.url }}" aria-label="{{ 'misc.previous' | t }}">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <span class="page-link" tabindex="-1" aria-disabled="true" aria-label="{{ 'misc.previous' | t }}">
            <span aria-hidden="true">&laquo;</span>
          </span>
        </li>
      {%- endif -%}

      {%- for part in paginate.parts -%}
        {%- if part.is_link -%}
          <li class="page-item">
            <a class="page-link" href="{{ part.url }}">
              <span class="sr-only">{{ 'misc.page' | t }}</span>
              {{ part.title }}
            </a>
          </li>
        {%- else -%}
          {%- if part.title == paginate.current_page -%}
            <li class="page-item active" aria-current="page">
              <span class="sr-only">{{ 'misc.page' | t }}</span>
              <span class="page-link">{{ part.title }}</span>
            </li>
          {%- else -%}
            <li class="page-item">
              <span class="page-link" tabindex="-1" aria-disabled="true">
                <span aria-hidden="true">{{ part.title }}</span>
              </span>
            </li>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}

      {%- if paginate.next -%}
        <li class="page-item">
          <a class="page-link" href="{{ paginate.next.url }}" aria-label="{{ 'misc.next' | t }}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {%- else -%}
        <li class="page-item disabled">
          <span class="page-link" tabindex="-1" aria-disabled="true" aria-label="{{ 'misc.next' | t }}">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {%- endif -%}
    </ol>
  </nav>
{%- endif -%}
