{% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}

{% if section.settings.img_thumbnail %}
    {% assign img_thumbnail = 'img-thumbnail' %}
{% else %}
    {% assign img_thumbnail = 'rounded' %}
{% endif %}

<li class="product-list-item text-center p-2">
    <a href="{{ product.url | within: collection }}">
        <img 
            class="product-img img-fluid w-100 mb-2 {{ img_thumbnail }}"
            src="{{ product.featured_image.src | img_url: img_size, crop: 'center' }}" 
            alt="{{ product.featured_image.alt | escape }}"
            width="{{ section.settings.img_width }}"
            height="{{ section.settings.img_height }}">
    </a>
    <h3 class="product-title h6 mb-1">
        <a href="{{ product.url | within: collection }}">
            {{ product.title }}
        </a>
    </h3>
    <p class="product-price mb-3">
        {% if product.compare_at_price > product.price %}
            <s class="product-price-compare text-muted me-1">
                <span class="visually-hidden">
                    {{ 'product.old_price' | t }}
                </span>
                {{ product.compare_at_price | money }}
            </s>
        {% endif %}
        <span class="product-price-final">
            {% if product.price_varies %}
                <span class="price-from">
                    {{ 'product.price_from' | t }}
                </span>
            {% endif %}
            {{ product.price | money }}
        </span>
    </p>
    {% unless product.available %}
        <span class="product-badge-sold-out badge bg-secondary mb-3">
            {{ 'product.sold_out' | t }}
        </span>        
    {% endunless %}
</li>