<div id="product-accordion" class="accordion mb-5">
    {% for block in section.blocks %}
        {% if block.type == 'product_description' or block.type == 'richtext' %}
            <div class="accordion-item">
                <h3 id="product-blocks-heading-{{ block.id }}" class="accordion-header mb-0">
                    <button 
                        class="accordion-button {% if forloop.index > 1 %}collapsed{% endif %}" 
                        type="button"
                        data-bs-toggle="collapse" 
                        data-bs-target="#product-blocks-collapse-{{ block.id }}" 
                        aria-expanded="true" 
                        aria-controls="product-blocks-collapse-{{ block.id }}">
                        {{ block.settings.title | escape }}
                    </button>
                </h3>
                <div 
                    id="product-blocks-collapse-{{ block.id }}" 
                    class="accordion-collapse collapse {% if forloop.index == 1 %}show{% endif %}"
                    aria-labelledby="product-blocks-heading-{{ block.id }}">
                    <div class="accordion-body">
                        {% if block.type == 'product_description' %}
                            <div class="product-description rte">
                                {{ product.description }}
                            </div>
                        {% elsif block.type == 'richtext' %}
                            <div class="description rte">
                                {{ block.settings.description }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>