{% liquid
    assign current_variant = product.selected_or_first_available_variant

    case section.settings.gallery_img_orientation
        when 'square'
            assign img_width  = 1200
            assign img_height = 1200
        when 'landscape'
            assign img_width  = 1200
            assign img_height = 960
        when 'potrait'
            assign img_width  = 960
            assign img_height = 1200
    endcase

    if product.has_only_default_variant 
        assign active_media_position = 1
    else 
        assign active_media_position = current_variant.featured_media.position
    endif

%}

<div 
    id="product-gallery" 
    class="carousel slide mb-6">
    {% if product.media.size > 1 %}
        <ul class="carousel-indicators mb-2" aria-hidden="true">
            {% for media in product.media %}
                <li>
                    <button 
                        type="button"
                        data-bs-target="#product-gallery"
                        data-bs-slide-to="{{ forloop.index0 }}"
                        class=" {% if active_media_position == forloop.index %}active{% endif %}"
                        aria-current="true"
                        aria-label="Slide {{ forloop.index }}">
                    </button>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div class="carousel-inner">
        {% for media in product.media %}
            <div class="carousel-item {% if active_media_position == forloop.index %}active{% endif %}">
                {% case media.media_type %}
                    {% when 'image' %}
                        <img
                            class="product-gallery-img img-fluid {{ section.settings.img_thumbnail }}"
                            src="{{ media.src | image_url: width: img_width, height: img_height, crop: 'center' }}"
                            alt="{{ media.alt | escape }}"
                            width="{{ img_width }}"
                            height="{{ img_height }}"
                            loading="lazy">
                    {% when 'external_video' %}
                        <div class="ratio ratio-16x9">
                            {{ media | external_video_tag }}
                        </div>
                    {% when 'video' %}
                        <div class="ratio ratio-16x9">
                            {{ media | video_tag: controls: true }}
                        </div>
                {% endcase %}
            </div>
        {% endfor %}
    </div>
    {% if product.media.size > 1 %}
        <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#product-gallery" data-bs-slide="prev" aria-label="{{ 'general.accessibility.previous' | t }}">
            <span class="carousel-control-icon carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control carousel-control-next" type="button" data-bs-target="#product-gallery" data-bs-slide="next" aria-label="{{ 'general.accessibility.next' | t }}">
            <span class="carousel-control-icon carousel-control-next-icon"></span>
        </button>
    {% endif %}
</div>