{% liquid
    assign current_variant = product.selected_or_first_available_variant
%}

<script>
    window.productVariants = {{ product.variants | json }}
</script>
 
<div class="form-wrapper mb-6 rounded {% if section.settings.form_light_bg %}bg-light p-6{% endif %}">
    {% form 'product', product, onsubmit: 'onSubmitAtcForm(this, event)' %}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
        
        {% unless product.has_only_default_variant %}
            <ul 
                class="product-options list-unstyled pb-4 mb-0" 
                aria-label="{{ 'product.product_options' | t }}">
                {% for option in product.options_with_values %}
                    <li class="input-group mb-4">
                        <label class="input-group-text" for="product-option-{{ option.name | handleize }}">
                            {{ option.name }}
                        </label>
                        <select 
                            id="product-option-{{ option.name | handleize }}" 
                            class="product-option form-select"
                            data-product-handle="{{ product.handle }}"
                            onchange="onChangeProductOption(this, event)">
                            {% for value in option.values %}
                                <option value="{{ value }}" {% if value == option.selected_value %}selected{% endif %}>
                                    {{ value }}
                                </option>
                            {% endfor %}
                        </select>
                    </li>
                {% endfor %}
            </ul>
        {% endunless %}

        <div class="d-flex">
            <input 
                class="form-control me-3" 
                type="number" 
                name="quantity"
                value="1"
                aria-label="{{ 'product.quantity' | t }}"
                style="max-width: 90px;">
            <button
                class="btn-atc btn btn-primary w-100"
                type="submit"
                name="add"
                data-text-add-to-cart="{{ 'product.add_to_cart' | t }}"
                {% unless current_variant.available %}
                    disabled
                {% endunless %}>
                {% if current_variant.available %}
                    {{ 'product.add_to_cart' | t }}
                {% else %}
                    {{ 'product.sold_out' | t }}
                {% endif %}
            </button>
        </div>

        {% if section.settings.form_show_buy_btn %}
            <button 
                class="btn-buy btn btn-outline-secondary w-100 mt-4" 
                type="button"
                onclick="onClickBuyBtn(this, event)">
                {{ 'product.buy_it_now' | t }}
            </button>
        {% endif %}

    {% endform %}
</div>