<div 
    id="search-offcanvas"
    class="offcanvas offcanvas-end" 
    tabindex="-1"  
    aria-labelledby="search-offcanvas-label">
    <div class="offcanvas-header border-bottom">
        <h5 
            id="search-offcanvas"
            class="offcanvas-title"">
            {{ 'search.title' | t }}
        </h5>
        <button 
            type="button" 
            class="btn-close text-reset" 
            data-bs-dismiss="offcanvas" 
            aria-label="Close">
        </button>
    </div>
    <div class="offcanvas-body">
        <input 
            type="search"
            id="predictive-search-input"
            class="form-control mb-4"
            name="q" 
            placeholder="{{ 'search.predictive' | t }}" 
            aria-label="{{ 'search.predictive' | t }}"
            role="combobox" 
            aria-autocomplete="list" 
            aria-owns="predictive-search-product-list" 
            aria-expanded="false"  
            aria-haspopup="listbox"
            data-limit="{{ settings.predictive_search_limit }}"
            data-img-width="{{ settings.predictive_search_img_width }}"
            data-img-height="{{ settings.predictive_search_img_height }}"
            data-img-thumbnail="{{ settings.predictive_search_img_thumbnail }}"
            data-text-old-price="{{ 'product.old_price' | t }}"
            data-text-price-from="{{ 'product.price_from' | t }}">
        <ul id="predictive-search-product-list" class="list-unstyled mb-2" style="display: none;">
            <!-- Auto injected via JS -->
        </ul>
    </div>
    <div class="offcanvas-footer py-4 px-4 border-top">
        <a 
            href="{{ routes.search_url }}" 
            class="btn btn-outline-primary w-100">
            {{ 'search.search_for' | t }}
        </a>
    </div>
</div>
