

{% capture seo_title %}
    {% if request.page_type == 'search' and search.performed == true %}
        {{ 'search.heading' | t: count: search.results_count }}: 
        {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {% else %}
        {{ page_title }}
    {% endif %}

    {% if current_tags %}
        {% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}

    {% assign escaped_page_title = page_title | escape %}

    {% unless escaped_page_title contains shop.name %}
        &ndash; {{ shop.name }}
    {% endunless %}
{% endcapture %}

<title>{{ seo_title | strip }}</title>