{% capture title %}
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
{% endcapture %}

<button
    class="btn-share btn btn-outline-primary btn-sm d-inline-flex align-items-center" 
    type="button"
    data-text-share="{{ 'general.general.share' | t }}"
    data-text-copy="{{ 'general.general.copy' | t }}"
    data-text-copied="{{ 'general.general.copied' | t }}"
    data-share-title="{{ title }}"
    onclick="onLinkShare(this, event)">
    <svg xmlns="http://www.w3.org/2000/svg" class="me-3" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="18" cy="5" r="3"></circle><circle cx="6" cy="12" r="3"></circle><circle cx="18" cy="19" r="3"></circle><line x1="8.59" y1="13.51" x2="15.42" y2="17.49"></line><line x1="15.41" y1="6.51" x2="8.59" y2="10.49"></line>
    </svg>
    {{ 'general.general.share' | t }}
</button>