<div class="footer text-center">
    {% if paginate.previous.is_link %}
        <a class="paginate-btn btn btn-outline-secondary my-1" href="{{ paginate.previous.url }}">
            {{ paginate.previous.title }}
        </a>
    {% endif %}
    {% if paginate.next.is_link %}
        <a class="paginate-btn btn btn-outline-secondary my-1" href="{{ paginate.next.url }}">
            {{ paginate.next.title }}
        </a>
    {% endif %}
    <small class="paginate-count d-block text-muted my-2">
        {{ 'general.pagination_page_of' | t: count: paginate.current_page, total: paginate.pages }}
    </small>
</div>