{% if section.settings.show_social_sharing %}
    <ul 
        class="social-sharing list-inline my-5" 
        aria-label="{{ 'general.social.share_label' | t }}">

        {% if settings.share_facebook %}
            <li class="list-inline-item py-1">
                <a 
                    class="btn btn-light btn-sm d-flex align-items-center" 
                    target="_blank" 
                    href="//www.facebook.com/sharer.php?u={{ shop.url | append: share_permalink }}">
                    {% render 'bi-facebook' with size: 16 %}
                    <span 
                        class="ms-2"
                        aria-hidden="true">
                        {{ 'general.social.share_on_facebook' | t }}
                    </span>
                    <span class="visually-hidden">
                        {{ 'general.social.alt_text.share_on_facebook' | t }}
                    </span>
                </a>
            </li>
        {% endif %}

        {% if settings.share_twitter %}
            <li class="list-inline-item py-1">
                <a 
                    class="btn btn-light btn-sm d-flex align-items-center" 
                    target="_blank" 
                    href="//twitter.com/share?text={{ share_title | url_param_escape }}&amp;url={{ shop.url | append: share_permalink }}">
                    {% render 'bi-twitter' with size: 16 %}
                    <span 
                        class="ms-2"
                        aria-hidden="true">
                        {{ 'general.social.share_on_twitter' | t }}
                    </span>
                    <span class="visually-hidden">
                        {{ 'general.social.alt_text.share_on_twitter' | t }}
                    </span>
                </a>
            </li>
        {% endif %}

        {% if settings.share_pinterest %}
            <li class="list-inline-item py-1">
            <a 
                class="btn btn-light btn-sm d-flex align-items-center" 
                target="_blank" 
                href="//pinterest.com/pin/create/button/?url={{ shop.url | append: share_permalink }}&amp;media={{ share_image | img_url: 'x1500' }}&amp;description={{ share_title | url_param_escape }}">
                {% render 'bi-pinterest' with size: 16 %}
                <span
                    class="ms-2" 
                    aria-hidden="true">
                    {{ 'general.social.share_on_pinterest' | t }}
                </span>
                <span class="visually-hidden">{{ 'general.social.alt_text.share_on_pinterest' | t }}</span>
            </a>
            </li>
        {% endif %}

        {% if settings.share_whatsapp %}
            <li class="list-inline-item py-1">
                <a 
                    class="btn btn-light btn-sm d-flex align-items-center" 
                    target="_blank" 
                    href="https://api.whatsapp.com/send?text={{ share_title | url_param_escape }}%20-%20{{ shop.url | append: share_permalink }}%20"
                    data-animate="{{ settings.share_button_animate }}">
                {% render 'bi-whatsapp' size: 15, class: 'animate__animated' %}
                <span 
                    class="ms-2" 
                    aria-hidden="true">
                    {{ 'general.social.share_on_whatsapp' | t }}
                </span>
                <span class="visually-hidden">
                    {{ 'general.social.alt_text.share_on_whatsapp' | t }}
                </span>
                </a>
            </li>
        {% endif %}

        {% if settings.share_email %}
            <li class="list-inline-item py-1">
                <a 
                    class="btn btn-light btn-sm d-flex align-items-center" 
                    target="_blank" 
                    href="mailto:?subject={{ share_title | url_param_escape }}&body={{ shop.url | append: share_permalink }}%20">
                {% render 'bi-envelope' with size: 16 %}
                <span 
                    class="ms-2" 
                    aria-hidden="true">
                    {{ 'general.social.share_on_email' | t }}
                </span>
                <span class="visually-hidden">
                    {{ 'general.social.alt_text.share_on_email' | t }}
                </span>
                </a>
            </li>
        {% endif %}

    </ul>
{% endif  %}
