<div id="account" class="container my-9">
    <div class="text-center mb-6">
        <h1 class="mb-2">
            {{ 'customer.account.title' | t }}
        </h1>
        <a 
            class="btn btn-outline-secondary btn-sm d-inline flex align-items-center" 
            href="{{ routes.account_logout_url }}">
            <svg xmlns="http://www.w3.org/2000/svg" class="me-2" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4M10 17l5-5-5-5M13.8 12H3"/>
            </svg>
            {{ 'customer.account.logout' | t }}
        </a>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <h2 class="h3 mb-5">
                {{ 'customer.account.order_history' | t }}
            </h2>
            {% paginate customer.orders by 20 %}
                {% if customer.orders.size == 0 %}
                    <p class="alert alert-warning">
                        {{ 'customer.orders.none' | t }}
                    </p>
                {% else %}
                    <div class="table-collapsible mb-6">
                        <table
                            id="account-orders-table" 
                            class="table table-bordered align-middle">
                            <thead class="table-light">
                                <tr role="row">
                                    <th class="text-nowrap text-center" scope="col">{{ 'customer.orders.order_number' | t }}</th>
                                    <th class="text-nowrap" scope="col">{{ 'customer.orders.date' | t }}</th>
                                    <th class="text-nowrap" scope="col">{{ 'customer.orders.payment_status' | t }}</th>
                                    <th class="text-nowrap" scope="col">{{ 'customer.orders.fulfillment_status' | t }}</th>
                                    <th class="text-nowrap text-end" scope="col">{{ 'customer.orders.total' | t }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in customer.orders %}
                                    {% liquid
                                        case order.financial_status
                                            when 'authorized' or 'paid':
                                                assign financial_status_badge_color = 'bg-success'
                                            when 'expired' or 'partially_paid' or 'partially_refunded' or 'pending' or 'unpaid': 
                                                assign financial_status_badge_color = 'bg-warning'
                                            when 'refunded' or 'voided':
                                                assign financial_status_badge_color = 'bg-danger'
                                        endcase
                                    %}
                                    <tr role="row">
                                        <td class="text-nowrap text-lg-center" data-label="{{ 'customer.orders.order_number' | t }}">
                                            <a class="btn btn-outline-primary py-1" href="{{ order.customer_url }}">
                                                {{ order.name }}
                                            </a>
                                        </td>
                                        <td class="text-nowrap" data-label="{{ 'customer.orders.date' | t }}">
                                            {{ order.created_at | time_tag: format: 'date' }}
                                        </td>
                                        <td class="text-nowrap" data-label="{{ 'customer.orders.payment_status' | t }}">
                                            <span class="badge {{ financial_status_badge_color }}">
                                                {{ order.financial_status_label }}
                                            </span>
                                        </td>
                                        <td class="text-nowrap" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                                            {{ order.fulfillment_status_label }}
                                        </td>
                                        <td class="text-nowrap text-end" data-label="{{ 'customer.orders.total' | t }}">
                                            {{ order.total_price | money_with_currency }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% render 'pagination' with paginate: paginate %}
                {% endif %}
            {% endpaginate %}
        </div>
        <div class="col-lg-4">
            <div class="p-4">
                <h2 class="h4 mb-3">
                    {{ 'customer.account.account_details' | t }}
                </h2>
                {{ customer.default_address | format_address }}
                <a 
                    class="btn btn-outline-primary btn-sm" 
                    href="{{ routes.account_addresses_url }}">
                    {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
                </a>
            </div>
        </div>
    </div>
</div>