<div
    id="activate-account" 
    class="mx-auto w-100" 
    style="max-width: 360px;">
  
      {% form 'activate_customer_password', id: 'customer-activate' %}
  
        <h1 class="mb-1 text-center">
            {{ 'customer.activate_account.heading' | t }}
        </h1>
  
        <p class="text-muted text-center mb-5">
          {{ 'customer.activate_account.subtext' | t }}
        </p>
  
        {{ form.errors | default_errors }}
  
        <div class="form-group mb-3">
            <input
                class="form-control"
                type="password"
                name="customer[password]"
                placeholder="{{ 'customer.activate_account.password' | t }}"
                aria-label="{{ 'customer.activate_account.password' | t }}"
                required>
        </div>
  
        <div class="form-group mb-3">
            <input
                class="form-control"
                type="password"
                name="customer[password_confirmation]"
                placeholder="{{ 'customer.activate_account.password_confirm' | t }}"
                aria-label="{{ 'customer.activate_account.password_confirm' | t }}"
                required>
        </div>
  
        <div class="form-group mb-2">
            <input 
                type="submit" 
                class="btn btn-primary w-100" 
                value="{{ 'customer.activate_account.submit' | t }}">
        </div>

        <div class="form-group mb-2">
            <input 
                type="submit" 
                name="decline"
                class="btn btn-link w-100" 
                value="{{ 'customer.activate_account.cancel' | t }}">
        </div>
  
    {% endform %}

</div>

<script>
    /* 
        © 2021 KondaSoft
        https://www.kondasoft.com
    */

    // Define elements
    const activateFormErrorEl = document.querySelector('#customer-activate .errors');

    // Focus on error message after error form submit
    if (activateFormErrorEl) {
        activateFormErrorEl.setAttribute('tabindex', '-1');
        activateFormErrorEl.focus();
    }
</script>