<article class="py-6 container" style="max-width: 500px;">

  <div class="bg-light py-4 px-4 rounded">

    {% form 'activate_customer_password' %}
    
      <h1 class="h3 text-center">{{ 'customer.activate_account.title' | t }}</h1>
      
      <p class="text-muted text-center mb-4">
        {{ 'customer.activate_account.subtext' | t }}
      </p>

      {{ form.errors | default_errors }}

      <div class="form-group">
        <input 
          type="password" 
          name="customer[password]" 
          id="CustomerPassword" 
          class="form-control" 
          required
          placeholder="{{ 'customer.activate_account.password' | t }}"
          aria-label="{{ 'customer.activate_account.password' | t }}"
        >
      </div>

      <div class="form-group">
        <input 
          type="password" 
          name="customer[password_confirmation]" 
          id="CustomerPasswordConfirmation" 
          class="form-control"
          placeholder="{{ 'customer.activate_account.password_confirm' | t }}"
          aria-label="{{ 'customer.activate_account.password_confirm' | t }}"
        >
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.activate_account.submit' | t }}">
      </div>

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <input class="nav-link" type="submit" role="button" name="decline" value="{{ 'customer.activate_account.cancel' | t }}">
        </li>
      </ul>

    {% endform %}

  </div>

</article>

<style>
  #site-main {
    display: flex;
    align-items: center;
  }
</style>