{% comment %} <style>
@media (max-width: 991px) {
    table.order-details tfoot {
        display: block;
        border: none !important;
        margin: .25rem 0 1.5rem !important;
    }
    table.order-details tfoot tr {
        margin: 0;
        padding: 0;
        border: none;
    }
    table.order-details tfoot td {
        font-size: 1.1rem;
        padding: .25rem 0;
    }
}
</style> {% endcomment %}

{% liquid 
    assign order_date = order.created_at | time_tag: format: "date_at_time"
%}

<div id="order" class="container my-9">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="h2 mb-1">
                {{ 'customer.order.title' | t: name: order.name }}
            </h1>
            <p class="mb-5">
                {{ 'customer.order.date_html' | t: date: order_date }}
            </p>
            <a 
                class="btn btn-outline-secondary btn-sm mb-7" 
                href="{{ routes.account_url }}">
                ← {{ 'customer.account.return' | t }}
            </a>
            {% if order.cancelled %}
                <p class="alert alert-warning">
                    {% assign cancelled_at = order.cancelled_at | time_tag: format: "date_at_time" %}
                    {{ 'customer.order.cancelled_html' | t: date: cancelled_at }}<br>
                    {{ 'customer.order.cancelled_reason' | t: reason: order.cancel_reason_label }}
                </p>
            {% endif %}
            <div class="table-collapsible mb-6">
                <table
                    id="order-table" 
                    class="table table-bordered align-middle">
                    <thead class="table-light">
                        <tr>
                            <th scope="col" class="text-nowrap">
                                {{ 'customer.order.product' | t }}
                            </th>
                            <th scope="col" class="text-nowrap">
                                {{ 'customer.order.sku' | t }}
                            </th>
                            <th scope="col" class="text-nowrap text-end">
                                {{ 'customer.order.price' | t }}
                            </th>
                            <th scope="col" class="text-nowrap text-end">
                                {{ 'customer.order.quantity' | t }}
                            </th>
                            <th scope="col" class="text-nowrap text-end">
                                {{ 'customer.order.total' | t }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for line_item in order.line_items %}
                            <tr>
                                <td data-label="{{ 'customer.order.product' | t }}">
                                    <div style="min-width: 180px;"> 
                                        {% if line_item.product.url != blank %}
                                            <a href="{{ line_item.product.url }}">
                                                {{ line_item.title }}
                                            </a>
                                        {% else %}
                                            <p>{{ line_item.title }}</p>
                                        {% endif %}
                                        {% assign property_size = line_item.properties | size %}
                                        {% unless line_item.selling_plan_allocation == nil and property_size == 0 %}
                                            <div class="properties">
                                                {% unless line_item.product.has_only_default_variant %}
                                                    <span>{{ line_item.variant.title }}</span>
                                                {% endunless %}
                                                {% unless line_item.selling_plan_allocation == nil %}
                                                    <span>{{ line_item.selling_plan_allocation.selling_plan.name }}</span>
                                                {%- endunless -%}
                                                {% if property_size != 0 %}
                                                    {% for property in line_item.properties %}
                                                        {% assign property_first_char = property.first | slice: 0 %}
                                                        {% if property.last != blank and property_first_char != '_' %}
                                                            <span>{{ property.first }}:&nbsp;
                                                                {% if property.last contains '/uploads/' %}
                                                                    <a href="{{ property.last }}">
                                                                        {{ property.last | split: '/' | last }}
                                                                    </a>
                                                                {% else %}
                                                                    {{ property.last }}
                                                                {% endif %}
                                                            </span>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                        {% endunless %}
                                        {% if line_item.line_level_discount_allocations != blank %}
                                            <ul class="small mb-2" aria-label="{{ 'customer.order.discount' | t }}">
                                                {% for discount_allocation in line_item.line_level_discount_allocations %}
                                                    <li>
                                                        {{- discount_allocation.discount_application.title }} (-{{ discount_allocation.amount | money -}})
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                        {% if line_item.fulfillment %}
                                            <div class="fulfillment bg-light p-3 small">
                                                {% assign created_at = line_item.fulfillment.created_at | time_tag: format: 'date' %}
                                                <span>
                                                    {{ 'customer.order.fulfilled_at_html' | t: date: created_at }}
                                                </span>
                                                {% if line_item.fulfillment.tracking_url %}
                                                    <a href="{{ line_item.fulfillment.tracking_url }}">
                                                        {{ 'customer.order.track_shipment' | t }}
                                                    </a>
                                                {% endif %}
                                                <span>
                                                    {{ line_item.fulfillment.tracking_company }}
                                                    {% if line_item.fulfillment.tracking_number %} 
                                                        #{{ line_item.fulfillment.tracking_number }} 
                                                    {% endif %}
                                                </span>
                                            </div>
                                        {% endif %}
                                    </div>
                                </td>
                                <td data-label="{{ 'customer.order.sku' | t }}"> 
                                    {{ line_item.sku }}
                                </td>
                                <td class="text-lg-end" data-label="{{ 'customer.order.price' | t }}">
                                    {% if line_item.original_price != line_item.final_price or line_item.unit_price_measurement %}
                                        <dl class="mb-0">
                                            {% if line_item.original_price != line_item.final_price %}
                                                <dt class="mb-0">
                                                    <span class="visually-hidden">
                                                        {{ 'product.price_regular' | t }} &nbsp;
                                                    </span>
                                                </dt>
                                                <dd class="mb-0">
                                                    <s>{{ line_item.original_price | money }}</s>
                                                </dd>
                                                <dt>
                                                    <span class="visually-hidden">
                                                        {{ 'product.price_sale' | t }}
                                                    </span>
                                                </dt>
                                                <dd class="mb-0">
                                                    <span>{{ line_item.final_price | money }}</span>
                                                </dd>
                                            {% else %}
                                                <dt class="mb-0">
                                                    <span class="visually-hidden">
                                                        {{ 'product.price_regular' | t }} &nbsp;
                                                    </span>
                                                </dt>
                                                <dd class="mb-0">
                                                    {{ line_item.original_price | money }}
                                                </dd>
                                            {% endif %}
                                            {% if line_item.unit_price_measurement %}
                                                <dt class="mb-0">
                                                    <span class="visually-hidden">
                                                        {{ 'product.price_unit' | t }}
                                                    </span>
                                                </dt>
                                                <dd class="mb-0">
                                                    <span>
                                                    {% capture unit_price_separator %}
                                                        <span aria-hidden="true">/</span>
                                                        <span class="visually-hidden">
                                                            per &nbsp;
                                                        </span>
                                                    {% endcapture %}
                                                    {% capture unit_price_base_unit %}
                                                        {% if line_item.unit_price_measurement.reference_value != 1 %}
                                                            {{ line_item.unit_price_measurement.reference_value }}
                                                        {% endif %}
                                                        {{ line_item.unit_price_measurement.reference_unit }}
                                                    {% endcapture %}
                                                    <span data-unit-price>
                                                        {{ line_item.unit_price | money }}</span>{{- unit_price_separator -}}{{- unit_price_base_unit -}}
                                                    </span>
                                                </dd>
                                            {% endif %}
                                        </dl>
                                    {% else %}
                                        <span>{{ line_item.final_price | money }}</span>
                                    {% endif %}
                                </td>
                                <td class="text-lg-end" data-label="{{ 'customer.order.quantity' | t }}">
                                    {{ line_item.quantity }}
                                </td>
                                <td class="text-lg-end" data-label="{{ 'customer.order.total' | t }}">
                                    {% if line_item.original_line_price != line_item.final_line_price %}
                                        <dl class="mb-0">
                                            <dt class="mb-0">
                                                <span class="visually-hidden">
                                                    {{ 'product.price_regular' | t }} &nbsp;
                                                </span>
                                            </dt>
                                            <dd class="mb-0">
                                                <s class="opacity-75">{{ line_item.original_line_price | money }}</s>
                                            </dd>
                                            <dt class="mb-0">
                                                <span class="visually-hidden">
                                                    {{ 'product.price_from' | t }}
                                                </span>
                                            </dt>
                                            <dd class="mb-0">
                                                <span>{{ line_item.final_line_price | money }}</span>
                                            </dd>
                                        </dl>
                                    {% else %}
                                        {{ line_item.original_line_price | money }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="d-none d-lg-table-cell" colspan="4">
                                {{ 'customer.order.subtotal' | t }}
                            </td>
                            <td class="text-lg-end" data-label="{{ 'customer.order.subtotal' | t }}">
                                {{ order.line_items_subtotal_price | money }}
                            </td>
                        </tr>
                        {% if order.cart_level_discount_applications != blank %}
                            <tr>
                                {% for discount_application in order.cart_level_discount_applications %}
                                    <td class="d-none d-lg-table-cell" role="rowheader" scope="row" colspan="4">
                                        {{ 'customer.order.discount' | t }}
                                        {% unless discount_application.title == blank %}
                                            <br>
                                            <small class="cart-discount">
                                                {{ discount_application.title }}
                                            </small>
                                        {% endunless %}
                                    </td>
                                    <td class="text-lg-end" data-label="{{ discount_application.title }}">
                                        <div>
                                            <span>
                                                -{{ discount_application.total_allocated_amount | money }}
                                            </span>
                                        </div>
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        {% for shipping_method in order.shipping_methods %}
                            <tr>
                                <td class="d-none d-lg-table-cell" role="rowheader" scope="row" colspan="4">
                                    {{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})
                                </td>
                                <td class="text-lg-end" data-label="{{ 'customer.order.shipping' | t }} ({{ shipping_method.title }})">
                                    {{ shipping_method.price | money }}
                                </td>
                            </tr>
                        {% endfor %}
                        {% for tax_line in order.tax_lines %}
                            <tr>
                                <td class="d-none d-lg-table-cell" role="rowheader" scope="row" colspan="4">
                                    {{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)
                                </td>
                                <td class="text-lg-end" data-label="{{ 'customer.order.tax' | t }} ({{ tax_line.title }} {{ tax_line.rate | times: 100 }}%)">
                                    {{ tax_line.price | money }}
                                </td>
                            </tr>
                        {% endfor %}
                        <tr class="lead">
                            <td class="d-none d-lg-table-cell" role="rowheader" scope="row" colspan="4">
                                {{ 'customer.order.total' | t }}
                            </td>
                            <td class="text-end fw-bold" data-label="{{ 'customer.order.total' | t }}">
                                {{ order.total_price | money_with_currency }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="p-4">
                <h3 class="h4">
                    {{ 'customer.order.billing_address' | t }}
                </h3>
                <p class="mb-1">
                    <strong>{{ 'customer.order.payment_status' | t }}:</strong>
                    {{ order.financial_status_label }}
                </p>
                {{ order.billing_address | format_address }}
            </div>
            <div class="p-4">
                <h3 class="h4">
                    {{ 'customer.order.shipping_address' | t }}
                </h3>
                <p class="mb-1">
                    <strong>{{ 'customer.order.fulfillment_status' | t }}:</strong>
                    {{ order.fulfillment_status_label }}
                </p>
                {{ order.shipping_address | format_address }}
            </div>
        </div>
    </div>
</div>