<article class="py-6 container" style="max-width: 500px;">

  <div class="bg-light py-4 px-4 rounded">

    {% form 'create_customer' %}
    
      <h1 class="h3 text-center">{{ 'customer.register.title' | t }}</h1>
      <p class="text-muted text-center mb-4">
        {{ 'customer.register.have_account' | t }}
        <a href="/account/login">{{ 'customer.register.login' | t }}</a>
      </p>

      {{ form.errors | default_errors }}

      <div class="form-group">
        <input 
          type="text" 
          name="customer[first_name]" 
          id="FirstName" 
          class="form-control" 
          autofocus 
          {% if form.first_name %}
            value="{{ form.first_name }}"
          {% endif %}
          placeholder="{{ 'customer.register.first_name' | t }}"
          aria-label="{{ 'customer.register.first_name' | t }}"
        required
        >
      </div>

      <div class="form-group">
        <input 
          type="text" 
          name="customer[last_name]" 
          id="LastName" 
          class="form-control"  
          {% if form.last_name %}
            value="{{ form.last_name }}"
          {% endif %}
          placeholder="{{ 'customer.register.last_name' | t }}"
          aria-label="{{ 'customer.register.last_name' | t }}"
          required
        >
      </div>

      <div class="form-group">
        <input 
          type="email" 
          name="customer[email]" 
          id="Email" 
          class="form-control {% if form.errors contains 'email' %}is-invalid{% endif %}" 
          value="{% if form.email %}{{ form.email }}{% endif %}" 
          spellcheck="false" 
          autocomplete="off" 
          autocapitalize="off"
          placeholder="{{ 'customer.register.email' | t }}"
          aria-label="{{ 'customer.register.email' | t }}" 
        required
        >
      </div>

      <div class="form-group">
        <input 
          type="password" 
          name="customer[password]" 
          id="CreatePassword" 
          class="form-control {% if form.errors contains 'password' %}is-invalid{% endif %}" 
          required
          placeholder="{{ 'customer.register.password' | t }}"
          aria-label="{{ 'customer.register.password' | t }}"
        >
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.register.submit' | t }}">
      </div>

      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="{{ shop.url }}" role="button">{{ 'customer.register.cancel' | t }}</a>
        </li>
      </ul>

    {% endform %}

  </div>

</article>

<style>
  #site-main {
    display: flex;
    align-items: center;
  }
</style>