<div
    id="reset-password" 
    class="mx-auto w-100" 
    style="max-width: 360px;">
  
      {% form 'reset_customer_password', id: 'customer-reset' %}
  
        <h1 class="mb-1 text-center">
            {{ 'customer.reset_password.heading' | t }}
        </h1>
  
        <p class="text-muted text-center mb-5">
          {{ 'customer.reset_password.subtext' | t: email: email }}
        </p>
  
        {{ form.errors | default_errors }}
  
        <div class="form-group mb-3">
            <input
                class="form-control {% if form.errors contains 'password' %}is-invalid{% endif %}"
                type="password"
                name="customer[password]"
                placeholder="{{ 'customer.reset_password.password' | t }}"
                aria-label="{{ 'customer.reset_password.password' | t }}"
                required>
        </div>
  
        <div class="form-group mb-3">
            <input
                class="form-control {% if form.errors contains 'password_confirmation' %}is-invalid{% endif %}"
                type="password"
                name="customer[password_confirmation]"
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                aria-label="{{ 'customer.reset_password.password_confirm' | t }}"
                required>
        </div>
  
        <div class="form-group mb-3">
            <input 
                class="btn btn-primary w-100"
                type="submit" 
                value="{{ 'customer.reset_password.submit' | t }}">
        </div>
  
    {% endform %}
  
</div>

<script>
    /* 
        © 2021 KondaSoft
        https://www.kondasoft.com
    */

    // Define elements
    const resetFormErrorEl = document.querySelector('#customer-reset .errors');

    // Focus on error message after error form submit
    if (resetFormErrorEl) {
        resetFormErrorEl.setAttribute('tabindex', '-1');
        resetFormErrorEl.focus();
    }
</script>