<article class="py-6 container" style="max-width: 500px;">

  <div class="bg-light py-4 px-4 rounded">

    {% form 'reset_customer_password' %}
      
      <h1 class="h3 text-center">{{ 'customer.reset_password.title' | t }}</h1>
      
      <p class="text-muted text-center mb-4">
        {{ 'customer.reset_password.subtext' | t: email: email }}
      </p>

      {{ form.errors | default_errors }}

      <div class="form-group">
        <input 
          type="password" 
          name="customer[password]" 
          id="ResetPassword" 
          class="form-control {% if form.errors contains 'password' %}is-invalid{% endif %}" 
          required
          placeholder="{{ 'customer.reset_password.password' | t }}"
          aria-label="{{ 'customer.reset_password.password' | t }}"
        >
      </div>

      <div class="form-group">
        <input 
          type="password" 
          name="customer[password_confirmation]" 
          id="PasswordConfirmation" 
          class="form-control {% if form.errors contains 'password_confirmation' %}is-invalid{% endif %}" 
          required
          placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
          aria-label="{{ 'customer.reset_password.password_confirm' | t }}"
        >
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary btn-block" value="{{ 'customer.reset_password.submit' | t }}">
      </div>

    {% endform %}

  </div>

</article>

<style>
  #site-main {
    display: flex;
    align-items: center;
  }
</style>
