<div id="reset-password" class="container my-11">
    <div 
        class="bg-light px-6 py-6 mx-auto mb-6 rounded" 
        style="max-width: 720px;">
        <h1 class="text-center mb-4">
            {{ 'customer.reset_password.title' | t }}
        </h1>
        <p class="text-center mb-4">
            {{ 'customer.reset_password.subtext' | t: email: email }}
        </p>
        {% form 'reset_customer_password' %}
            {{ form.errors | default_errors }}
            <input 
                class="form-control mb-3" 
                name="customer[password]"
                type="password"
                placeholder="{{ 'customer.reset_password.password' | t }}"
                aria-label="{{ 'customer.reset_password.password' | t }}"
                required>
            <input 
                class="form-control mb-3" 
                name="customer[password_confirmation]"
                type="password"
                placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                aria-label="{{ 'customer.reset_password.password_confirm' | t }}"
                required>
            <button type="submit" class="btn btn-primary w-100 mb-1">
                {{ 'customer.reset_password.submit' | t }}
            </button>
        {% endform %}
    </div>
</div>