<!doctype html>
  <html  
    lang="{{ request.locale.iso_code }}"
    class="{% if request.design_mode %}theme-editor{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">
  
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
  
    {%- unless settings.favicon == blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
    {%- endunless -%}
  
    <title>
      {{ page_title }}
    </title>
  
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}
  
    {% render 'meta-tags' %}
  
    {{ content_for_header }}
  
    {% render 'styles-scripts' %}
  </head>
  
  <body>
   
    <main id="main">
      {{ content_for_layout }}
    </main>
  
  </body>
  </html>
      