<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- unless settings.favicon == blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
    {%- endunless -%}

    <title>
        {{ shop.name }}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link href="{{ 'vendor-bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'variables.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'base.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'general.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">

    <script src="{{ 'vendor-bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'base.js' | asset_url }}" defer></script>
    <script src="{{ 'general.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>
</head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">

    <main id="main">
        {{ content_for_layout }}
    </main>

</body>
</html>
    