<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_primary }}">

    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

    {%- unless settings.favicon == blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
    {%- endunless -%}

    <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

    <link href="{{ 'vendor-bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'variables.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'base.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'general.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'sections.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'collection.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'product.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'cart.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'custom.css' | asset_url }}" rel="stylesheet">

    <script>
        Shopify.money_format = "{{ shop.money_format }}"
        window.theme = {
            product: {
                addToCart: '{{ 'product.add_to_cart' | t }}',
                addedToCart: '{{ 'product.added_to_cart' | t }}',
                soldOut: '{{ 'product.sold_out' | t }}',
                unavailable: '{{ 'product.unavailable' | t }}',
                priceRegular: '{{ 'product.price_regular' | t }}',
                priceFrom: '{{ 'product.price_from' | t }}',
                priceSale: '{{ 'product.price_sale' | t }}',
                save: '{{ 'product.save' | t }}',
            }
        }
    </script>

    <script src="{{ 'vendor-bootstrap.bundle.min.js' | asset_url }}" defer></script>
    <script src="{{ 'base.js' | asset_url }}" defer></script>
    <script src="{{ 'general.js' | asset_url }}" defer></script>
    <script src="{{ 'search.js' | asset_url }}" defer></script>
    <script src="{{ 'sections.js' | asset_url }}" defer></script>
    <script src="{{ 'collection.js' | asset_url }}" defer></script>
    <script src="{{ 'product.js' | asset_url }}" defer></script>
    <script src="{{ 'cart.js' | asset_url }}" defer></script>
    <script src="{{ 'custom.js' | asset_url }}" defer></script>

</head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">
    <a class="visually-hidden-focusable" href="#main">
        {{ 'general.accessibility.skip_content' | t }}
    </a>
    
    {% liquid 
        section 'announcement-bar' 
        section 'navbar' 
    %}

    <main id="main">
        {{ content_for_layout }}
    </main>

    {% liquid
        section 'newsletter'
        section 'footer'
    %}

    {% liquid
        render 'offcanvas-cart'
        render 'offcanvas-search'
    %}
</body>
</html>
    