<!doctype html>
<html>
    <head>
        <!-- Page title -->
        {% render 'seo-title' %}

        <!-- Metas -->
        <meta charset="utf-8">
        <meta 
            http-equiv="X-UA-Compatible" 
            content="IE=edge, chrome=1">
        {% if page_description %}
            <meta 
                name="description" 
                content="{{ page_description | escape }}">
        {% endif %}
        <meta 
            name="viewport" 
            content="width=device-width, initial-scale=1">

        <!-- Canonical url -->
        <link 
            rel="canonical" 
            href="{{ canonical_url }}">
        
        <!-- Header hook for plugins -->
        {{ content_for_header }} 

        <!-- Load Styles -->
        <link 
            href="{{ 'variables.css' | asset_url }}" 
            rel="stylesheet">
        <link 
            href="{{ 'theme.min.css' | asset_url }}" 
            rel="stylesheet">
        <link 
            href="{{ 'custom.css' | asset_url }}" 
            rel="stylesheet">

         <!-- Load Scripts -->
        <script 
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" 
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" 
            crossorigin="anonymous"
            defer>
        </script>
        <script 
            src="{{ 'theme.min.js' | asset_url }}" 
            defer>
        </script>
        <script 
            src="{{ 'custom.js' | asset_url }}" 
            defer>
        </script>

    </head>
    <body class="template-{{ request.page_type | handle }}">

        <!-- Skip to content link -->
        <a
            id="skip-to-content-link"
            class="visually-hidden-focusable" 
            href="#main">
            {{ 'general.accessibility.skip_to_content' | t }}
        </a>
        
        {% section 'announcement-bar' %}
        {% section 'navbar' %}

        <!-- Main -->
        <main 
            id="main"
            class="{% if request.page_type != 'index' %}py-7{% endif %}"
            role="main">
            {{ content_for_layout }}
        </main>

        {% section 'footer-blocks' %}
        {% section 'footer' %}

    </body>
</html>
