<!doctype html>
<html 
  lang="{{ request.locale.iso_code }}"
  class="{% if request.design_mode %}design-mode{% endif %}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <link rel="canonical" href="{{ canonical_url }}">
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>

  {%- unless settings.favicon == blank -%}
      <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: '32', height: '32' }}">
  {%- endunless -%}

  <title>
    {{ page_title }}
    {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
    {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
    {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% render 'meta-tags' %}

  {{ content_for_header }}

  {% render 'styles-scripts' %}
</head>

<body class="{{ request.page_type | prepend: 'page-type-' }}">
  <a class="visually-hidden-focusable" href="#main">
    {{ 'general.accessibility.skip_content' | t }}
  </a>
  
  <div id="header-group" class="sticky-top">
    {% sections 'header-group' %}
  </div>

  <main id="main">
    {{ content_for_layout }}
  </main>

  <div id="footer-group">
    {% sections 'footer-group' %}
  </div>

  {% liquid
    render 'offcanvas-cart'
    render 'offcanvas-search'
    render 'modal-localization'
    render 'rich-snippets'
  %}
</body>
</html>
    