<!doctype html>
<html>
<head>
    <title>{{ page_title }}</title>
    <link rel="canonical" href="{{ canonical_url }}">

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page_description | escape }}">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no"> 

    <!-- Required by Shopify -->
    {{ content_for_header }}

    <!-- Styles/Scripts -->
    {% render 'styles-scripts' %}
</head>

<body class="{{ request.page_type | prepend: 'template-' }}">
    <!-- Skip link -->
    <a class="visually-hidden-focusable" href="#main">
        {{ 'general.accessibility.skip_content' | t }}
    </a>

    <!-- Top sections -->
    {% section 'announcement' %}
    {% section 'navbar' %}

    <!-- Main -->
    <main id="main" role="main">
        {{ content_for_layout }}
    </main>

    <!-- Bottom sections -->
    {% section 'footer' %}
    
    <!-- Bottom includes -->
    {% render 'toast' %}
    
</body>
</html>
