<!doctype html>
<html class="no-js" lang="{{ shop.locale }}">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'theme.min.css' | asset_url | stylesheet_tag }}
</head>
<body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
  <a class="sr-only sr-only-focusable" href="#main">{{ 'accessibility.skip_to_content' | t }}</a>

  {% section 'header' %}

  <main id="main" class="mb-8">
    {{ content_for_layout }}
  </main>

  {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}
  {{ 'api.jquery.js' | shopify_asset_url | script_tag }}
  {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

</body>
</html>
