<!doctype html>
<html class="no-js supports-no-cookies" lang="{{ shop.locale }}">
<head>
  <title>{{ page_title }}</title>
  <meta charset="utf-8">
  <meta name="description" content="{{ page_description | escape }}">
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ content_for_header }} <!-- Header hook for plugins -->
  {{ 'theme.min.css' | asset_url | stylesheet_tag }}
</head>
<body>

  {% for link in linklists.main-menu.links %}
    {% assign child_list_handle = link.title | handleize %}
    {% if linklists[child_list_handle].links != blank %}
      <a href="{{ link.url }}">{{ link.title }}</a>
      [{% for childlink in linklists[child_list_handle].links %}
        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
      {% endfor %}]
    {% else %}
      <a href="{{ link.url }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}

  <a href="/cart">cart</a>

  {% if shop.customer_accounts_enabled %}
    {% if customer %}
      <a href="/account">account</a>
      {{ 'log out'  | customer_logout_link }}
    {% else %}
      {{ 'log in ' | customer_login_link }}
      {{ 'register' | customer_register_link }}
    {% endif %}
  {% endif %}

  <main role="main">
    {{ content_for_layout }}
  </main>

  {{ 'jquery-3.5.1.min.js' | asset_url | script_tag }}
  {{ 'bootstrap.bundle.min.js' | asset_url | script_tag }}
  {{ 'theme.js' | asset_url | script_tag }}

</body>
</html>
