{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<div class="{% if section.settings.container %}container{% else %}{% endif %}">

    <div class="heading-wrapper mb-0 overflow-hidden text-center">

        <h1 class="heading {{ section.settings.heading_display }}">
            {{ blog.title }}
        </h1>

        {% unless section.settings.subheading == blank %}
            <div class="subheading rte text-muted {{ section.settings.subheading_size }}">
                {{ section.settings.subheading }}
            </div>
        {% endunless %}

        <div class="blog-tags-select-wrapper input-group justify-content-center my-5">
            <label 
                class="input-group-text" 
                for="blog-tag-select">
                {{ 'blogs.filter_by' | t }}
            </label>
            <select
                id="blog-tags-select"
                class="form-select w-auto flex-grow-0"
                style="min-width: 140px;"
                onchange="javascript:location.href = window.location.href = this.value">
                <option value="{{ blog.url }}">
                    {{ 'blogs.article.all_topics' | t }}
                </option>
                {% for tag in blog.all_tags %}
                    <option 
                        value="{{ blog.url }}/tagged/{{ tag | handleize }}" 
                        {% if current_tags contains tag %}selected{% endif %}>
                        {{ tag }}
                    </option>
                {% endfor %}
            </select>
        </div>

    </div>

    {% if blog.articles.size == 0 %}
        <p class="blog-no-posts-alert alert alert-warning">
            {{ 'blogs.no_posts_html' | t: blog_url: blog.url }}
        </p>
    {% else %}

        {% paginate blog.articles by section.settings.paginate %}

            {% if section.settings.layout == 'list' %}
                
                <ul class="blog-list list-unstyled">
                        
                    {% for article in blog.articles %}
                        <li 
                            class="blog-list-item article row align-items-center py-5"
                            role="article">

                            <div class="col-lg">
                                {% render 'article-image' with article: article, class: 'mb-3 mb-lg-0'  %}
                            </div>

                            <div class="col-lg">
                                {% render 'article-title' with article as article, heading: 'h2' %}
                                {% render 'article-meta' with article as article %}
                                {% render 'article-excerpt' with article as article %}
                                {% render 'article-posted-in' with article as article %}
                                {% render 'article-readmore' with article as article %}
                                {% render 'social-sharing' with share_title: article.title, share_permalink: article.url, share_image: article.image %}                         
                            </div>
                        
                        </li>
                    {% endfor %}
    
                </ul>

            {% else %}

                <ul class="blog-grid list-unstyled mt-0 row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">
                    
                    {% for article in blog.articles %}
                        <article 
                            class="blog-grid-item article col pb-5"
                            role="listitem">
                            
                            {% render 'article-image' with article as article, class: 'mb-3' %}
                            {% render 'article-title' with article as article, heading: 'h2' %}
                            {% render 'article-meta' with article as article %}
                            {% render 'article-excerpt' with article as article %}
                            {% render 'article-posted-in' with article as article %}
                            {% render 'article-readmore' with article as article %}
                            {% render 'social-sharing' with share_title: article.title, share_permalink: article.url, share_image: article.image %}
                        </article>
                    {% endfor %}

                </ul>
                
            {% endif %}

            <!-- Pagination -->
            {% render 'pagination' with paginate: paginate %}

        {% endpaginate %}

    {% endif %}

</div>

{% schema %}
{
    "name": "Blog pages",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "list",
            "options": [
                {  "value": "list", "label": "List" },
                {  "value": "grid", "label": "Grid" }
            ]
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Welcome to our blog. We hope to inspire you!</p>"
        },
        {
            "type": "select",
            "id": "heading_display",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                {  "value": "display-1", "label": "Display 1" },
                {  "value": "display-2", "label": "Display 2" },
                {  "value": "display-3", "label": "Display 3" },
                {  "value": "display-4", "label": "Display 4" },
                {  "value": "display-5", "label": "Display 5" },
                {  "value": "display-6", "label": "Display 6" }
            ]
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "range",
            "id": "paginate",
            "label": "Posts per page",
            "min": 1,
            "max": 50,
            "default": 12
        },
        {
            "type": "header",
            "content": "Post settings"
        },
        {
            "type": "select",
            "id": "article_heading_size",
            "label": "Heading Size",
            "default": "h3",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "720"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "720"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_excerpt",
            "label": "Show excerpt",
            "default": true
        },
        {
            "type": "text",
            "id": "excerpt_length",
            "label": "Excerpt length",
            "info": "Leave empty to show all text",
            "default": "240"
        },
        {
            "type": "checkbox",
            "id": "show_posted_in",
            "label": "Show posted in (tags)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_readmore",
            "label": "Show readmore button",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_comments",
            "label": "Show comments button",
            "default": true
        },
        {
            "type": "select",
            "id": "readmore_btn_color",
            "label": "Readmore button color",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "readmore_btn_size",
            "label": "Readmore button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": true
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. Applies only if the setting 'Layout' above is selected to 'grid'. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. Applies only if the setting 'Layout' above is selected to 'grid'. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 6
        }
    ]
}
{% endschema %}