{% assign blog = blogs[section.settings.blog] %}

{% assign pt =  section.settings.padding_top | prepend: 'pt-' %}
{% assign pb =  section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt =  section.settings.margin_top | prepend: 'mt-' %}
{% assign mb =  section.settings.margin_bottom | prepend: 'mb-' %}

{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<section 
    id="blog-posts-{{ section.id }}" 
    class="blog-posts {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

        {% if section.settings.heading != blank or section.settings.subheading != blank %}
            <div class="heading-wrapper mb-3 overflow-hidden {{ section.settings.heading_alignment }}">

                {% unless section.settings.heading == blank %}
                    <h2 class="heading mb-1 {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endunless %}

                {% unless section.settings.subheading == blank %}
                    <div class="subheading rte text-muted {{ section.settings.subheading_size }}">
                        {{ section.settings.subheading }}
                    </div>
                {% endunless %}

            </div>
        {% endif %}

        <ul class="blog-posts-grid list-unstyled row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">
              
            <!-- Placeholders -->
            {% if blog and blog.articles.size == 0 %}
                {% for i in (1..section.settings.limit) %}
                    <article 
                        class="blog-posts-grid-item article col pb-5"
                        role="listitem">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid mb-3' }}
                        <h3 class="h6">
                            <a href="#">
                                {{ 'general.onboarding.post_title' | t }}
                            </a>
                        </h3>
                        <div class="rte mb-4">
                            {{ 'general.onboarding.desc_html' | t }}
                        </div>
                        <a href="#" class="btn btn-outline-primary">
                            {{ 'blogs.article.readmore' | t }}
                        </a>
                    </article>
                {% endfor %}

            <!-- Posts -->
            {% else %}
                {% for article in blog.articles limit: section.settings.limit %}
                    <article 
                        class="blog-posts-grid-item article col pb-5"
                        role="listitem">
                        
                        {% render 'article-image' with article as article, class: 'mb-3' %}
                        {% render 'article-title' with article as article, heading: 'h3' %}
                        {% render 'article-meta' with article as article %}
                        {% render 'article-excerpt' with article as article %}
                        {% render 'article-posted-in' with article as article %}
                        {% render 'article-readmore' with article as article %}
                        {% render 'social-sharing' with share_title: article.title, share_permalink: article.url, share_image: article.image %}
                    </article>
                {% endfor %}
            {% endif %}

        </ul>

        {% if blog and section.settings.show_view_all_btn %}
            <div class="blog-view-all text-center my-5">
                <a
                    class="blog-view-all-btn btn {{ section.settings.view_all_btn_color }} {{ section.settings.view_all_btn_size }}"
                    href="{{ blog.url }}">
                    {{ 'blogs.article.view_all' | t }}
                </a>
            </div>
        {% endif %}

    </div>
</section>

{% schema %}
{
    "name": "Blog posts",
    "settings": [
        {
            "id": "blog",
            "type": "blog",
            "label": "Blog"
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Posts limit",
            "min": 1,
            "max": 20,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Blog posts"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write something catchy for this section.</p>"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-left", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-right", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "checkbox",
            "id": "show_view_all_btn",
            "label": "Show 'View all' button",
            "default": true
        },
        {
            "type": "select",
            "id": "view_all_btn_color",
            "label": "View all button color",
            "default": "btn-secondary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "view_all_btn_size",
            "label": "View all button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "header",
            "content": "Post settings"
        },
        {
            "type": "select",
            "id": "article_heading_size",
            "label": "Heading Size",
            "default": "h6",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "480"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_excerpt",
            "label": "Show excerpt",
            "default": true
        },
        {
            "type": "text",
            "id": "excerpt_length",
            "label": "Excerpt length",
            "info": "Leave empty to show all text",
            "default": "240"
        },
        {
            "type": "checkbox",
            "id": "show_posted_in",
            "label": "Show posted in (tags)",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_readmore",
            "label": "Show readmore button",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_comments",
            "label": "Show comments button",
            "default": true
        },
        {
            "type": "select",
            "id": "readmore_btn_color",
            "label": "Readmore button color",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "readmore_btn_size",
            "label": "Readmore button size",
            "default": "btn-sm",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": false
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Blog posts",
            "category": "Blog"
        }
    ]
}
{% endschema %}