{% liquid
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'
%}

<section 
    id="carousel-{{ section.id }}" 
    class="carousel bg-dark {{ section.settings.animation }} {{ mt }} {{ mb }}"
    data-bs-ride="{% if section.settings.autoplay %}carousel{% else %}false{% endif %}">
    {% if section.settings.indicators and section.blocks.size > 1 %}
        <div class="carousel-indicators">
            {% for block in section.blocks %}
                <button 
                    type="button" 
                    data-bs-target="#carousel-{{ section.id }}" 
                    data-bs-slide-to="{{ forloop.index0 }}" 
                    class="{% if forloop.first == true %}active{% endif %}" 
                    aria-current="{% if forloop.first == true %}true{% endif %}" 
                    aria-hidden="true">
                </button>
            {% endfor %}
        </div>
    {% endif %}
    <div class="carousel-inner">
        {% for block in section.blocks %}
            <div class="carousel-item {% if forloop.first == true %}active{% endif %}" data-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
                {% if block.settings.img_mobile == blank and block.settings.img_desktop == blank %}
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'bg-secondary' }}
                {% else %}
                    <img 
                        class="carousel-item-img d-lg-none w-100"
                        src="{{ block.settings.img_mobile | image_url: width: '960', crop: 'center' }}" 
                        alt=" {{ block.settings.img_mobile.alt }}"
                        width="960"
                        height="{{ 960 | divided_by: block.settings.img_mobile.aspect_ratio | round }}"
                        loading="lazy"
                        style="height: {{ block.settings.img_mobile_height }}px; opacity: {{ block.settings.img_mobile_opacity }};">
                    <img 
                        class="carousel-item-img d-none d-lg-block w-100"
                        src="{{ block.settings.img_desktop | image_url: width: '1920', crop: 'center' }}" 
                        alt=" {{ block.settings.img_desktop.alt }}"
                        width="1920"
                        height="{{ 1920 | divided_by: block.settings.img_desktop.aspect_ratio | round }}"
                        loading="lazy"
                        style="height: {{ block.settings.img_desktop_height }}px; opacity: {{ block.settings.img_desktop_opacity }};">
                {% endif %}
                {% unless block.settings.title == blank %}
                    <div class="carousel-caption">
                        <h3 class="title mb-3 {{ block.settings.title_size }}">
                            {{ block.settings.title }}
                        </h3>
                        {% unless block.settings.description == blank %}
                            <div class="description rte mb-6 {{ block.settings.description_size }}">
                                {{ block.settings.description }}
                            </div>
                        {% endunless %}
                        {% unless block.settings.btn_text == blank %}
                            <a 
                                class="btn btn-md mb-5 {{ block.settings.btn_color }} {{ block.settings.btn_size }}"  
                                href="{{ block.settings.btn_url }}">
                                {{ block.settings.btn_text }}
                            </a>
                        {% endunless %}
                    </div>
                {% endunless %}
            </div>
        {% endfor %}
    </div>
    {% if section.settings.controls and section.blocks.size > 1 %}
        <button 
            class="carousel-control-prev" 
            type="button" 
            data-bs-target="#carousel-{{ section.id }}" 
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">
                {{ 'general.accessibility.previous' | t }}
            </span>
        </button>
        <button 
            class="carousel-control-next" 
            type="button" 
            data-bs-target="#carousel-{{ section.id }}" 
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">
                {{ 'general.accessibility.next' | t }}
            </span>
        </button>
    {% endif %}
</section>

{% schema %}
{
    "name": "Carousel",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "checkbox",
            "id": "controls",
            "label": "Show controls",
            "info": "Prev/Next buttons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "indicators",
            "label": "Show indicators",
            "info": "Small dots at the end",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Enabled autoplay",
            "info": "Every 5 seconds",
            "default": false
        },
        {
            "type": "select",
            "id": "animation",
            "label": "Animation",
            "options": [
                { "value": "slide", "label": "Slide" },
                { "value": "slide carousel-fade", "label": "Fade" }
            ],
            "default": "slide"
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "header",
                    "content": "Mobile image"
                },
                {
                    "type": "image_picker",
                    "id": "img_mobile",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "img_mobile_height",
                    "label": "Image height (px)",
                    "min": 200,
                    "max": 1000,
                    "step": 10,
                    "default": 500
                },
                {
                    "type": "range",
                    "id": "img_mobile_opacity",
                    "label": "Opacity",
                    "min": 0,
                    "max": 1,
                    "step": 0.1,
                    "default": 0.7
                },
                {
                    "type": "header",
                    "content": "Desktop image"
                },
                {
                    "type": "image_picker",
                    "id": "img_desktop",
                    "label": "Image"
                },
                {
                    "type": "range",
                    "id": "img_desktop_height",
                    "label": "Image height (px)",
                    "min": 200,
                    "max": 1000,
                    "step": 10,
                    "default": 800
                },
                {
                    "type": "range",
                    "id": "img_desktop_opacity",
                    "label": "Opacity",
                    "min": 0,
                    "max": 1,
                    "step": 0.1,
                    "default": 0.7
                },
                {
                    "type": "header",
                    "content": "Caption"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "info": "Leave empty to disable captions"
                },
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Title size",
                    "default": "h2",
                    "options": [
                        { "group": "Heading", "value": "h1", "label": "H1" },
                        { "group": "Heading", "value": "h2", "label": "H2" },
                        { "group": "Heading", "value": "h3", "label": "H3" },
                        { "group": "Heading", "value": "h4", "label": "H4" },
                        { "group": "Heading", "value": "h5", "label": "H5" },
                        { "group": "Heading", "value": "h6", "label": "H6" }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "select",
                    "id": "description_size",
                    "label": "Description size",
                    "default": "fs-5",
                    "options": [
                        { "value": "fs-1", "label": "fs-1" },
                        { "value": "fs-2", "label": "fs-2" },
                        { "value": "fs-3", "label": "fs-3" },
                        { "value": "fs-4", "label": "fs-4" },
                        { "value": "fs-5", "label": "fs-5" },
                        { "value": "fs-6", "label": "fs-6" }
                    ]
                },
                {
                    "type": "header",
                    "content": "button"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Button URL"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Button color",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Link" },
                        { "group": "Normal", "value": "btn-light", "label": "Light" },
                        { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                        { "group": "Normal", "value": "btn-success", "label": "Success" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                        { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                        { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                        { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                        { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                        { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
                    ]
                },
                {
                    "type": "select",
                    "id": "btn_size",
                    "label": "Button size",
                    "default": "",
                    "options": [
                        { "value": "btn-sm", "label": "Small" },
                        { "value": "", "label": "Normal" },
                        { "value": "btn-lg", "label": "Large" }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel",
            "category": "Sliders",
            "blocks": [
                {
                    "type": "slide",
                    "settings": {
                        "title": "Caption for the 1st slide"
                    }
                },
                {
                    "type": "slide",
                    "settings": {
                        "title": "Caption for the 2nd slide"
                    }
                }
            ]
        }
    ]
}
{% endschema %}