<div class="{% if section.settings.container %}container{% endif %}">

  <div
    id="{{ 'carousel-' | append: section.id }}"
    class="carousel {{ section.settings.transition | escape }} {{ section.settings.margin_top | prepend: 'mt-' }} {{ section.settings.margin_bottom | prepend: 'mb-' }}"
    data-ride="carousel"
    data-pause="{% if section.settings.pause_hover %}hover{% else %}false{% endif %}"
    data-interval="{{ section.settings.interval | times: 1000 }}"
  >

    {% if section.settings.heading != blank %}
      <{{ section.settings.heading_size }} class="{{ section.settings.heading_alignment }}">
        {{ section.settings.heading | escape }}
      </{{ section.settings.heading_size }}>
    {% endif %}

    {% if section.settings.indicators %}
      <ol class="carousel-indicators">
        {% for block in section.blocks %}
          <li
            data-target="#{{ 'carousel-' | append: section.id }}"
            data-slide-to="{{ forloop.index0 }}"
            class="{% if forloop.first == true %} active {% endif %}"
          ></li>
        {% endfor %}
      </ol>
    {% endif %}

    <div class="carousel-inner">
      {% for block in section.blocks %}
        <div class="carousel-item {% if forloop.first == true %} active {% endif %} {% if block.settings.caption_backdrop %}caption-backdrop{% endif %}">

          {% if block.settings.image != blank %}

            {% assign img_size_600 = section.settings.image_height_aspect_ratio | times: 600 | round | prepend: '600x'  %}
            {% assign img_size_1200 = section.settings.image_height_aspect_ratio | times: 1200 | round | prepend: '1200x'  %}
            {% assign img_size_1800 = section.settings.image_height_aspect_ratio | times: 1800 | round | prepend: '1800x'  %}
            {% assign img_size_2400 = section.settings.image_height_aspect_ratio | times: 2400 | round | prepend: '2400x'  %}

            <img
              class="d-block w-100 h-auto"
              src="{{ block.settings.image | img_url: img_size_1800, crop: 'center' }}"
              srcset="
                {{ block.settings.image | img_url: img_size_600, crop: 'center' }} 600w,
                {{ block.settings.image | img_url: img_size_1200, crop: 'center' }} 1200w,
                {{ block.settings.image | img_url: img_size_1800, crop: 'center' }} 1800w,
                {{ block.settings.image | img_url: img_size_2400, crop: 'center' }} 2400w
              "
              alt="{{ block.settings.image.alt }}"
              width="1800"
              height="{{ section.settings.image_height_aspect_ratio | times: 1800 | round }}"
            >
          {% else %}
            {% capture current %}{% cycle 1, 2 %}{% endcapture %}
            {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg d-block bg-secondary' }}
          {% endif %}

          {% if block.settings.caption_heading != blank or block.settings.caption_text != blank %}
            <div class="carousel-caption">
              {% if block.settings.caption_heading != blank %}
                <{{ block.settings.caption_heading_size }}>{{ block.settings.caption_heading }}</{{ block.settings.caption_heading_size }}>
              {% endif %}
              {% if block.settings.caption_text != blank %}
                <div class="rte">
                  {{ block.settings.caption_text }}
                </div>
              {% endif %}

              {% if block.settings.button_url != blank %}
                <a href="{{ block.settings.button_url }}" class="btn mb-3 {{ block.settings.button_style }}">
                  {{ block.settings.button_text }}
                </a>
              {% endif %}

            </div>
          {% endif %}

        </div>
      {% endfor %}
    </div>

    {% if section.settings.controls %}
      <a class="carousel-control-prev" href="#{{ 'carousel-' | append: section.id }}" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'misc.previous' | t }}</span>
      </a>
      <a class="carousel-control-next" href="#{{ 'carousel-' | append: section.id }}" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">{{ 'misc.next' | t }}</span>
      </a>
    {% endif %}

    {% if section.settings.progress_bar and section.settings.interval > 0 %}
      <div class="carousel-progress-bar"></div>
    {% endif %}

  </div>

</div>

<style>
#carousel-{{ section.id }} .carousel-item img,
#carousel-{{ section.id }} .carousel-item svg {
  object-fit: cover;
  min-height: {{ section.settings.img_min_height | append: 'px'}};
}

#carousel-{{ section.id }} .carousel-item.caption-backdrop:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 240px;
  z-index: 1;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));
}

{% if section.settings.progress_bar and section.settings.interval > 0  %}
  #carousel-{{ section.id }} .carousel-progress-bar {
    z-index: 1;
    height: 3px;
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 3px;
  }
{% endif %}

{% if section.settings.full_height %}
  #carousel-{{ section.id }} .carousel-item img,
  #carousel-{{ section.id }} .carousel-item svg {
    width: 100%!important;
    height: 100vh!important;
    min-height: -webkit-fill-available;
  }
  #shopify-section-header {
    position: fixed;
    width: 100%;
  }
{% endif %}

{% if section.settings.zoom_effect %}
  #carousel-{{ section.id }} .carousel-inner .carousel-item > img,
  #carousel-{{ section.id }} .carousel-inner .carousel-item > svg {
    transform: scale(1.2);
    animation: carousel_zoom 10s ease-out;
  }
  @keyframes carousel_zoom {
    from {
       transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
{% endif %}
</style>

<script>
window.addEventListener('DOMContentLoaded', (event) => {
  jQuery(document).ready(function ($) {

    {% if section.settings.progress_bar and section.settings.interval > 0  %}
      let percent = 0
      let progressBar = $('#carousel-{{ section.id }} .carousel-progress-bar')
      let carousel = $('#carousel-{{ section.id }}')

      function progressBarCarousel() {
        progressBar.css({
          width: percent + '%'
        })

        percent = percent + .1;

        if (percent > 100) {
          percent = 0
          carousel.carousel('next');
        }
      }

      carousel.carousel({
        interval: false,
        pause: true
      }).on('slid.bs.carousel', function () {

      })

      var progressBarInterval = setInterval(progressBarCarousel, {{ section.settings.interval }} )

      carousel.hover(
        function() {
          clearInterval(progressBarInterval);
        },
        function() {
          progressBarInterval = setInterval(progressBarCarousel, {{ section.settings.interval }} )
        }
      )
    {% endif %}

  })
})
</script>

{% schema %}
{
  "name": "Carousel",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Heading"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading text"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "Heading Size",
      "default": "h2",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "label": "Heading alignment",
      "default": "text-center",
      "options": [
        {
          "value": "text-left", "label": "Left"
        },
        {
          "value": "text-center", "label": "Center"
        },
        {
          "value": "text-right", "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "checkbox",
      "id": "controls",
      "default": true,
      "label": "Show Controls",
      "info": "Prev/Next buttons"
    },
    {
      "type": "checkbox",
      "id": "indicators",
      "default": true,
      "label": "Show Indicators",
      "info": "Small dots at the bottom"
    },
    {
      "type": "checkbox",
      "id": "container",
      "label": "Wrap in container",
      "default": false
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "range",
      "id": "image_height_aspect_ratio",
      "min": 0.1,
      "max": 1,
      "step": 0.1,
      "label": "Image height aspect ratio",
      "default": 0.4,
      "info": "Recommended values are between '0.3' to '0.6'. Use a higher value if you have enabled the 'Full height' setting below"
    },
    {
      "type": "text",
      "id": "img_min_height",
      "label": "Image Minimum Height (px)",
      "default": "280",
      "info": "Useful for mobile view"
    },
    {
      "type": "header",
      "content": "Transition"
    },
    {
      "type": "select",
      "id":  "transition",
      "label": "Transition effect",
      "default": "slide carousel-fade",
      "options": [
        {
          "value": "slide", "label": "Slide"
        },
        {
          "value": "slide carousel-fade", "label": "Fade"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "zoom_effect",
      "label": "Enable zoom effect",
      "default": true
    },
    {
      "type": "header",
      "content": "Autoplay"
    },
    {
      "type": "range",
      "id": "interval",
      "min": 0,
      "max": 20,
      "step": 1,
      "unit": "sec",
      "label": "Autoplay time",
      "default": 5,
      "info": "Select '0' to disable"
    },
    {
      "type": "checkbox",
      "id": "progress_bar",
      "default": true,
      "label": "Show progress bar"
    },
    {
      "type": "checkbox",
      "id": "pause_hover",
      "default": true,
      "label": "Pause on hover"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 12,
      "step": 1,
      "label": "Margin top",
      "default": 0,
      "info": "Based on Bootstrap scaling [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 12,
      "step": 1,
      "label": "Margin bottom",
      "default": 8,
      "info": "Based on Bootstrap scaling [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
    },
    {
      "type": "header",
      "content": "Experimental"
    },
    {
      "type": "checkbox",
      "id": "full_height",
      "label": "Full height carousel",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "caption_heading",
          "label": "Caption heading"
        },
        {
          "type": "richtext",
          "id": "caption_text",
          "label": "Caption text"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL",
          "info": "Leave empty to disable button"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button text",
          "default": "Learn more"
        },
        {
          "type": "header",
          "content": "Block settings"
        },
        {
          "type": "checkbox",
          "id": "caption_backdrop",
          "label": "Caption backdrop",
          "default": true
        },
        {
          "type": "select",
          "id": "caption_heading_size",
          "label": "Caption heading size",
          "default": "h4",
          "options": [
            {
              "value": "h1", "label": "H1"
            },
            {
              "value": "h2", "label": "H2"
            },
            {
              "value": "h3", "label": "H3"
            },
            {
              "value": "h4", "label": "H4"
            },
            {
              "value": "h5", "label": "H5"
            },
            {
              "value": "h6", "label": "H6"
            }
          ]
        },
        {
          "type": "select",
          "id":  "button_style",
          "label": "Button style",
          "default": "btn-primary",
          "options": [
            {
              "value": "btn-primary", "label": "Primary color"
            },
            {
              "value": "btn-outline-primary", "label": "Outline primary"
            },
            {
              "value": "btn-secondary", "label": "Secondary color"
            },
            {
              "value": "btn-outline-secondary", "label": "Outline secondary"
            },
            {
              "value": "btn-light", "label": "Light color"
            },
            {
              "value": "btn-dark", "label": "Dark color"
            },
            {
              "value": "btn-outline-dark", "label": "Outline dark"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Carousel",
      "category": "Image",
      "blocks": [
        {
          "type": "image",
          "settings": {
            "caption_heading": "First slide title",
            "caption_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
          }
        },
        {
          "type": "image",
          "settings": {
            "caption_heading": "Second slide title",
            "caption_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
          }
        },
        {
          "type": "image",
          "settings": {
            "caption_heading": "Third slide title",
            "caption_text": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}

{% stylesheet 'scss' %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
