{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

<div 
    id="carousel-{{ section.id }}" 
    class="carousel {{ section.settings.animation }} {{ mt }} {{ mb }}" 
    data-bs-ride="{% if section.settings.autoplay %}carousel{% else %}false{% endif %}">
    <div class="carousel-indicators">
        {% for block in section.blocks %}
            <button 
                type="button" 
                data-bs-target="#carousel-{{ section.id }}" 
                data-bs-slide-to="{{ forloop.index0 }}" 
                class="{% if forloop.first == true %}active{% endif %}" 
                aria-current="{% if forloop.first == true %}true{% endif %}" 
                aria-label="{{ block.settings.title }}">
            </button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        {% for block in section.blocks %}
            <div class="carousel-item {% if forloop.first == true %}active{% endif %}">
                {% if block.settings.image == blank %}
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'bg-secondary' }}
                {% else %}
                    {% assign image_size_800  = '800' | append: 'x' | append: block.settings.image_height %}
                    {% assign image_size_1600 = '1700' | append: 'x' | append: block.settings.image_height %}
                    <img 
                        src="{{ block.settings.image | img_url: image_size_1700, crop: 'center' }}" 
                        srcset="
                            {{ block.settings.image | img_url: image_size_800, crop: 'center' }} 800w, 
                            {{ block.settings.image | img_url: image_size_1600, crop: 'center' }} 1600w
                        " 
                        alt=" {{ block.settings.image.alt }}"
                        width="1600"
                        height="{{ block.settings.image_height }}"
                        loading="lazy">
                {% endif %}
                {% unless block.settings.caption == blank %}
                    <div class="carousel-caption">
                        <h4>{{ block.settings.caption }}</h4>
                    </div>
                {% endunless %}
            </div>
        {% endfor %}
    </div>
    <button 
        class="carousel-control-prev" 
        type="button" 
        data-bs-target="#carousel-{{ section.id }}" 
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button 
        class="carousel-control-next" 
        type="button" 
        data-bs-target="#carousel-{{ section.id }}" 
        data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

{% schema %}
{
    "name": "Carousel",
    "settings": [
        {
            "type": "select",
            "id": "animation",
            "label": "Animation",
            "options": [
                { "value": "slide", "label": "Slide" },
                { "value": "slide carousel-fade", "label": "Fade" }
            ],
            "default": "slide"
        },
        {
            "type": "checkbox",
            "id": "autoplay",
            "label": "Autoplay",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 8
        }
    ],
    "blocks": [
        {
            "type": "slide",
            "name": "Slide",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "image_height",
                    "label": "Image height (px)",
                    "default": "640"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption",
                    "info": "Leave empty to disable"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Carousel",
            "category": "Slider",
            "blocks": [
                {
                    "type": "slide",
                    "settings": {
                        "caption": "Caption for the 1st slide"
                    }
                },
                {
                    "type": "slide",
                    "settings": {
                        "caption": "Caption for the 2nd slide"
                    }
                }
            ]
        }
    ]
}
{% endschema %}