<div class="
  {% if section.settings.container %} container {% else %} container-fluid {% endif %}
  {{ section.settings.margin_top | prepend: 'mt-' }}
  {{ section.settings.margin_bottom | prepend: 'mb-' }}
">

  {% if section.settings.heading != blank %}
    <{{ section.settings.heading_size }} class="{{ section.settings.heading_alignment }}">
      {{ section.settings.heading | escape }}
    </{{ section.settings.heading_size }}>
  {% endif %}

  {% if section.settings.subheading != blank %}
    <div class="rte text-muted {{ section.settings.heading_alignment }}">
      {{ section.settings.subheading }}
    </div>
  {% endif %}

  <ul class="
    list-unstyled
    mx-n2
    {{ section.settings.gutter_horizontal | prepend: 'mx-sm-n' }}
    row
    row-cols-{{ section.settings.row }}
    row-cols-sm-{{ section.settings.row_sm }}
    row-cols-md-{{ section.settings.row_md }}
    row-cols-lg-{{ section.settings.row_lg }}
    row-cols-xl-{{ section.settings.row_xl }}"
  >

    {% for block in section.blocks %}
      {%- assign collection = collections[block.settings.collection] -%}
      <li class="
        pb-2
        px-2
        {{ section.settings.gutter_horizontal | prepend: 'px-sm-' }}
        {{ section.settings.gutter_vertical | prepend: 'my-' }}
        {% if section.settings.align_center %}text-center{% endif %}
      ">
        <a href="{{ collection.url | default: '#' }}" class="theme-link-color d-block pb-2 text-decoration-none">
          {% if collection.image != blank or collection.products.first != blank %}
            <div class="
              position-relative
              overflow-hidden
              mb-3
              {% if section.settings.image_border %}img-thumbnail{% endif %}
              {% if section.settings.image_circle %}rounded-circle{% endif %}
              {{ section.settings.image_hover_effect }}
            ">
              {% assign image_size = section.settings.image_width | append: 'x' | append: section.settings.image_height %}
              {%- assign image_object = collection.image | default: collection.products.first.featured_image -%}
              <img
                class="img-fluid lazyload {% if section.settings.image_circle %}rounded-circle{% endif %}"
                src="{{ 'no-image.jpg' | asset_img_url: image_size, crop: 'center' }}"
                data-src="{{ image_object | img_url: image_size, crop: 'center'  }}"
                alt="{{ image_object.alt | escape }}"
                width="{{ section.settings.image_width }}"
                height="{{ section.settings.image_height }}"
                loading="lazy"
              >
          </div>
          {% elsif collection == empty %}
            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
            {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg bg-light mb-3' }}
          {% endif %}

          {% if section.settings.show_collection_title %}
            <p class="{{ section.settings.collection_title_size }} mb-0">
              {%- assign default_label = 'onboarding.collection_title' | t -%}
              {{ collection.title | default: default_label }}

              {% if section.settings.show_collection_count %}
                <span class="">
                  ({{ collection.products.size }})
                </span>
              {% endif %}

            </p>
          {% endif %}

        </a>

        {% if section.settings.show_collection_desc %}
          <div class="rte text-muted">
            {{ collection.description | truncate: section.settings.collection_desc_truncate  }}
          </div>
        {% endif %}

      </li>
    {% endfor %}

  </ul>

</div>


{% stylesheet 'scss' %}
.featured-collection {

}
{% endstylesheet %}


<script>
// window.addEventListener('DOMContentLoaded', () => {
//   jQuery(document).ready(function ($) {
//     // jQuery inline code
//
//   })
// })
</script>

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Collection list",
    "tag": "section",
    "class": "collection-list",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading text",
        "default": "Collection list"
      },
      {
        "type": "richtext",
        "id": "subheading",
        "label": "Subheading text",
        "default": "<p>Write something catchy here</p>"
      },
      {
        "type": "header",
        "content": "Adjust collections per Row"
      },
      {
        "type": "range",
        "id": "row",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Extra small screens (default)",
        "default": 2
      },
      {
        "type": "range",
        "id": "row_sm",
        "min": 1,
        "max": 3,
        "step": 1,
        "label": "Small screens (sm)",
        "default": 2
      },
      {
        "type": "range",
        "id": "row_md",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "Medium screens (md)",
        "default": 3
      },
      {
        "type": "range",
        "id": "row_lg",
        "min": 1,
        "max": 6,
        "step": 1,
        "label": "Large screens (lg)",
        "default": 4
      },
      {
        "type": "range",
        "id": "row_xl",
        "min": 1,
        "max": 8,
        "step": 1,
        "label": "Extra-large screens (xl)",
        "default": 4
      },
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "default": "h2",
        "options": [
          {
            "value": "h1", "label": "H1"
          },
          {
            "value": "h2", "label": "H2"
          },
          {
            "value": "h3", "label": "H3"
          },
          {
            "value": "h4", "label": "H4"
          },
          {
            "value": "h5", "label": "H5"
          },
          {
            "value": "h6", "label": "H6"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-left",
        "options": [
          {
            "value": "text-left", "label": "Left"
          },
          {
            "value": "text-center", "label": "Center"
          },
          {
            "value": "text-right", "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "container",
        "label": "Wrap in container",
        "default": true
      },
      {
        "type": "header",
        "content": "Collection settings"
      },
      {
        "type": "checkbox",
        "id": "align_center",
        "label": "Align center",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_title",
        "label": "Show collection title",
        "default": true
      },
      {
        "type": "select",
        "id": "collection_title_size",
        "label": "Collection title size",
        "default": "h6",
        "options": [
          {
            "value": "h1", "label": "H1"
          },
          {
            "value": "h2", "label": "H2"
          },
          {
            "value": "h3", "label": "H3"
          },
          {
            "value": "h4", "label": "H4"
          },
          {
            "value": "h5", "label": "H5"
          },
          {
            "value": "h6", "label": "H6"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_count",
        "label": "Show number of products",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_collection_desc",
        "label": "Show collection description",
        "default": false
      },
      {
        "type": "text",
        "id": "collection_desc_truncate",
        "label": "Collection decription truncate",
        "default": "200",
        "info": "The maximum number of characters for the collection description"
      },
      {
        "type": "text",
        "id": "image_width",
        "label": "Collection image width (px)",
        "default": "320"
      },
      {
        "type": "text",
        "id": "image_height",
        "label": "Collection image height (px)",
        "default": "320"
      },
      {
        "type": "checkbox",
        "id": "image_border",
        "label": "Image border",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "image_circle",
        "label": "Image as circle",
        "default": true
      },
      {
        "type": "select",
        "id":  "image_hover_effect",
        "label": "Hover effect",
        "default": "image-hover-flashing",
        "options": [
          {
            "value": "image-hover", "label": "No effect"
          },
          {
            "value": "image-hover-fade-in", "label": "Fade in"
          },
          {
            "value": "image-hover-fade-out", "label": "Fade out"
          },
          {
            "value": "image-hover-scale-in", "label": "Scale in"
          },
          {
            "value": "image-hover-scale-out", "label": "Scale out"
          },
          {
            "value": "image-hover-flashing", "label": "Flashing"
          },
          {
            "value": "image-hover-shine", "label": "Shine"
          }
        ]
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "paragraph",
        "content": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 6
      },
      {
        "type": "range",
        "id": "gutter_horizontal",
        "label": "Horizontal gutter",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 3,
        "info": "Spacing between products"
      },
      {
        "type": "range",
        "id": "gutter_vertical",
        "label": "Vertical gutter",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 3,
        "info": "Spacing between products"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Collection list",
        "category": "Collection",
        "blocks": [
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          },
          {
            "type": "collection"
          }
        ]
      }
    ]
  }
{% endschema %}