{% assign pt =  section.settings.padding_top | prepend: 'pt-' %}
{% assign pb =  section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt =  section.settings.margin_top | prepend: 'mt-' %}
{% assign mb =  section.settings.margin_bottom | prepend: 'mb-' %}

{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<section 
    id="collection-list-{{ section.id }}"
    class="collection-list {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div 
        class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

        <div class="heading-wrapper mb-3 overflow-hidden">

            <!-- Heading -->
            <h2 class="heading mb-1 {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}">
                {{ section.settings.heading }}
            </h2>

            <!-- Subheading -->
            {% unless section.settings.subheading == blank %}
                <div class="subheading rte text-muted {{ section.settings.heading_alignment }}">
                    {{ section.settings.subheading }}
                </div>
            {% endunless %}

        </div>

        <!-- Collection list -->
        <ul class="collection-list-list list-unstyled row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">

            {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                {% assign image = collection.image | default: collection.products.first.featured_image %}

                <!-- Collection -->
                <li 
                    class="collection-list-item pb-5 text-center">
                    <a 
                        class="d-block text-decoration-none" 
                        href="{{ collection.url }}">
                            
                        <!-- Collection Image -->
                        {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                        <img 
                            class="collection-list-item-img img-fluid mb-3 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                            src="{{ image | img_url: img_size, crop: 'center' }}"
                            alt="{{ image.alt | escape }}" 
                            width="{{ section.settings.img_width }}"
                            height="{{ section.settings.img_height }}" 
                            loading="lazy">
                        
                        <!-- Collection title -->
                        <h3 class="collection-list-item-title h6 mb-1">
                            <span>{{ collection.title }}</span>
                            
                            <!-- Product count -->
                            {% if section.settings.show_products_count %}
                                <small>
                                    ({{ collection.products.size }})
                                </small>
                            {% endif %}
                        </h3>
                    </a>
                </li>
            {% else %}

                <!-- Collection placeholder -->
                {% for i in (1..6) %}
                    <li 
                        class="collection-list-item px-2 pt-2 pb-5 text-center">
                        <a 
                            class="d-block text-decoration-none"
                            href="#">
                            {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg collection-list-item-img bg-light img-fluid mb-3' }}
                            <h3 class="collection-list-item-title h6 mb-1">
                                {{ 'general.onboarding.collection_title' | t }}
                            </h3>
                        </a>
                    </li>
                {% endfor %}

            {% endfor %}
        </ul>
    </div>
</section>

{% schema %}
{
    "name": "Collection list",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Collection list"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "default": "<p>Write something catchy for this section.</p>"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-left", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-right", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "header",
            "content": "Collection item settings"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "480"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_products_count",
            "label": "Show products count",
            "default": true
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Collection list",
            "category": "Collection"
        }
    ]
}
{% endschema %}
