{% if section.settings.heading or section.settings.paragraph %}
  <div class="container {{ section.settings.heading_alignment }}">

    {% if section.settings.heading != blank %}
      <{{ section.settings.heading_size }} class="">
        {{ section.settings.heading | escape }}
      </{{ section.settings.heading_size }}>
    {% endif %}

    {% if section.settings.paragraph %}
      <div class="rte text-muted mb-4">
        {{ section.settings.paragraph }}
      </div>
    {% endif %}

  </div>
{% endif %}

{{ section.settings.embed }}

{% schema %}
  {
    "name": "Map",
    "class": "contact-map mb-5",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Physical Address"
      },
      {
        "type": "select",
        "id": "heading_size",
        "label": "Heading Size",
        "default": "h2",
        "options": [
          {
            "value": "h1", "label": "H1"
          },
          {
            "value": "h2", "label": "H2"
          },
          {
            "value": "h3", "label": "H3"
          },
          {
            "value": "h4", "label": "H4"
          },
          {
            "value": "h5", "label": "H5"
          },
          {
            "value": "h6", "label": "H6"
          }
        ]
      },
      {
        "type": "select",
        "id": "heading_alignment",
        "label": "Heading alignment",
        "default": "text-center",
        "options": [
          {
            "value": "text-left", "label": "Left"
          },
          {
            "value": "text-center", "label": "Center"
          },
          {
            "value": "text-right", "label": "Right"
          }
        ]
      },
      {
        "type": "richtext",
        "id": "paragraph",
        "label": "Paragraph",
        "default": "<p>5B Avenue Princesse Alice, 98000 Monaco</p>"
      },

      {
        "type": "header",
        "content": "Embed Google Maps",
        "info": "E.g: <iframe src=\"https://www.google.com/maps/embed...</iframe>. [Learn more how to add Embed Google Maps](https://help.shopify.com/en/manual/sell-online/online-store/pages#add-a-google-map-to-a-webpage)"
      },
      {
        "type": "html",
        "id": "embed",
        "label": "Embed Code",
        "info": "Note: To display Google Maps full-width please change the width value inside your iframe code above to \"100%\"",
        "default": "<iframe src=\"https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2882.6244100325516!2d7.424082915830089!3d43.73912875488734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12cdc288459f574f%3A0x89fa7182c030eb4a!2s5b%20Avenue%20Princesse%20Alice%2C%2098000%20Monaco!5e0!3m2!1sen!2s!4v1589806353049!5m2!1sen!2s\" width=\"100%\" height=\"450\" frameborder=\"0\" style=\"border:0;\" allowfullscreen=\"\" aria-hidden=\"false\" tabindex=\"0\"></iframe>"
      }
    ]
  }
{% endschema %}

{% stylesheet 'scss' %}

{% endstylesheet %}
