{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    if section.settings.external_video.type == 'youtube'
        assign video_src = 'https://www.youtube.com/embed/' | append: section.settings.external_video.id
    else
        assign video_src = 'https://player.vimeo.com/video/' | append: section.settings.external_video.id
    endif
%}

<section 
    id="external-video-{{ section.id }}" 
    class="external-video {{ section.settings.bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
            <div class="ratio ratio-16x9">
                <iframe
                    class="{{ section.settings.video_border }}"
                    src="{{ video_src }}"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    frameborder="0"
                    allowfullscreen
                    loading="lazy">
                </iframe>
            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "External Video",
    "settings": [
        {
            "type": "video_url",
            "id": "external_video",
            "label": "Video link",
            "accept": [
                "youtube", "vimeo"
            ],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-dark", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container width (in pixels)",
            "default": "960"
        },
        {
            "type": "select",
            "id": "video_border",
            "label": "Video border",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "Square" },
                { "value": "rounded", "label": "Rounded" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "External Video",
            "category": "Media"
        }
    ]
}
{% endschema %}
