{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

{% assign product = all_products[section.settings.product] %}

<section 
    id="featured-product-{{ section.id }}" 
    class="featured-product {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">


        {% if product == blank %}

            <!-- Placeholder -->
            <div class="row align-items-center">
                <div class="col-md mb-4 mb-md-0">
                    <div class="img-thumbnail">
                        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                    </div>
                </div>
                <div class="col-md">
                    <h2>
                        {{ 'general.onboarding.product_title' | t }}
                    </h2>
                    <p class="product-price mb-1">
                        <span class="price">
                            {{ 4000 | money }}
                        </span>
                    </p>
                    <div class="rte mb-1">
                        {{ 'general.onboarding.desc_html' | t }}
                    </div>
                    <a
                        class="btn btn-outline-primary"
                        role="button">
                        {{ 'product.quick_view' | t }}
                    </a>
                </div>
            </div>

        {% else %}

            <!-- Product -->
            <div class="row align-items-center">
                <div class="col-md mb-4 mb-md-0">

                    <!-- Product Image Wrapper -->
                    <a href="{{ product.url | within: collection }}">
                        
                        {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                        <img 
                            class="product-img img-fluid {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                            src="{{ product.featured_image.src | img_url: img_size, crop: 'center' }}"
                            alt="{{ product.featured_image.alt | escape }}" 
                            width="{{ section.settings.img_width }}"
                            height="{{ section.settings.img_height }}" 
                            loading="lazy">
                    </a>

                </div>

                <div class="col-md">

                    <!-- Subheading -->
                    {% unless section.settings.badge == blank %}
                        <span class="product-badge badge mb-1 {{ section.settings.badge_color }}">
                            {{ section.settings.badge }}
                        </span>
                    {% endunless %}

                    <!-- Product title -->
                    <h3 class="product-title mb-2 {{ section.settings.heading_size }}">
                        <a href="{{ product.url | within: collection }}">
                            {{ product.title }}
                        </a>
                    </h3>

                    <!-- Product vendor -->
                    {% if section.settings.show_vendor %}
                        <p class="product-vendor text-muted text-uppercase">
                            {{ product.vendor }}
                        </p>
                    {% endif %}

                    <!-- Product price -->
                    {% if section.settings.show_price %}
                        <p class="product-price lead mb-2">
                            {% if product.compare_at_price > product.price %}
                                <s class="price-compare text-muted me-1">
                                    <span class="visually-hidden">
                                        {{ 'product.old_price' | t }}
                                    </span>
                                    {{ product.compare_at_price | money }}
                                </s>
                            {% endif %}
                            <span class="price">
                                {% if product.price_varies %}
                                    <span class="price-from">
                                        {{ 'product.price_from' | t }}
                                    </span>
                                {% endif %}
                                {{ product.price | money }}
                            </span>
                        </p>
                    {% endif %}

                    <!-- Product Description -->
                    {% if section.settings.show_description %}
                        <div class="product-description rte">
                            {% assign truncate = section.settings.description_truncate | plus: 0 %}

                            {% if truncate > 0 %}
                                {{ product.description | truncate: section.settings.description_truncate, '...' }}
                            {% else %}
                                {{ product.description }}
                            {% endif %}
                        </div>
                    {% endif %}
                
                    <!-- 'View product' button -->
                    {% if section.settings.show_view_product_btn %}
                        <a
                            class="view-product-btn btn {{ section.settings.view_product_btn_color }} {{ section.settings.view_product_btn_size }}"
                            href="{{ product.url }}">
                            {{ 'product.view_product' | t }}
                        </a>
                    {% endif %}

                    <!-- Social sharing -->
                    {% render 'social-sharing' with share_title: product.title, share_permalink: product.url, share_image: product.featured_image %}
      
                </div>
            </div>

        {% endif %}

    </div>
</section>

{% schema %}
{
    "name": "Featured product",
    "settings": [
        {
            "type": "product",
            "id": "product",
            "label": "Product"
        },
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "text",
            "id": "badge",
            "label": "Badge",
            "default": "Featured product"
        },
        {
            "type": "select",
            "id": "badge_color",
            "label": "Badge color",
            "default": "bg-light text-secondary",
            "options": [
                { "value": "bg-light text-secondary", "label": "Light" },
                { "value": "bg-dark", "label": "Dark" },
                { "value": "bg-primary", "label": "Primary" },
                { "value": "bg-secondary", "label": "Secondary" },
                { "value": "bg-success", "label": "Success" },
                { "value": "bg-danger", "label": "Danger" },
                { "value": "bg-warning", "label": "Warning" },
                { "value": "bg-info", "label": "Info" }
            ]
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading Size",
            "default": "h2",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Product settings"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "720"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "720"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_price",
            "label": "Show price",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_description",
            "label": "Show description",
            "default": true
        },
        {
            "type": "text",
            "id": "description_truncate",
            "label": "Truncate description",
            "default": "240",
            "info": "The maximum number of characters for the product description. Leave empty to show all description."
        },
        {
            "type": "checkbox",
            "id": "show_view_product_btn",
            "label": "Show 'View product' button",
            "default": true
        },
        {
            "type": "select",
            "id": "view_product_btn_color",
            "label": "'View product' button color",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "view_product_btn_size",
            "label": "'View product' button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Featured product",
            "category": "Product"
        }
    ]
}
{% endschema %}