{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign row_sm =  section.settings.row_sm | prepend: 'row-cols-sm-'
    assign row_lg =  section.settings.row_lg | prepend: 'row-cols-lg-'
%}

<section 
    id="featured-products-{{ section.id }}" 
    class="featured-products {% if section.settings.recommended_mode %}recommended-products{% endif %} {{ section.settings.bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    data-base-url="{{ routes.product_recommendations_url }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}" 
    data-limit="{{ section.settings.limit }}">
    <div class="container position-relative overflow-hidden">
        <h2 class="title mb-4 {{ section.settings.title_size }}">
            {{ section.settings.title }}
        </h2>
        <ul class="product-list list-unstyled row mx-n3 mb-0 {{ row_sm }} {{ row_lg }}">
            {% liquid
                if section.settings.recommended_mode
                    for product in recommendations.products
                        render 'product-item', product: product
                    endfor
                else
                    for product in collections[section.settings.collection].products limit: section.settings.limit
                        render 'product-item', product: product
                    endfor
                endif
            %}
        </ul>
        {% unless section.settings.recommended_mode and section.settings.btn_text == blank %}
            <a class="btn mt-6 mb-0 {{ section.settings.btn_color }}" href="{{ collections[section.settings.collection].url }}">
                {{ section.settings.btn_text }}
            </a>
        {% endunless %}
    </div>
</section>

{% schema %}
{
    "name": "Featured Products",
    "settings": [
        {
            "type": "checkbox",
            "id": "recommended_mode",
            "label": "Recommended mode",
            "info": "Only works in the product page. It uses Shopify's product recommendations API. Do not select a collection below. [Learn more](https://shopify.dev/themes/product-merchandising/recommendations)",
            "default": false
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit products",
            "min": 2,
            "max": 20,
            "default": 8
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-white",
            "options": [
                { "group": "Light", "value": "bg-white", "label": "White" },
                { "group": "Light", "value": "bg-light", "label": "Light" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Products"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h2",
            "options": [
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "text",
            "id": "btn_text",
            "label": "Button text",
            "default": "View all products",
            "info": "Leave empty to disable"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-primary",
            "options": [
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" }
            ]
        },
        {
            "type": "header",
            "content": "Items per Row",
            "info": "Based on screen resolution."
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Tablet",
            "info": "576px - 991px",
            "min": 2,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Desktop",
            "info": "992px and up",
            "min": 2,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "presets": [
        {
            "name": "Featured Products",
            "category": "Products"
        }
    ]
}
{% endschema %}