<section 
    id="{{ section.id | prepend: 'featured-collections-' }}"
    class="featured-collections mb-8">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">
        <h2 class="text-center mb-2">
            {{ section.settings.title }}
        </h2>
        <ul class="
            collection-list 
            list-unstyled 
            row 
            {{ section.settings.row_xs | prepend: 'row-cols-' }} 
            {{ section.settings.row_sm | prepend: 'row-cols-sm-' }} 
            {{ section.settings.row_xl | prepend: 'row-cols-xl-' }} 
            mx-n2
        ">
            {% for block in section.blocks %}
                {% assign collection = collections[block.settings.collection] %}
                {% render 'collection-list-item' with collection as collection %}
            {% endfor %}
        </ul>
    </div>
</section>

{% schema %}
{
    "name": "Featured Collections",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Collections"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in a container",
            "default": true
        },
        {
            "type": "header",
            "content": "Collection"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "480"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        }, 
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image thumbnail",
            "default": true
        },
        {
            "type": "header",
            "content": "Items per row"
        },
        {
            "type": "range",
            "id": "row_xs",
            "label": "Items per row / mobile",
            "info": "Screen width: <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Items per row / tablet",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Items per row / desktop",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        }
    ],
    "blocks": [
        {
            "type": "collection",
            "name": "Collection",
            "settings": [
                {
                    "label": "Collection",
                    "id": "collection",
                    "type": "collection"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Featured Collections",
            "category": "Collection"
        }
    ]
}
{% endschema %}