{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
%}

<footer id="footer" class="{{ section.settings.bg_color }} {{ pt }} {{ pb }}">
    <div class="container">
        <div id="footer-blocks" class="list-unstyled row mb-10">
            {% for block in section.blocks %}
                <div class="footer-block col-lg">
                    <a 
                        class="nav-link h6 collapsed d-lg-none" 
                        href="#block-collapse-{{ block.id }}"
                        data-bs-toggle="collapse"
                        aria-expanded="false" 
                        aria-controls="block-collapse-{{ block.id }}"
                        role="button">
                        {{ block.settings.title }}
                    </a>
                    <h3 class="title d-none d-lg-inline-block {{ block.settings.title_size }}">
                        <span>
                            {{ block.settings.title }}
                        </span>
                    </h3>
                    <div id="block-collapse-{{ block.id }}" class="collapse d-lg-block">
                        <div class="mt-4 mb-6 my-lg-0">
                            {% case block.type %}
                                {% when 'richtext' %}
                                    {% unless block.settings.description == blank %}
                                        <div class="rte mt-2 small">
                                            {{ block.settings.description }}
                                        </div>
                                    {% endunless %}
                                    {% unless block.settings.btn_text == blank %}
                                        <a class="btn mt-6 {{ block.settings.btn_color }} {{ block.settings.btn_size }}" href="{{ block.settings.btn_url }}">
                                            {{ block.settings.btn_text }}
                                        </a>
                                    {% endunless %}
                                {% when 'menu' %}
                                    <ul class="nav flex-column mb-0">
                                        {% for link in linklists[block.settings.menu].links %}
                                            <li class="nav-item">
                                                <a class="nav-link px-0 py-3 py-lg-2" href="{{ link.url }}">
                                                    {{ link.title }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                            {% endcase %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
        <hr class="d-none d-sm-block mb-7">

        <div id="footer-copyright" class="small text-center">
            <p class="mb-0">
                &copy; {{ 'now' | date: "%Y" }} {{ shop.name }}. {{ 'general.general.all_rights_reserved' | t }}
            </p>
            {% if section.settings.show_powered_by %}
                <p class="mb-0">
                    Powered by <a href="https://www.shopify.com" target="_blank" rel="sponsored">Shopify</a>. 
                    Theme by <a href="https://www.kondasoft.com" target="_blank" rel="sponsored">KondaSoft</a>
                </p>
            {% endif %}
            {% if section.settings.show_social_icons %}
                <div class="social-icons-wrapper mt-4">
                    <small class="opacity-75 lh-sm visually-hidden">
                        {{ 'general.general.follow_us' | t }}
                    </small>
                    {% render 'social-icons', icon_size: 18 %}
                </div>
            {% endif %}
            {% if section.settings.show_payment_icons %}
                <div class="payment-icons-wrapper mt-4">
                    {% render 'payment-icons' %}
                </div>
            {% endif %}
        </div>
    </div>
</footer>

{% schema %}
{
    "name": "Footer",
    "settings": [
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-dark text-white",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-dark", "label": "Light" },
                { "group": "Dark", "value": "bg-primary text-white", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary text-white", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark text-white", "label": "Dark" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_payment_icons",
            "label": "Show payment icons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social icons",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_powered_by",
            "label": "Show Powered by",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 11
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 6
        }
    ],
    "blocks": [
        {
            "type": "richtext",
            "name": "Richtext",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Title size",
                    "default": "h6",
                    "options": [
                        { "group": "Heading", "value": "h1", "label": "H1" },
                        { "group": "Heading", "value": "h2", "label": "H2" },
                        { "group": "Heading", "value": "h3", "label": "H3" },
                        { "group": "Heading", "value": "h4", "label": "H4" },
                        { "group": "Heading", "value": "h5", "label": "H5" },
                        { "group": "Heading", "value": "h6", "label": "H6" }
                    ]
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button text",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Button URL"
                },
                {
                    "type": "select",
                    "id": "btn_color",
                    "label": "Button color",
                    "default": "btn-primary",
                    "options": [
                        { "group": "Normal", "value": "btn-link", "label": "Link" },
                        { "group": "Normal", "value": "btn-light", "label": "Light" },
                        { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                        { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                        { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                        { "group": "Normal", "value": "btn-success", "label": "Success" },
                        { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                        { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                        { "group": "Normal", "value": "btn-info", "label": "Info" },
                        { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                        { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                        { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                        { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                        { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                        { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                        { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                        { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
                    ]
                },
                {
                    "type": "select",
                    "id": "btn_size",
                    "label": "Button size",
                    "default": "btn-sm",
                    "options": [
                        { "value": "btn-sm", "label": "Small" },
                        { "value": "", "label": "Normal" },
                        { "value": "btn-lg", "label": "Large" }
                    ]
                }
            ]
        },
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "select",
                    "id": "title_size",
                    "label": "Title size",
                    "default": "h6",
                    "options": [
                        { "group": "Heading", "value": "h1", "label": "H1" },
                        { "group": "Heading", "value": "h2", "label": "H2" },
                        { "group": "Heading", "value": "h3", "label": "H3" },
                        { "group": "Heading", "value": "h4", "label": "H4" },
                        { "group": "Heading", "value": "h5", "label": "H5" },
                        { "group": "Heading", "value": "h6", "label": "H6" }
                    ]
                }
            ]
        }
    ]
}
{% endschema %}