<section id="site-footer"
  class="
    {{ section.settings.margin_top | prepend: 'mt-' }}
    {{ section.settings.margin_bottom | prepend: 'mb-' }}
    {{ section.settings.padding_top | prepend: 'pt-' }}
    {{ section.settings.padding_bottom | prepend: 'pb-' }}
    {{ section.settings.bg_color }}
  ">
  <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

    {% if section.blocks.size > 0 %}
      <div id="footer-blocks" class="row mt-2">
        {% for block in section.blocks %}
          <div class="col-md my-2">
            <h3 class="h5 mb-1">{{ block.settings.title | escape }}</h3>
            <div class="rte">{{ block.settings.content }}</div>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    {% if section.settings.menu != blank %}
      <hr class="my-4">

      <ul id="footer-nav" class="nav justify-content-center mx-n2">
        {% for link in linklists[section.settings.menu].links %}
          <li class="nav-item">
            <a class="nav-link px-2 text-decoration-none" href="{{ link.url }}">{{ link.title }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    <hr class="my-4">
    
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">

      <div>

        <div id="site-copyright" class="font-italic small py-1">
          &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}. {{ powered_by_link }}
        </div>

        {% if section.settings.show_social_icons %}
          {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
          <ul class="social-icons list-unstyled d-flex justify-content-center justify-content-md-start align-items-center my-1 mx-n1">

            {% if section.settings.social_icons_title != blank %}
              <small class="text-muted small font-italic pr-2">{{ section.settings.social_icons_title }}</small>
            {% endif %}

            {% for social in social_accounts %}
              {%- assign social_handle = social | handleize -%}
              {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
              {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

              {% if settings[social_link] != blank %}
                <li>
                  <a class="p-1 d-flex" href="{{ settings[social_link] }}" data-toggle="tooltip" data-placement="top" title="{{ social }}" aria-label="{{ social }}">
                    {% include social_icon %}
                  </a>
                </li>
              {% endif %}

            {% endfor %}
          </ul>
        {% endif %}
      
      </div>

      {% if section.settings.show_payment_icons %}
        {% unless shop.enabled_payment_types == empty %}
          <span class="sr-only">{{ 'footer.payment_methods' | t }}</span>
          <ul id="payment-icons" class="list-inline text-center mt-4 mt-md-2 mb-2">
            {% for type in shop.enabled_payment_types %}
              <li class="list-inline-item mr-1" data-toggle="tooltip" data-placement="top" title="{{ type | replace: "_", " " | camelcase }}">
                {{ type | payment_type_svg_tag: class: 'icon' }}
              </li>
            {% endfor %}
          </ul>
        {% endunless %}
      {% endif %}

    </div>

  {% if section.settings.container %}
  </div>
  {% endif %}

</section>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "select",
        "id": "bg_color",
        "label": "Background color",
        "default": "bg-dark text-white",
        "options": [
          {
            "value": "", "label": "White"
          },
          {
            "value": "bg-light", "label": "Light"
          },
          {
            "value": "bg-dark text-white", "label": "Dark"
          },
          {
            "value": "bg-primary text-white", "label": "Primary"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "container",
        "label": "Wrap in container",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_social_icons",
        "label": "Show social icons",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Footer menu"
      },
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "footer"
      },
      {
        "type": "header",
        "content": "Spacing"
      },
      {
        "type": "paragraph",
        "content": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
      },
      {
        "type": "range",
        "id": "padding_top",
        "label": "Padding top",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 6
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding bottom",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 3
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Margin top",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 0
      },
      {
        "type": "range",
        "id": "margin_bottom",
        "label": "Margin bottom",
        "min": 0,
        "max": 12,
        "step": 1,
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Footer block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "default": {
      "settings": {
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "title": "Free delivery",
            "content": "<p>Free delivery for all orders over $100.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "Satisfaction guarantee",
            "content": "<p>100% satisfied or full refund within 14 days.</p>"
          }
        },
        {
          "type": "text",
          "settings": {
            "title": "We are available 24/7",
            "content": "<p>Contact us any time via email or phone</p>"
          }
        }
      ]
    }
  }

{% endschema %}