{% if section.blocks.size > 0 %}

    {% assign pt = section.settings.padding_top | prepend: 'pt-' %}
    {% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
    {% assign mt = section.settings.margin_top | prepend: 'mt-' %}
    {% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

    {% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
    {% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
    {% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
    {% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
    {% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
    {% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

    {% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
    {% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
    {% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

    <section 
        id="footer-blocks" 
        class="overflow-hidden {{ pt }} {{ pb }} {{ mt }} {{ mb }} {{ section.settings.bg_style }}"
        style="{{ section.settings.bg_color | prepend: 'background-color: ' | append: ';' }}">
        <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

            <ul class="footer-blocks-grid list-unstyled row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">
                
                {% for block in section.blocks %}
                    <li 
                        class="footer-blocks-grid-item col pb-4"
                        role="listitem">
                        
                        {% unless block.settings.heading == blank %}
                            <h3 class="{{ block.settings.heading_size }}">
                                {{ block.settings.heading | escape }}
                            </h3>
                        {% endunless %}
                            
                        {% if block.type == 'richtext' %}
                            <div class="rte">
                                {{ block.settings.description }}
                            </div>
                        {% endif %}

                        {% if block.type == 'menu' %}
                            <div class="footer-menu">
                                <ul class="nav mb-4 {{ block.settings.direction }}">
                                    {% for link in linklists[block.settings.menu].links %}
                                        <li class="nav-item">
                                            <a 
                                                class="nav-link" 
                                                href="{{ link.url }}">
                                                {{ link.title }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                        {% if block.type == 'social_menu' %}
                            <div class="social-menu">
                                <ul class="nav mb-4 {{ block.settings.direction }}">
                                    {% for link in linklists[block.settings.menu].links %}
                                        <li class="nav-item">
                                            <a 
                                                class="nav-link d-inline-flex align-items-center" 
                                                href="{{ link.url }}">
                                                {% render 'social-icons' with icon: link.url, size: block.settings.icon_size, class: 'mx-n2' %}
                                                {% if block.settings.show_only_icons == false %}
                                                    <span class="ms-4">
                                                        {{ link.title }}
                                                    </span>
                                                {% endif %}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}

                    </li>
                {% endfor %}

            </div>

        </div>
    </section>
{% endif %}

{% schema %}
{
    "name": "Footer blocks",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in a container",
            "default": true
        },
        {
            "type": "color",
            "id": "bg_color",
            "label": "Background color",
            "default": "#343a40"
        },
        {
            "type": "select",
            "id": "bg_style",
            "label": "Background style",
            "options": [
                { "value": "text-body", "label": "Light" },
                { "value": "text-white", "label": "Dark" }
            ],
            "default": "text-white"
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 8
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        }
    ],
    "blocks": [
        {
            "type": "richtext",
            "name": "Richtext",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "info": "Leave empty to disable"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "Heading Size",
                    "default": "h5",
                    "options": [
                        {  "value": "h1", "label": "H1" },
                        {  "value": "h2", "label": "H2" },
                        {  "value": "h3", "label": "H3" },
                        {  "value": "h4", "label": "H4" },
                        {  "value": "h5", "label": "H5" },
                        {  "value": "h6", "label": "H6" }
                    ]
                }
            ]
        },
        {
            "type": "menu",
            "name": "Menu",
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Menu"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "info": "Leave empty to disable",
                    "default": "Quick links"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "Heading Size",
                    "default": "h5",
                    "options": [
                        {  "value": "h1", "label": "H1" },
                        {  "value": "h2", "label": "H2" },
                        {  "value": "h3", "label": "H3" },
                        {  "value": "h4", "label": "H4" },
                        {  "value": "h5", "label": "H5" },
                        {  "value": "h6", "label": "H6" }
                    ]
                },
                {
                    "type": "select",
                    "id": "direction",
                    "label": "Direction",
                    "options": [
                        {  "value": "", "label": "Horizontal" },
                        {  "value": "flex-column", "label": "Vertical" }
                    ],
                    "default": "flex-column"
                }
            ]
        },
        {
            "type": "social_menu",
            "name": "Social menu",
            "limit": 1,
            "settings": [
                {
                    "type": "link_list",
                    "id": "menu",
                    "label": "Social menu"
                },
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "info": "Leave empty to disable",
                    "default": "Follow us"
                },
                {
                    "type": "select",
                    "id": "heading_size",
                    "label": "Heading Size",
                    "default": "h5",
                    "options": [
                        {  "value": "h1", "label": "H1" },
                        {  "value": "h2", "label": "H2" },
                        {  "value": "h3", "label": "H3" },
                        {  "value": "h4", "label": "H4" },
                        {  "value": "h5", "label": "H5" },
                        {  "value": "h6", "label": "H6" }
                    ]
                },
                {
                    "type": "select",
                    "id": "direction",
                    "label": "Direction",
                    "options": [
                        {  "value": "", "label": "Horizontal" },
                        {  "value": "flex-column", "label": "Vertical" }
                    ],
                    "default": "flex-column"
                },
                {
                    "type": "text",
                    "id": "icon_size",
                    "label": "Icon size (px)",
                    "default": "18"
                },
                {
                    "type": "checkbox",
                    "id": "show_only_icons",
                    "label": "Show only icons",
                    "default": false
                }
            ]
        }
    ],
    "default": {
        "settings":  {
        },
        "blocks": [
        ]
    }
}
{% endschema %}