{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<section 
    id="gallery-{{ section.id }}" 
    class="gallery {% if section.settings.light_bg %}bg-light{% endif %} {{ section.settings.overlay_style }} {{ section.settings.overlay_opacity }} {% if section.settings.overlay_blur %}overlay-blur{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

        {% if section.settings.heading != blank or section.settings.subheading != blank %}
            <div class="heading-wrapper mb-3 overflow-hidden">

                {% unless section.settings.heading == blank %}
                    <h2 class="heading mb-1 {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endunless %}

                {% unless section.settings.subheading == blank %}
                    <div class="subheading rte text-muted {{ section.settings.subheading_size }} {{ section.settings.heading_alignment }}">
                        {{ section.settings.subheading }}
                    </div>
                {% endunless %}

            </div>
        {% endif %}

        <ul class="gallery-grid list-unstyled row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">
            {% assign limit = section.settings.limit | plus: 0 %}

            {% for block in section.blocks %}
                <li class="gallery-item text-center {% if limit > 0 and limit < forloop.index %}d-none d-sm-block{% endif %}">
                    
                    {% unless block.settings.url == blank %}
                        <a href="{{ block.settings.url }}">
                    {% endunless %}
                        
                        <div class="gallery-item-inner {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}">

                            <!-- Image -->
                            {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                            <img 
                                class="gallery-item-img img-fluid {% if section.settings.img_thumbnail == false %}rounded{% endif %}"
                                src="{{ block.settings.img | img_url: img_size, crop: 'center' }}"
                                alt="{{ block.settings.img.alt | escape }}" 
                                width="{{ section.settings.img_width }}"
                                height="{{ section.settings.img_height }}" 
                                loading="lazy">

                            {% unless block.settings.caption == blank %}
                                <h3 class="gallery-item-caption mb-0 {{ block.settings.caption_size }}">
                                    {{ block.settings.caption | escape }}
                                </h3>
                            {% endunless %}

                        </div>

                    {% unless block.settings.url == blank %}
                        </a>
                    {% endunless %}
                    
                </li>
            {% else %}

                <!-- Placeholders -->
                {% for i in (1..12) %}
                    <li class="logo-list-item px-2 py-2 text-center">
                        {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                    </li>
                {% endfor %}

            {% endfor %}

        </ul>
    </div>
</section>


{% schema %}
{
    "name": "Gallery",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Leave empty to disable",
            "default": "Gallery"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write something catchy for this section.</p>"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "text",
            "id": "limit",
            "label": "Limit items on mobile",
            "info": "Leave empty to disable",
            "default": "6"
        },
        {
            "type": "header",
            "content": "Image settings"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "480"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": false
        },
        {
            "type": "select",
            "id": "overlay_style",
            "label": "Overlay style",
            "options": [
                {  "value": "overlay-light", "label": "Light" },
                {  "value": "overlay-dark", "label": "Dark" }
            ],
            "default": "overlay-dark"
        },
        {
            "type": "select",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "options": [
                {  "value": "", "label": "Transparent" },
                {  "value": "overlay-opacity-25", "label": "25%" },
                {  "value": "overlay-opacity-50", "label": "50%" },
                {  "value": "overlay-opacity-75", "label": "75%" }
            ],
            "default": "overlay-opacity-50"
        },
        {
            "type": "checkbox",
            "id": "overlay_blur",
            "label": "Overlay blur",
            "default": true
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "img",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "caption",
                    "label": "Caption"
                },
                {
                    "type": "select",
                    "id": "caption_size",
                    "label": "Caption size",
                    "default": "h6",
                    "options": [
                        {  "value": "h1", "label": "H1" },
                        {  "value": "h2", "label": "H2" },
                        {  "value": "h3", "label": "H3" },
                        {  "value": "h4", "label": "H4" },
                        {  "value": "h5", "label": "H5" },
                        {  "value": "h6", "label": "H6" }
                    ]
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Gallery",
            "category": "Image"
        }
    ]
}
{% endschema %}
