{% case section.settings.navbar_expand %}
  {% when 'navbar-expand-sm' %}
    {% assign collapseOrder = 'order-sm-0' %}
    {% assign navbarIconsFlex = 'flex-sm-grow-0' %}
  {% when 'navbar-expand-md' %}
    {% assign collapseOrder = 'order-md-0' %}
    {% assign navbarIconsFlex = 'flex-md-grow-0' %}
  {% when 'navbar-expand-lg' %}
    {% assign collapseOrder = 'order-lg-0' %}
    {% assign navbarIconsFlex = 'flex-lg-grow-0' %}
  {% when 'navbar-expand-xl' %}
    {% assign collapseOrder = 'order-xl-0' %}
    {% assign navbarIconsFlex = 'flex-xl-grow-0' %}
  {% else %}
    {% assign collapseOrder = '' %}
    {% assign navbarIconsFlex = '' %}
{% endcase %}

{% if section.settings.announcement_enabled %}
  {% if section.settings.announcement_homepage == false or template.name == 'index' %}
    <div id="announcement-bar" class="py-2 text-center font-italic small {{ section.settings.announcement_color }}" role="alert">
      <div class="container">
        <p class="mb-0">
          {{ section.settings.announcement_text | escape }}

          {% if section.settings.announcement_link_url != blank %}
            <a  href="{{ section.settings.announcement_link_url }}">
              {{ section.settings.announcement_link_text | escape }}
            </a>
          {% endif %}
        </p>
      </div>
    </div>
  {% endif %}
{% endif %}

<nav id="navbar" class="navbar {{ section.settings.navbar_expand }} {{ section.settings.navbar_color }} {% if section.settings.shadow %}shadow-sm{% endif %}">
  {% if section.settings.container %}
    <div class="container">
  {% endif %}

    <a class="navbar-brand" href="/">
      {% if section.settings.logo == blank %}
        <span>{{ shop.name }}</span>
      {% else %}
        {% assign imageSize = section.settings.logo_height | prepend: 'x' %}
        <img class="img-fluid" src="{{ section.settings.logo | img_url: imageSize }}" alt="{{ section.settings.logo.alt | default: shop.name }}" width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}" height="{{ section.settings.logo_height }}">
      {% endif %}
    </a>

    <button class="navbar-toggler width-100 width-sm-auto mt-2 mt-sm-0 mb-1 mb-sm-0 ml-sm-3 order-1" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="{{ 'header.navbar.toggle' | t }}">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-2 {{ collapseOrder }}" id="navbarSupportedContent">
      <ul class="navbar-nav {{ section.settings.menu_position }}">

        {% for link in linklists[section.settings.menu].links %}
          {% if link.links == blank %}
            <li class="nav-item {% if link.active %}active{% endif %}">
              <a class="nav-link" href="{{ link.url }}" aria-current="{% if link.active %}page{% endif %}">{{ link.title }}</a>
            </li>
          {% else %}
            <li class="nav-item dropdown {% for childlink in link.links %}{% if childlink.active %}active{% endif %}{% endfor %}">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown-{{ forloop.index0 }}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown-{{ forloop.index0 }}">
                {% for childlink in link.links %}
                  {% if childlink.title contains "--divider" %}
                    <div class="dropdown-divider"></div>
                  {% elsif childlink.title contains '--header' %}
                    <h6 class="dropdown-header">{{ childlink.title | remove: "--header" }}</h6>
                  {% else %}
                    <li>
                      <a class="dropdown-item {% if childlink.active %}active{% endif %}" href="{{ childlink.url }}" aria-current="{% if childlink.active %}page{% endif %}">{{ childlink.title }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
              </ul>
            </li>
          {% endif %}
        {% endfor %}

      </ul>
    </div>

    <ul class="navbar-nav navbar-light position-relative ml-2 navbar-expand flex-grow-1 justify-content-end {{ navbarIconsFlex }}">

      <li class="nav-item {% if template.name == 'search' %}active{% endif %}">
        <div id="navbar-search" class="dropdown position-static">
          <a class="nav-link d-inline-flex px-2 align-items-center" href="{{ routes.search_url }}" role="button" id="dropdownSearchButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% include 'icon-search', width: 22, height: 22 %}
            <span class="sr-only">{{ 'header.search.title' | t }}</span>
          </a>
          <div class="dropdown-menu position-absolute dropdown-menu-right py-4 px-3" aria-labelledby="dropdownSearchButton">
            <form action="/search" method="get" class="d-flex" role="search">
              <input type="search" name="q" id="Search-{{ section.id }}" class="form-control w-auto mr-1" value="{{ search.terms | escape }}" placeholder="{{ 'header.search.placeholder' | t }}" aria-label="{{ 'header.search.placeholder' | t }}" size="24">
              <button type="submit" class="btn btn-primary">{{ 'header.search.submit' | t }}</button>
            </form>
          </div>
        </div>
      </li>

      {% if shop.customer_accounts_enabled %}
        <li class="nav-item {% if template.name == 'account' or template.name == 'login' %}active{% endif %}">
          <a class="nav-link d-inline-flex px-2 align-items-center" href="{{ routes.account_url }}">
            {% include 'icon-user', width: 22, height: 22 %}
            <span class="sr-only">{{ 'header.account.title' | t }}</span>
          </a>
        </li>
      {% endif %}

      <li class="nav-item">
        <a  class="nav-link d-inline-flex px-2 align-items-center {% if template.name == 'cart' %}active{% endif %}" href="{{ routes.cart_url }}">
          {% include 'icon-cart', width: 20, height: 20 %}
          <span class="sr-only">{{ 'header.cart.title' | t }} {{ cart.item_count }} </span>
          <span class="ml-2" aria-hidden="true">({{ cart.item_count }})</span>
        </a>
      </li>

    </ul>

  {% if section.settings.container %}
    </div>
  {% endif %}
</nav>


<style>
/*
  We wrap with a style tag to enable editor styling
*/

{% if section.settings.sticky %}
  #shopify-section-header {
    position: sticky;
    top: 0;
    z-index: 1020;
  }
{% endif %}

{% stylesheet 'scss' %}
// Announcement bar
#announcement-bar.bg-dark,
#announcement-bar.bg-primary {
  a {
    text-decoration: underline;
    color: white;
  }
}
{% endstylesheet %}
</style>

<script>
/*
  We wrap with a script tag to enable editor styling
*/

{% javascript %}
jQuery(document).ready(function ($) {

  // Autofocus search input
  $('#navbar-search').on('shown.bs.dropdown', function(e) {
    $('#navbar-search input[type=search]').focus()
  })

})
{% endjavascript %}
</script>

<script>
/*
  We wrap with a script tag to enable editor styling
*/
{% schema %}
{
  "name": "Header",
  "tag": "header",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "checkbox",
      "id": "announcement_enabled",
      "label": "Enable announcement bar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "announcement_homepage",
      "label": "Show on home page only",
      "default": true
    },
    {
      "type": "select",
      "id": "announcement_color",
      "label": "Announcement bar Color",
      "options": [
        {
          "value": "bg-white text-muted", "label": "White"
        },
        {
          "value": "bg-light text-muted", "label": "Light"
        },
        {
          "value": "bg-dark text-light", "label": "Dark"
        },
        {
          "value": "bg-primary text-light", "label": "Primary"
        }
      ],
      "default": "bg-dark text-light"
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Announce something important here"
    },
    {
      "type": "url",
      "id": "announcement_link_url",
      "label": "Announcement link URL"
    },
    {
      "type": "text",
      "id": "announcement_link_text",
      "label": "Announcement link text",
      "default": "Learn more"
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_height",
      "label": "Logo height (px)",
      "default": "30",
      "info": "Recommended is 30"
    },
    {
      "type": "header",
      "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu Position",
      "options": [
        {
          "value": "mr-auto", "label": "Left"
        },
        {
          "value": "ml-auto", "label": "Right"
        }
      ]
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "select",
      "id": "navbar_color",
      "label": "Navbar Color",
      "options": [
        {
          "value": "bg-white navbar-light", "label": "White"
        },
        {
          "value": "bg-light navbar-light", "label": "Light"
        },
        {
          "value": "bg-dark navbar-dark", "label": "Dark"
        },
        {
          "value": "bg-primary navbar-dark", "label": "Primary"
        }
      ],
      "default": "bg-light navbar-light"
    },
    {
      "type": "checkbox",
      "id": "container",
      "label": "Wrap in container",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky navbar",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "shadow",
      "label": "Shadow",
      "default": true
    },
    {
      "type": "header",
      "content": "Advanced Settings"
    },
    {
      "type": "select",
      "id": "navbar_expand",
      "label": "Navbar expand",
      "info": "Responsive behaviour [Learn more](https://getbootstrap.com/docs/4.5/components/navbar/#responsive-behaviors)",
      "options": [
        {
          "value": "navbar-expand-sm", "label": "Expand small (sm)"
        },
        {
          "value": "navbar-expand-md", "label": "Expand medium (md)"
        },
        {
          "value": "navbar-expand-lg", "label": "Expand large (lg)"
        },
        {
          "value": "navbar-expand-xl", "label": "Expand extra-large (xl)"
        },
        {
          "value": "", "label": "Always collapse"
        }
      ]
    }
  ]
}
{% endschema %}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": "{{ shop.name }}",
  {% if section.settings.logo %}
    "logo": "https:{{ section.settings.logo | img_url: 'master' }}",
  {% endif %}
  "sameAs": [
    "{{ settings.social_twitter_link }}",
    "{{ settings.social_facebook_link }}",
    "{{ settings.social_pinterest_link }}",
    "{{ settings.social_instagram_link }}",
    "{{ settings.social_tumblr_link }}",
    "{{ settings.social_snapchat_link }}",
    "{{ settings.social_youtube_link }}",
    "{{ settings.social_vimeo_link }}"
  ],
  "url": "{{ shop.url }}{{ page.url }}"
}
</script>
{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ shop.url }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}
