{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

<section 
    id="image-with-text-{{ section.id }}" 
    class="image-with-text {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

        <div class="row align-items-center {{ section.settings.img_alignment }}">
            <div class="col-md">

                <!-- Image -->
                {% if section.settings.img == blank %}
                    {{ 'image' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid' }}
                {% else %}
                    {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                    <img 
                        class="image-with-text-img img-fluid mb-3 mb-md-0 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                        src="{{ section.settings.img | img_url: img_size, crop: 'center' }}"
                        alt="{{ section.settings.img.alt | escape }}" 
                        width="{{ section.settings.img_width }}"
                        height="{{ section.settings.img_height }}" 
                        loading="lazy">
                {% endif %}
                
            </div>
            <div class="col-md">

                {% unless section.settings.heading == blank %}
                    <h2 class="heading mb-2 {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endunless %}
    
                {% unless section.settings.subheading == blank %}
                    <div class="subheading rte text-muted {{ section.settings.subheading_size }}">
                        {{ section.settings.subheading }}
                    </div>
                {% endunless %}
                
                <!-- Text -->
                <div class="image-with-text-text rte">
                    {{ section.settings.text }}
                </div>

                <!-- Button -->
                {% if section.settings.btn_label != blank and section.settings.btn_url != blank %}
                    <a
                        class="image-with-text-btn btn my-2 {{ section.settings.btn_color }} {{ section.settings.btn_size }}"
                        href="{{ section.settings.btn_url }}">
                        {{ section.settings.btn_label }}
                    </a>
                {% endif %}

            </div>
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Image with text",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "header",
            "content": "Image settings"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "720"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "720"
        },

        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "select",
            "id": "img_alignment",
            "label": "Image alignment",
            "info": "Note: On mobile view, image will display above text",
            "options": [
                { "value": "", "label": "Left" },
                { "value": "flex-row-reverse", "label": "Right" }
            ],
            "default": ""
        },
        {
            "type": "header",
            "content": "Text settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Image with text"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write something catchy for this section.</p>"
        },

        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>"
        },
        {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button link"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-outline-primary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Button size",
            "default": "",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Image with text",
            "category": "Image"
        }
    ]
}
{% endschema %}