{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

<div class="{% if section.settings.container %}container{% endif %}">
    <section 
        id="image-with-text-overlay-{{ section.id }}" 
        class="image-with-text-overlay {% if section.settings.light_bg %}bg-light{% endif %} {{ section.settings.section_height }} {{ section.settings.overlay_style }} {{ section.settings.overlay_opacity }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    
        <!-- Image -->
        {% if section.settings.img == blank %}
            {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg bg-light img-fluid position-absolute' }}
        {% else %}
            <img 
                class="image-with-text-overlay-img w-100 h-auto position-absolute {{ section.settings.img_alignment }}"
                src="{{ section.settings.img | img_url: '1600x', crop: 'center' }}"
                srcset="{{ section.settings.img | img_url: '800x', crop: 'center' }} 800w, {{ section.settings.img | img_url: '1600x', crop: 'center' }} 1600w"
                alt="{{ section.settings.img.alt | escape }}" 
                width="1600"
                height="{{ 1600 | divided_by: section.settings.img.aspect_ratio | round: 0 }}" 
                loading="lazy">
        {% endif %}

        <div class="image-with-text-overlay-inner-wrapper">
            <div class="image-with-text-overlay-inner text-center py-4 {% if section.settings.container %}px-4{% else %}container{% endif %}">
                
                <!-- Heading -->
                {% unless section.settings.heading == blank %}
                    <h2 class="heading mb-2 {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endunless %}

                <!-- Subheading -->
                {% unless section.settings.subheading == blank %}
                    <div class="subheading rte text-muted {% if section.settings.lead %}lead{% endif %}"">
                        {{ section.settings.subheading }}
                    </div>
                {% endunless %}
                
                <!-- Text -->
                <div class="image-with-text-text rte {% if section.settings.lead %}lead{% endif %}">
                    {{ section.settings.text }}
                </div>

                <!-- Button -->
                {% if section.settings.btn_label != blank and section.settings.btn_url != blank %}
                    <a
                        class="image-with-text-btn btn my-2 {{ section.settings.btn_color }} {{ section.settings.btn_size }}"
                        href="{{ section.settings.btn_url }}">
                        {{ section.settings.btn_label }}
                    </a>
                {% endif %}

            </div>
        </div>
        
    </section>
</div>

{% schema %}
{
    "name": "Image with text overlay",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": false
        },
        {
            "type": "select",
            "id": "section_height",
            "label": "Section height",
            "options": [
                {  "value": "section-height-sm", "label": "Small" },
                {  "value": "section-height-md", "label": "Medium" },
                {  "value": "section-height-lg", "label": "Large" }
            ],
            "default": "section-height-md"
        },
        {
            "type": "header",
            "content": "Image settings"
        },
        {
            "type": "image_picker",
            "id": "img",
            "label": "Image"
        },
        {
            "type": "select",
            "id": "overlay_style",
            "label": "Overlay style",
            "options": [
                {  "value": "overlay-light", "label": "Light" },
                {  "value": "overlay-dark", "label": "Dark" }
            ],
            "default": "overlay-dark"
        },
        {
            "type": "select",
            "id": "overlay_opacity",
            "label": "Overlay opacity",
            "options": [
                {  "value": "", "label": "Transparent" },
                {  "value": "overlay-opacity-25", "label": "25%" },
                {  "value": "overlay-opacity-50", "label": "50%" },
                {  "value": "overlay-opacity-75", "label": "75%" }
            ],
            "default": "overlay-opacity-50"
        },
        {
            "type": "select",
            "id": "img_alignment",
            "label": "Image alignment",
            "options": [
                {  "value": "image-with-text-overlay-img-top", "label": "Top" },
                {  "value": "image-with-text-overlay-img-center", "label": "Center" },
                {  "value": "image-with-text-overlay-img-bottom", "label": "Bottom" }
            ],
            "default": "image-with-text-overlay-img-center"
        },
        {
            "type": "header",
            "content": "Text settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Image with text overlay"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "default": "<p>Write something catchy for this section.</p>"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h1",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use overlay text to give your customers insight into your brand. Select imagery and text that relates to your style and story.</p>"
        },
        {
            "type": "checkbox",
            "id": "lead",
            "label": "Large text size",
            "default": true
        },
        {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "default": "Learn more"
        },
        {
            "type": "url",
            "id": "btn_url",
            "label": "Button link"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-light",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "select",
            "id": "btn_size",
            "label": "Button size",
            "default": "btn-lg",
            "options": [
                { "value": "btn-sm", "label": "Small" },
                { "value": "", "label": "Normal" },
                { "value": "btn-lg", "label": "Large" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Image with text overlay",
            "category": "Image"
        }
    ]
}
{% endschema %}