{% assign row_    = section.settings.row_ | prepend: 'row-cols-' %}
{% assign row_sm  = section.settings.row_sm | prepend: 'row-cols-sm-' %}
{% assign row_md  = section.settings.row_md | prepend: 'row-cols-md-' %}
{% assign row_lg  = section.settings.row_lg | prepend: 'row-cols-lg-' %}
{% assign row_xl  = section.settings.row_xl | prepend: 'row-cols-xl-' %}
{% assign row_xxl = section.settings.row_xxl | prepend: 'row-cols-xxl-' %}

{% assign gutter_mobile  = section.settings.gutter_mobile | prepend: 'g-' %}
{% assign gutter_tablet  = section.settings.gutter_tablet | prepend: 'g-sm-' %}
{% assign gutter_desktop = section.settings.gutter_desktop | prepend: 'g-xl-' %}

<div id="list-collections">

    <!-- Header -->
    <div
        class="heading-wrapper container overflow-hidden text-center mx-auto mb-3" 
        style="max-width: 768px">

        <h1 class="heading mb-1 {{ section.settings.heading_size }}">
            {{ section.settings.heading }}
        </h1>

        {% unless section.settings.subheading == blank %}
            <div class="description rte text-muted {{ section.settings.subheading_size }}">
                {{ section.settings.subheading }}
            </div>
        {% endunless %}

    </div>

    <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">

        <!-- No collections alert -->
        {% if collections.size == 0 %}
            <p class="no-collections-alert alert alert-warning">
                {{ 'collection.empty_collections_html' | t: blog_url: blog.url }}
            </p>
        {% else %}

            {% paginate collections by section.settings.paginate %}

                <ul class="collections-grid list-unstyled row {{ row_ }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {{ gutter_mobile }} {{ gutter_tablet }} {{ gutter_desktop }}">

                    {% for collection in collections %}
                        {% assign image = collection.image | default: collection.products.first.featured_image %}

                        <!-- Collection -->
                        <li 
                            class="collection-list-item pb-5 text-center">
                            <a 
                                class="d-block text-decoration-none" 
                                href="{{ collection.url }}">
                                    
                                <!-- Collection Image -->
                                {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                                <img 
                                    class="collection-list-item-img img-fluid mb-3 {% if section.settings.img_thumbnail %}img-thumbnail{% else %}rounded{% endif %}"
                                    src="{{ image | img_url: img_size, crop: 'center' }}"
                                    alt="{{ image.alt | escape }}" 
                                    width="{{ section.settings.img_width }}"
                                    height="{{ section.settings.img_height }}" 
                                    loading="lazy">
                                
                                <!-- Collection title -->
                                <h3 class="collection-list-item-title h6 mb-1">
                                    <span>{{ collection.title }}</span>
                                    
                                    <!-- Product count -->
                                    {% if section.settings.show_products_count %}
                                        <small>
                                            {% if  collection.products.size >= 50 %}
                                                (50+)
                                            {% else %}
                                                ({{ collection.products.size }})
                                            {% endif %}
                                        </small>
                                    {% endif %}
                                </h3>
                            </a>
                        </li>
                    {% endfor %}

                </ul>

                {% render 'pagination' with paginate: paginate, layout: layout %}

            {% endpaginate %}

        {% endif %}

    </div>

</div>

{% schema %}
{
    "name": "Collection page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Our collections"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write a small description here for the collections list page. <a href=\"collections/all\">Browse all products</a></p>"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "range",
            "id": "paginate",
            "label": "Collections per page",
            "min": 1,
            "max": 50,
            "default": 30
        },
        {
            "type": "header",
            "content": "Collection settings"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "480"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_products_count",
            "label": "Show products count",
            "default": true
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 4
        }
    ]
}
{% endschema %}