{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

<section 
    id="map-{{ section.id }}" 
    class="map {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="{% if section.settings.container %}container{% else %}{% endif %}">

        {% if section.settings.heading != blank or section.settings.subheading != blank %}
            <div class="heading-wrapper mb-2 overflow-hidden">

                {% unless section.settings.heading == blank %}
                    <h2 class="heading mb-1 {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}">
                        {{ section.settings.heading }}
                    </h2>
                {% endunless %}

                {% unless section.settings.subheading == blank %}
                    <div class="subheading rte text-muted {{ section.settings.subheading_size }} {{ section.settings.heading_alignment }}">
                        {{ section.settings.subheading }}
                    </div>
                {% endunless %}

            </div>
        {% endif %}

        <div 
            class="google-map-wrapper"
            style="height: {{ section.settings.map_height | append: 'px' }}">
            
            <div 
                class="google-map"
                data-api-key="{{ section.settings.api_key }}"
                data-lat="{{ section.settings.lat }}"
                data-lng="{{ section.settings.lng }}"
                data-zoom="{{ section.settings.zoom }}">
                <!-- Injected via JavaScript -->
            </div>

            {% if section.settings.title != blank or section.settings.content != blank %}
                <div class="google-map-content-wrapper {% if section.settings.container == false %}container{% endif %}">
                    <div class="google-map-content {{ section.settings.content_alignment }}">
                        
                        <button 
                            type="button" 
                            class="google-map-btn-close btn-close" 
                            aria-label="{{ 'general.close' | t }}">
                        </button>
                    
                        {% unless section.settings.title == blank %}
                            <h3 class="heading h6 mb-1">
                                {{ section.settings.title }}
                            </h3>
                        {% endunless %}

                        {% unless section.settings.content == blank %}
                            <div class="rte text-muted small">
                                {{ section.settings.content }}
                            </div>
                        {% endunless %}

                        {% unless section.settings.btn_label == blank %}
                            <a 
                                class="btn btn-sm d-inline-flex align-items-center {{ section.settings.btn_color }}"
                                href="https://www.google.com/maps/dir/?api=1&destination={{ section.settings.lat }},{{ section.settings.lng }}"
                                target="_blank">
                                {% render 'bi-geo-fill' with size: 14, class: 'me-2' %}
                                {{ section.settings.btn_label }}
                            </a>
                        {% endunless %}
                        
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</section>

{% schema %}
{
    "name": "Map",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Leave empty to disable",
            "default": "Our physical address"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write something catchy for this section.</p>"
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "header",
            "content": "Map settings"
        },
        {
            "type": "text",
            "id": "api_key",
            "label": "Google Maps API key",
            "info": "[Learn more](https://help.shopify.com/en/manual/online-store/os/using-themes/change-the-layout/theme-settings/map-section-api-key)"
        },
        {
            "type": "text",
            "id": "lat",
            "label": "Latitude",
            "info": "[Learn more](https://support.google.com/maps/answer/18539)",
            "default": "43.750840"
        },
        {
            "type": "text",
            "id": "lng",
            "label": "Longitude",
            "info": "[Learn more](https://support.google.com/maps/answer/18539)",
            "default": "7.441000"
        },
        {
            "type": "range",
            "id": "zoom",
            "label": "Zoom level",
            "min": 1,
            "max": 23,
            "default": 15
        },
        {
            "type": "text",
            "id": "map_height",
            "label": "Map height (px)",
            "default": "380"
        },
        {
            "type": "header",
            "content": "Content settings"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "info": "Leave empty to disable",
            "default": "Your Shop Name"
        },
        {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "info": "Leave empty to disable",
            "default": "<p>Avenue Princesse Grace.<br>Monaco, MC</p><p>Mon - Fri, 10am - 9pm<br>Saturday, 11am - 9pm<br>Sunday, 11am - 5pm</p>"
        },
        {
            "type": "select",
            "id": "content_alignment",
            "label": "Content alignment",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "info": "Leave empty to disable",
            "default": "Get directions"
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-outline-secondary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Map",
            "category": "Store information"
        }
    ]
}
{% endschema %}
