<nav class="navbar navbar-expand-lg shadow-sm {{ section.settings.color }}">
    <div class="container">
        <button 
            class="navbar-toggler me-3" 
            type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#navbar-offcanvas" 
            aria-controls="navbar-offcanvas" 
            aria-expanded="false" 
            aria-label="{{ 'general.accessibility.open_menu' | t }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand flex-grow-1 flex-lg-grow-0 py-0" href="{{ routes.root_url }}">
            {% if section.settings.logo == blank %}
                {{ shop.name }}
            {% else %}
                <img 
                    src="{{ section.settings.logo | img_url: 'x40', crop: 'center', scale: 2 }}" 
                    alt="{{ section.settings.logo.alt | default: shop.name }}"
                    width="{{ 40 | times: section.settings.logo.aspect_ratio | round }}" 
                    height="40">
            {% endif %}
        </a>
        {% render 'navbar-collapse' %}
        <div id="navbar-icons-nav" class="navbar-expand">
            <ul class="navbar-nav">
                {% if shop.customer_accounts_enabled %}
                    <li id="nav-item-account" class="nav-item d-none d-lg-block">
                        <a 
                            class="nav-link {% if template.name == 'login' or template.name == 'account' %}active{% endif %}" 
                            aria-current="{% if template.name == 'login' or template.name == 'account' %}page{% endif %}" 
                            href="{{ routes.account_url }}"
                            aria-label="{{ 'account.label' | t }}">
                            {% render 'icon-account', size: 22 %}
                        </a>
                    </li>
                {% endif %}
                <li id="nav-item-search" class="nav-item">
                    <a 
                        class="nav-link {% if template.name == 'search' %}active{% endif %}" 
                        aria-current="{% if template.name == 'search' %}page{% endif %}" 
                        href="{{ routes.search_url }}"
                        aria-label="{{ 'search.label' | t }}">
                        {% render 'icon-search', size: 22 %}
                    </a>
                </li>
                <li id="nav-item-cart" class="nav-item">
                    <a class="nav-link {% if template.name == 'cart' %}active{% endif %}" 
                        aria-current="{% if template.name == 'cart' %}page{% endif %}" 
                        href="{{ routes.cart_url }}"
                        aria-label="{{ 'cart.label' | t }}">
                        {% render 'icon-cart', size: 22 %}
                        <span class="badge cart-item-count {% if cart.item_count == 0 %}d-none{% endif %}">
                            {{ cart.item_count | t }}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% render 'navbar-offcanvas' %}

{% schema %}
{
    "name": "Navbar",
    "class": "sticky-top",
    "settings": [
        {
            "type": "select",
            "id": "color",
            "label": "Color",
            "options": [
                { "value": "bg-white navbar-light", "label": "White" },
                { "value": "bg-light navbar-light", "label": "Light" },
                { "value": "bg-dark navbar-dark", "label": "Dark" },
                { "value": "bg-primary navbar-dark", "label": "Primary" },
                { "value": "bg-secondary navbar-dark", "label": "Secondary" }
            ],
            "default": "bg-white navbar-light"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"   
        },
        {
            "type": "link_list",
            "id": "desktop_menu",
            "label": "Desktop menu",
            "default": "main-menu"
        },
        {
            "type": "link_list",
            "id": "mobile_menu",
            "label": "Mobile menu",
            "default": "main-menu"
        }
    ]
}
{% endschema %}