{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

<section 
    id="newsletter-{{ section.id }}" 
    class="newsletter {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">

        <div class="heading-wrapper mb-3 overflow-hidden">

            <h2 class="heading mb-1 {{ section.settings.heading_alignment }} {{ section.settings.heading_size }}">
                {{ section.settings.heading }}
            </h2>

            {% unless section.settings.subheading == blank %}
                <div class="subheading rte text-muted {{ section.settings.subheading_size }} {{ section.settings.heading_alignment }}">
                    {{ section.settings.subheading }}
                </div>
            {% endunless %}

        </div>

        <!-- Newsletter form -->
        {% form 'customer' %}
            <input type="hidden" name="contact[tags]" value="newsletter">
    
            {{ form.errors | default_errors }}

            {% if form.posted_successfully? %}
                <p class="newsletter-alert alert alert-success">
                    {{ 'general.newsletter.confirmation' | t }}
                </p>
            {% endif %}
    
            <div class="input-group justify-content-center flex-nowrap">
                
                <!-- Newsletter input field -->
                <input 
                    type="email" 
                    name="contact[email]" 
                    size="30"
                    class="form-control w-auto flex-grow-0" 
                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" 
                    placeholder="{{ 'general.newsletter.label' | t }}" 
                    aria-label="{{ 'general.newsletter.label' | t }}"
                    required>

                    <button 
                        type="submit" 
                        name="commit" 
                        class="btn flex-shrink-0 {{ section.settings.btn_color }}">
                    {{ 'general.newsletter.submit' | t }}
                </button>
            </div>
        {% endform %}

    </div>
</section>


{% schema %}
{
    "name": "Newsletter",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Newsletter subscribe"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Promotions, new products and sales. Directly to your inbox.</p>"
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "select",
            "id": "btn_color",
            "label": "Button color",
            "default": "btn-secondary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Newsletter",
            "category": "Social"
        }
    ]
}
{% endschema %}