{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<article class="">

    <div 
        class="container mx-auto"
        style="{{ max_width }}">

        <!-- Header -->
        <header class="heading-wrapper mb-2 overflow-hidden text-center">

            <!-- Heading -->
            <h1 class="heading {{ section.settings.heading_size }}">
                {{ page.title }}
            </h1>

        </header>

        <!-- Description -->
        <div class="description rte">
            {{ page.content }}
        </div>

    </div>
</article>

{% schema %}
{
    "name": "Page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "info": "Adjust post content width (in pixels). Leave empty to use the container.",
            "default": "768"
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        }
    ]
}
{% endschema %}