<div class="container text-center">
  
  {% if section.settings.logo == blank %}
    <span class="h2 d-block">{{ shop.name }}</span>
  {% else %}
    {% assign imageSize = section.settings.logo_height | prepend: 'x' %}
    <img 
      class="img-fluid mb-2" 
      src="{{ section.settings.logo | img_url: imageSize }}" 
      alt="{{ section.settings.logo.alt | default: shop.name }}" 
      width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}" 
      height="{{ section.settings.logo_height }}"
    >
  {% endif %}

  {% if shop.password_message != blank %}
    <p class="mb-5">
      {{ shop.password_message }}
    </p>
  {% endif %}

  {% if section.settings.show_countdown %}
    <ul id="password-countdown" class="list-inline mb-4" aria-hidden="true">
      <li class="list-inline-item m-1 border">
        <span id="countdown-days"></span>
        <small>Days</small>
      </li>
      <li class="list-inline-item m-1 border">
        <span id="countdown-hours"></span>
        <small>Hours</small>
      </li>
      <li class="list-inline-item m-1 border">
        <span id="countdown-minutes"></span>
        <small>Minutes</small>
      </li>
      <li class="list-inline-item m-1 border">
        <span id="countdown-seconds"></span>
        <small>Seconds</small>
      </li>
    </ul>
    <noscript>
      {{ 'password_page.store_will_open' | t }} {{ section.settings.countdown_date | time_tag }}
    </noscript>
    <span class="sr-only">{{ 'password_page.store_will_open' | t }} {{ section.settings.countdown_date | time_tag }} </span>
  {% endif %}

  {% if section.settings.show_social_icons %}
    {% if settings.share_facebook or settings.share_twitter %}
      <div class="mb-5">
        <p class="text-muted mb-1 small">{{ 'password_page.spread_the_word' | t }}</p>
        {% include 'social-sharing', share_image: settings.share_image | img_url: 'master' %}
      </div>
    {% endif %}
  {% endif %}

  {% form 'storefront_password', class: 'bg-light py-5 px-3 rounded' %}

    {{ form.errors | default_errors }}

    <div class="input-group w-auto d-inline-flex mb-3">
      <input type="password" name="password" class="form-control" placeholder="{{ 'password_page.form.password_placeholder' | t }}" aria-label="{{ password_page.password_placeholder | t }}" required style="min-width: 240px;">
      <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" id="button-addon2">{{ 'password_page.form.submit' | t }}</button>
      </div>
    </div>
    <p class="small text-muted mb-0">Are you the store owner? <a href="/admin">Log in here</a></p>

  {% endform %}

  <footer class="mt-5 mb-2 text-center">
    <small class="text-muted font-italic d-flex flex-column align-items-center">
      {% capture shopify_link %}
        <a href="//www.shopify.com" target="_blank" rel="nofollow" title="Create your own online store with Shopify">
          <div class="mt-2" style="width: 80px">
            {% include 'icon-shopify-logo' %}
          </div>
          <span class="sr-only">Shopify</span>
        </a>
      {% endcapture %}
      {{ 'password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
    </small>
  </footer>
</div>

<style>
  #shopify-section-password-template {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem 0;
  }

  @media (max-width: 600px) {
    #shopify-section-password-template {
      padding: 1rem;
    }
  }

  .container {
    max-width: 720px;
  }

  {% if section.settings.show_countdown %}
    ul#password-countdown {
    }
    @media (max-width: 600px) {
      ul#password-countdown {
        max-width: 320px;
        margin-left: auto;
        margin-right: auto;
      }
    }
    ul#password-countdown li {
      border-width: 2px !important;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      line-height: normal;
    }
    ul#password-countdown li span {
      display: block;
      font-size: 2rem;
    }
    ul#password-countdown li small {
      color: $text-muted;
    }
  {% endif %}

  {% if section.settings.bg_image != blank %}
    #shopify-section-password-template {
      background-image: url({{ section.settings.bg_image | img_url: '2400x' }});
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
    }
    .container {
      margin-top: 3rem;
      margin-bottom: 3rem;
      border-radius: 8px;
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.8);
      padding-top: 2.5rem;
      padding-bottom: 1.5rem;
    }
    @media (max-width: 600px) {
      .container {
        margin-top: 0rem;
        margin-bottom: 0rem;
      }
    }
    form#login_form {
      background: transparent!important;
      border-top: 1px solid white;
      border-bottom: 1px solid white;
    }
    ul#password-countdown li {
      background: white !important;
    }
  {% endif %}
</style>


<script>
  {% if section.settings.show_countdown %}
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    let countDown = new Date('{{ section.settings.countdown_date }}').getTime(),

    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = countDown - now;

      document.getElementById('countdown-days').innerText = Math.floor(distance / (day)),
      document.getElementById('countdown-hours').innerText = Math.floor((distance % (day)) / (hour)),
      document.getElementById('countdown-minutes').innerText = Math.floor((distance % (hour)) / (minute)),
      document.getElementById('countdown-seconds').innerText = Math.floor((distance % (minute)) / second);

      //do something later when date is reached
      //if (distance < 0) {
      //  clearInterval(x);
      //  'IT'S MY BIRTHDAY!;
      //}

    }, second)
  {% endif %}
</script>

{% schema %}
{
  "name": "Password page",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "logo_height",
      "label": "Logo height (px)",
      "default": "60"
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background image",
      "info": "An optional image to display in background"
    },
    {
      "type": "checkbox",
      "id": "show_countdown",
      "label": "Show Countdown",
      "default": true
    },
    {
      "type": "text",
      "id": "countdown_date",
      "label": "Countdown date",
      "default": "Dec 31, 2020 00:00:00",
      "info": "E.g: Dec 31, 2020 00:00:00"
    },
    {
      "type": "checkbox",
      "id": "show_social_icons",
      "label": "Show social icons",
      "default": true
    }
  ]
}
{% endschema %}