<div 
    id="password-page-wrapper"
    class="bg-light vh-100 d-flex flex-column align-self-center justify-content-center">

    <div 
        id="password-page" 
        class="container mb-3" 
        style="max-width: 576px;">
        <div class="bg-white rounded text-center py-6 px-4">
        
            <!-- Logo -->
            {% if section.settings.logo == blank %}
                <span 
                    id="logo-text" 
                    class="h2 d-block mt-2 mb-2">
                    {{ shop.name }}
                </span>
            {% else %}
                {% assign img_size = section.settings.logo_height | prepend: 'x' %}
                <img
                    id="logo-img"
                    class="mt-2 mb-2" 
                    src="{{ section.settings.logo | img_url: img_size }}" 
                    alt="{{ section.settings.logo.alt | default: shop.name }}" 
                    width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}"
                    height="{{ section.settings.logo_height | escape }}">
            {% endif %}
            
            <!-- Password Message -->
            {% if shop.password_message != blank %}
                <p class="mb-5">
                    {{ shop.password_message }}
                </p>
            {% endif %}
        
            <!-- Social sharing -->
            {% if section.settings.show_social_sharing %}
                <h2 class="h6 mb-n3">
                    {{ 'general.password_page.spread_the_word' | t }}
                </h2>
                <div class="social-sharing mb-6">
                    {% render 'social-sharing' with share_title: product.title, share_permalink: product.url, share_image: product.featured_image %}
                </div>
            {% endif %}
        
            <!-- Password form -->
            {% form 'storefront_password', class: '' %}
                {{ form.errors | default_errors }}

                <div class="input-group">
                    <input 
                        class="form-control" 
                        type="password" 
                        name="password"
                        placeholder="{{ 'general.password_page.form.password_placeholder' | t }}" 
                        aria-label="{{ general.password_page.password_placeholder | t }}" 
                        required>
                    <button 
                        class="btn btn-outline-primary" 
                        type="submit" 
                        id="button-addon2">
                        {{ 'general.password_page.form.submit' | t }}
                    </button>
                </div>
            {% endform %}

        </div>
    </div>
    
    <!-- Copyright -->
    <div 
        id="footer-copyright" 
        class="text-center small text-muted fst-italic mb-7 px-4">
        <span
            id="footer-copyright-copy">
            &copy; {{ 'now' | date: "%Y" }}, {{ shop.name }}
        </span>
        {% if section.settings.show_powered_by %}
            <span 
                id="footer-copyright-powered-by"
                class="ms-1">
                Powered by
                <a 
                    href="https://www.shopify.com/?ref=kondasoft" 
                    target="_blank">
                    Shopify</a>
            </span>
        {% endif %}
        {% if section.settings.show_theme_by %}
            <span 
                id="footer-copyright-theme-by"
                class="ms-1">
                Theme by
                <a 
                    href="https://www.kondasoft.com" 
                    target="_blank">
                    KondaSoft</a>
            </span>
        {% endif %}
    </div>

</div>
  
{% schema %}
{
    "name": "Password page",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "text",
            "id": "logo_height",
            "label": "Logo height (px)",
            "default": "30"
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_powered_by",
            "label": "Show 'powered by' link",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_theme_by",
            "label": "Show 'theme by' link",
            "default": true
        }
    ]
}
{% endschema %}