{% assign current_variant = product.selected_or_first_available_variant %}
{% assign current_media_pos = current_variant.featured_media.position | default: 1  %}

<div id="product-page" class="pt-4 pt-lg-6 pb-6"">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">

                <!-- Product carousel -->
                <div 
                    id="product-carousel" 
                    class="carousel slide mb-5" 
                    data-bs-ride="carousel"
                    data-bs-interval="false">
                    <div class="carousel-indicators mb-2">
                        {% for media in product.media %}
                            <button 
                                type="button"
                                data-bs-target="#product-carousel"
                                data-bs-slide-to="{{ forloop.index0 }}"
                                class="{% if current_media_pos == forloop.index %}active{% endif %}"
                                aria-current="true"
                                aria-label="Slide {{ forloop.index }}">
                            </button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for media in product.media %}
                            <div class="carousel-item {% if current_media_pos == forloop.index %}active{% endif %}">
                                {% case media.media_type %}
                                    {% when 'image' %}
                                        {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                                        <img
                                            src="{{ media.src | img_url: img_size, crop: 'center' }}"
                                            alt="{{ media.alt | escape }}"
                                            width="{{ section.settings.img_width }}"
                                            height="{{ section.settings.img_height }}"
                                            class="product-carousel-img img-fluid w-100 rounded">
                                    {% when 'external_video' %}
                                        <div class="ratio ratio-16x9">
                                            {{ media | external_video_tag }}
                                        </div>
                                    {% when 'video' %}
                                        <div class="ratio ratio-16x9">
                                            {{ media | video_tag: controls: true }}
                                        </div>
                                {% endcase %}
                            </div>
                        {% endfor %}
                    </div>
                    <button
                        class="carousel-control-prev"
                        type="button"
                        data-bs-target="#product-carousel"
                        data-bs-slide="prev"
                        aria-label="Previous">
                    <span class="carousel-control-prev-icon"></span>
                    </button>
                    <button 
                        class="carousel-control-next"
                        type="button" 
                        data-bs-target="#product-carousel" 
                        data-bs-slide="next"
                        aria-label="Next">
                    <span class="carousel-control-next-icon"></span>
                    </button>
                </div>

            </div>
            <div class="col-lg-6">

                <!-- Product title -->
                <h1 class="{{ section.settings.title_size }} mt-lg-1 mb-2">
                    {{ product.title }}
                </h1>

                <!-- Product price -->
                <p 
                    id="product-price" 
                    class="product-price lead fw-normal mb-4">
                    <s class="
                        product-price-compare 
                        text-muted 
                        me-1 
                        {% unless current_variant.compare_at_price > current_variant.price %}
                            d-none
                        {% endunless %}">
                        <span class="visually-hidden">
                            {{ 'product.old_price' | t }}
                        </span>
                        <span>
                            {{ current_variant.compare_at_price | money }}
                        </span>
                    </s>
                    <span class="product-price-final">
                        {{ current_variant.price | money }}
                    </span>
                </p>

                <!-- Product form -->
                <div id="product-form" class="bg-light px-5 py-5 mb-5 rounded">

                    <!-- Product options -->
                    {% unless product.has_only_default_variant %}
                        <div id="product-options" class="pb-2">
                            {% for option in product.options_with_values %}
                                <div class="product-option input-group mb-3">
                                    <label
                                        class="input-group-text" 
                                        for="{{ option.name | handleize | prepend: 'option-' }}">
                                        {{ option.name }}
                                    </label>
                                    <select 
                                        id="{{ option.name | handleize | prepend: 'option-' }}"
                                        class="form-select">
                                        {% for value in option.values %}
                                            <option 
                                                value="{{ value }}"
                                                {% if value == option.selected_value %}
                                                    selected
                                                {% endif %}>
                                                {{ value }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            {% endfor %}
                        </div>
                    {% endunless %}

                    <!-- Add to cart button -->
                    <button
                        id="add-to-cart-btn"
                        class="btn btn-primary w-100"
                        type="button"
                        data-variant-id="{{ current_variant.id }}"
                        data-quantity="1"
                        data-text-add-to-cart="{{ 'product.add_to_cart' | t }}"
                        data-text-sold-out="{{ 'product.sold_out' | t }}"
                        data-text-unavailable="{{ 'product.unavailable' | t }}"
                        data-text-added-to-cart="{{ 'product.added_to_cart' | t }}"
                        data-text-view-cart="{{ 'product.view_cart' | t }}"
                        data-cart-route-url="{{ routes.cart_url }}"
                        {% unless current_variant.available %}
                            disabled
                        {% endunless %}>
                        {% if current_variant.available %}
                            {{ 'product.add_to_cart' | t }}
                        {% else %}
                            {{ 'product.sold_out' | t }}
                        {% endif %}
                    </button>

                </div>

                <!-- Product accordion -->
                <div id="product-accordion" class="accordion mb-5">
                    {% for block in section.blocks %}
                        <div class="accordion-item">
                            <h3 id="product-accordion-heading-{{ block.id }}" class="accordion-header mb-0">
                                <button 
                                    class="accordion-button {% if forloop.index > 1 %}collapsed{% endif %}" 
                                    type="button"
                                    data-bs-toggle="collapse" 
                                    data-bs-target="#product-accordion-collapse-{{ block.id }}" 
                                    aria-expanded="true" 
                                    aria-controls="product-accordion-collapse-{{ block.id }}">
                                    {{ block.settings.title | escape }}
                                </button>
                            </h3>
                            <div 
                                id="product-accordion-collapse-{{ block.id }}" 
                                class="accordion-collapse collapse {% if forloop.index == 1 %}show{% endif %}" 
                                data-bs-parent="#product-accordion"
                                aria-labelledby="product-accordion-heading-{{ block.id }}">
                                <div class="accordion-body">
                                    {% if block.type == 'description' %}
                                        <div class="rte">
                                            {{ product.description }}
                                        </div>
                                    {% endif %}
                                    {% if block.type == 'richtext' %}
                                        <div class="rte">
                                            {{ block.settings.description }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Social Sharing -->
                {% if section.settings.show_social_sharing %}
                    <div class="product-social-sharing text-center mt-n1 mb-6">
                        {% render 'social-sharing' with share_title: product.title, share_permalink: product.url, share_image: product.featured_image %}
                    </div>
                {% endif %}
                    
            </div>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product pages",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "display-2",
            "options": [
                {  "value": "display-1", "label": "Display 1" },
                {  "value": "display-2", "label": "Display 2" },
                {  "value": "display-3", "label": "Display 3" },
                {  "value": "display-4", "label": "Display 4" },
                {  "value": "display-5", "label": "Display 5" },
                {  "value": "display-6", "label": "Display 6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_social_sharing",
            "label": "Show social sharing",
            "default": true
        },
        {
            "type": "header",
            "content": "Carousel"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "960"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "960"
        }
    ],
    "blocks": [
        {
            "type": "description",
            "name": "Product description",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Details"
                }
            ]
        },
        {
            "type": "richtext",
            "name": "Richtext",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Rich text"
                },
                {
                    "type": "richtext",
                    "id": "description",
                    "label": "Description"
                }
            ]
        }
    ]
}
{% endschema %}
