{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
{% assign image_size = section.settings.image_width | append: 'x' | append: section.settings.image_height %}
{% assign gallery_image_size = section.settings.gallery_image_width | append: 'x' | append: section.settings.gallery_image_height %}
{% assign modal_image_size = section.settings.modal_image_width | append: 'x' | append: section.settings.modal_image_height %}

<div class="mt-7 {% if section.settings.container %} container {% else %} container-fluid {% endif %}">

  <div class="row {{ section.settings.images_alignment }}">

    <div class="product-images col{{ section.settings.breakpoint }} mb-3">
      
      {% assign modal_image_size = section.settings.modal_image_width | append: 'x' | append: section.settings.modal_image_height %}
      <a href="{{ featured_image | img_url: modal_image_size, crop: 'center'  }}" data-toggle="modal" data-target="#product-photo-gallery-modal">

        <div class="
          position-relative
          overflow-hidden
          mb-3
          {% if section.settings.image_border %}img-thumbnail{% endif %}
          {% if section.settings.image_circle %}rounded-circle{% endif %}
          {{ section.settings.image_hover_effect }}
        ">
          <img
            class="product-featured-image lazyload img-fluid {% if section.settings.image_circle %}rounded-circle{% endif %}"
            src="{{ 'no-image.jpg' | asset_img_url: image_size, crop: 'center' }}"
            data-src="{{ featured_image | img_url: image_size, crop: 'center'  }}"
            alt="{{ featured_image.alt | escape }}"
            width="{{ section.settings.image_width }}"
            height="{{ section.settings.image_height }}"
            loading="lazy"
          >
          {% if section.settings.show_discount_badge and product.compare_at_price > product.price %}
            <small class="product-discount-badge badge-right" style="{{ settings.color_on_sale | prepend: 'background-color: ' }}">
              {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0' | prepend: '-' | append: '%' }}
            </small>
          {% endif %}
        </div>
      </a>

      {% if product.images.size > 1 %}
        <ul class="product-image-gallery list-unstyled d-flex flex-wrap mx-n1 {{ section.settings.gallery_row_cols | prepend: 'row-cols-' }}">
          {% for image in product.images %}
            <li class="p-1">
              <a
                id="{{ image.id | prepend: 'product-image-' }}"
                href="{{ image.src | img_url: 'master' }}"
                data-featured-img="{{ image.src | img_url: image_size, crop: 'center' }}"
                data-modal-img="{{ image.src | img_url: modal_image_size, crop: 'center' }}"
                class="{% if product.featured_image == image %}active{% endif %}"
                {% if product.featured_image == image %} aria-current="true"{% endif %}
              >
                <div class="
                  overflow-hidden
                  {% if section.settings.image_border %}img-thumbnail{% endif %}
                  {% if section.settings.image_circle %}rounded-circle{% endif %}
                  {% if product.featured_image == image %}border-secondary{% endif %}
                  {{ section.settings.image_hover_effect }}
                ">
                  <img
                    class="img-fluid lazyload {% if section.settings.image_circle %}rounded-circle{% endif %}"
                    src="{{ 'no-image.jpg' | asset_img_url: gallery_image_size, crop: 'center' }}"
                    data-src="{{ image.src | img_url: gallery_image_size, crop: 'center' }}"
                    alt="{{ image.alt | escape }}"
                    width="{{ section.settings.gallery_image_width }}"
                    height="{{ section.settings.gallery_image_height }}"
                    loading="lazy"
                  >
                </div>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="col{{ section.settings.breakpoint }} mb-3">

      <h1>{{ product.title }}</h1>

      {% if section.settings.show_vendor %}
        <p>{{ product.vendor }}</p>
      {% endif %}

      {% form 'product', product, class: 'mb-3' %}

        <div class="product-price mb-3 font-size-120" style="{{ settings.color_price | prepend: 'color: ' }}">
          {% if product.compare_at_price_max > product.price %}
            <span class="sr-only">{{ 'product.regular_price' | t }}</span>
            {% if current_variant.compare_at_price > current_variant.price %}
            <s class="text-muted opacity-75 mr-2">
              {{ current_variant.compare_at_price | money }}
            </s>
            {% endif %}
          {% endif %}
          <span>
            {{ current_variant.price | money }}
          </span>
        </div>

        <div class="bg-light py-3 px-3">

          <select name="id" id="product-page-variant-select" class="custom-select mb-3 {% if product.has_only_default_variant %}d-none{% endif %}">
            {% for variant in product.variants %}
              <option 
                {% unless variant.available %}disabled{% endunless %}
                value="{{ variant.id }}"
              >
                {{ variant.title }} - {{ variant.price | money }}
              </option>
            {% endfor %}
          </select>

          <hr class="mt-4 mb-3 {% if product.has_only_default_variant %}d-none{% endif %}">

          <div class="d-flex justify-content-center">
            
            <input type="number" class="form-control w-auto mr-2" style="max-width: 80px;" size="20" name="quantity" value="1" min="1" aria-label="{{ 'product.quantity' | t }}">
            <button
              class="add-to-cart-btn btn btn-primary"
              type="submit"
              name="add"
              data-loading-text="{{ 'misc.loading' | t }}"
              data-add-to-cart-text="{{ 'product.add_to_cart' | t }}"
              data-view-cart-text="{{ 'product.view_cart' | t }}"
              aria-controls="cart-toast-wrapper"
            >
              <div class="d-none bs-spinner spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></div>
              <span>{{ 'product.add_to_cart' | t }}</span>
            </button>
          </div>

        </div>
      {% endform %}

      <div class="rte">
        {{ product.description }}
      </div>
    
      {% if section.settings.show_share_buttons %}
        <hr class="mt-5">
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: featured_image %}
      {% endif %}

    </div>

  </div>

</div>

<!-- Product Photo Gallery Modal -->
<div 
  class="modal {{ section.settings.modal_transition }}" 
  id="product-photo-gallery-modal" 
  tabindex="-1" 
  role="dialog" 
  aria-labelledby="product-photo-gallery-modal-label" 
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg {% if section.settings.modal_center %}modal-dialog-centered{% endif %}">
    <div class="modal-content">
      <div class="modal-header">
        <h5 
          class="modal-title" 
          id="product-photo-gallery-modal-label">{{ 'misc.image' | t }} 
          <span id="product-photo-gallery-counter" data-count="{{ product.images.size }}">
            {{ product.images.size | prepend: '1/' }}
          </span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="product-photo-gallery-carousel" class="carousel {{ section.settings.modal_carousel_transition }}" data-ride="carousel"  data-interval="{{ section.settings.interval | times: 1000 }}" data-pause="hover">
          <div class="carousel-inner">
            
            {% for image in product.images %}
              <div class="carousel-item {% if forloop.index0 == 0 %}active{% endif %}">
                
                {% if forloop.index0 == 0 %}
                  <img 
                    src="{{ image.src | img_url: modal_image_size, crop: 'center' }}" 
                    class="lazyload d-block w-100 h-auto" alt="{{ image.alt | escape }}" 
                    width="{{ section.settings.modal_image_width }}" 
                    height="{{ section.settings.modal_image_height }}"
                    >
                {% else %}
                  <img 
                    data-src="{{ image.src | img_url: modal_image_size, crop: 'center' }}" 
                    class="lazyload d-block w-100 h-auto" alt="{{ image.alt | escape }}" 
                    width="{{ section.settings.modal_image_width }}" 
                    height="{{ section.settings.modal_image_height }}"
                    >
                {% endif %}
                
                {% if section.settings.modal_carousel_show_caption %}
                  <div class="carousel-caption" style="bottom: 0">
                    <p class="h6 mb-0">{{ image.alt | escape }}</p>
                  </div>
                {% endif %}

              </div>
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#product-photo-gallery-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">{{ 'misc.previous' | t }}</span>
          </a>
          <a class="carousel-control-next" href="#product-photo-gallery-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">{{ 'misc.next' | t }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
#product-photo-gallery-carousel .carousel-caption {
  background-color: rgba(0, 0, 0, .25);
  padding-top: .5rem;
  padding-bottom: .5rem;
  left: 0;
  right: 0;
}
#product-photo-gallery-carousel .carousel-caption > * {
  padding-left: 1rem;
  padding-right: 1rem;
}
#product-photo-gallery-carousel .carousel-control-prev,
#product-photo-gallery-carousel .carousel-control-next {
  width: 45px;
  height: 50px;
  top: 50%;
  transform: translateY(-100%);
  background: rgba(0, 0, 0, .25);
}
#product-photo-gallery-carousel .carousel-control-prev {
  border-radius: 0 4px 4px 0;
}
#product-photo-gallery-carousel .carousel-control-next {
  border-radius: 4px 0 0 4px;
}
#product-photo-gallery-carousel .carousel-control-prev-icon,
#product-photo-gallery-carousel .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}
#product-photo-gallery-carousel .carousel-control-prev-icon {
  transform: translateX(-3px);
}
#product-photo-gallery-carousel .carousel-control-next-icon {
  transform: translateX(3px);
}
{% endstylesheet %}

<script>
  window.addEventListener('DOMContentLoaded', () => {
    jQuery(document).ready(function ($) {

      // Initialize multi selector for product
      {% unless product.has_only_default_variant %}
        new Shopify.OptionSelectors("product-page-variant-select", {
          product: {{ product | json }},
          onVariantSelected: function(variant, selector) {
            // console.log(variant)
            // console.log(selector)

            const formSelector = $(`#product_form_${selector.product.id}`)

            if (variant) {
              if (variant.available) {
                formSelector.find(':input[type="number"]').prop("disabled", false).fadeTo(200, 1)
                formSelector.find('.add-to-cart-btn').prop("disabled", false).find('span').html("{{ 'product.add_to_cart' | t }}").fadeTo(200, 1)
              }
              else {
                formSelector.find(':input[type="number"]').prop("disabled", true).fadeTo(200, 0.5)
                formSelector.find('.add-to-cart-btn').prop("disabled", true).find('span').html("{{ 'product.sold_out' | t }}").fadeTo(200, 0.5)
              }

              if (variant.compare_at_price > variant.price) {
                // {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | money_without_currency | times: 100 | remove: '.0' | prepend: '-' | append: '%' }}

                formSelector.find('.product-discount-badge')
                  .removeClass('d-none')
                  .addClass('d-block')
                  .html(`-${Math.round((variant.compare_at_price - variant.price) / variant.compare_at_price * 100)}%`)
                  formSelector.find('.product-price').html(`
                    <span class="sr-only">{{ 'product.regular_price' | t }}</span>
                    <s class="text-muted opacity-75 mr-2">
                      ${Shopify.formatMoney(variant.compare_at_price, "")}
                    </s>
                    <span>${Shopify.formatMoney(variant.price, "")}</span>
                  `)
              } else {
                formSelector.find('.product-discount-badge').removeClass('d-block').addClass('d-none')
                formSelector.find('.product-price').html('<span>'+ Shopify.formatMoney(variant.price, "") + '</span>' )
              }

              if (variant.featured_image)
                handleProductImageGallery($(`a#product-image-${variant.featured_image.id}`))
              else
                handleProductImageGallery($('a#product-image-{{ product.featured_image.id }}'))
            }
          },
          enableHistoryState: true
        })
      {% endunless %}


      // Initialize Bootstrap modal on show event
      $('#product-photo-gallery-modal').on('show.bs.modal', function (event) {
        var img = $(event.relatedTarget).attr('href')
        var carouselItems = $(event.target).find('.carousel-inner').children()
        var selectedIndex = 0

        // TODO: Make carousel active so that users can navigate with keyboard
        
        // Add 'active' class to the carousel item which image was selected on gallery
        $.each(carouselItems, function(index, value) {
          $(value).removeClass('active')

          if (img == $(value).find('img').attr('src')) {
            $(value).addClass('active')
            selectedIndex = index
          }
        })

        // adjust counter on modal header when modal open
        var counterEl = $(event.target).find('#product-photo-gallery-counter')
        var count = counterEl.data('count')
        
        counterEl.text(`${selectedIndex + 1}/${count}`)

        $('#product-photo-gallery-carousel').on('slide.bs.carousel', function (event) {
          // adjust counter on carousel slide
          counterEl.text(`${Number(event.to) + 1}/${count}`)

          // lazy load slide image
          var image = $(event.relatedTarget).find('img[data-src]');
          image.attr('src', image.data('src'));
          image.removeAttr('data-src');
        })

      })

    })
  })
</script>

{% schema %}
  {
    "name": "Product pages",
    "tag": "article",
    "class": "product-page",
    "settings": [
      {
        "type": "header",
        "content": "General settings"
      },
      {
        "type": "checkbox",
        "id": "container",
        "label": "Wrap in container",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_discount_badge",
        "label": "Show discount badge",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
      {
        "type": "header",
        "content": "Product image settings"
      },
      {
        "type": "text",
        "id": "image_width",
        "label": "Image width (px)",
        "default": "600"
      },
      {
        "type": "text",
        "id": "image_height",
        "label": "Image height (px)",
        "default": "600"
      },
      {
        "type": "text",
        "id": "gallery_image_width",
        "label": "Gallery image width (px)",
        "default": "120"
      },
      {
        "type": "text",
        "id": "gallery_image_height",
        "label": "Gallery image height (px)",
        "default": "120"
      },
      {
        "type": "range",
        "id": "gallery_row_cols",
        "min": 0,
        "max": 12,
        "step": 1,
        "label": "Gallery items per row",
        "info": "Note: Set to 0 to disable row constriction.",
        "default": 4
      },
      {
        "type": "select",
        "id": "images_alignment",
        "label": "Images Alignment",
        "info": "Note: On mobile view images will always be on top and content on bottom",
        "default": "flex-row",
        "options": [
          {
            "value": "flex-row", "label": "Left"
          },
          {
            "value": "flex-row-reverse", "label": "Right"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "image_border",
        "label": "Border",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "image_circle",
        "label": "Circle",
        "default": false
      },
      {
        "type": "select",
        "id":  "image_hover_effect",
        "label": "Hover effect",
        "default": "image-hover-shine",
        "options": [
          {
            "value": "image-hover", "label": "No effect"
          },
          {
            "value": "image-hover-fade-in", "label": "Fade in"
          },
          {
            "value": "image-hover-fade-out", "label": "Fade out"
          },
          {
            "value": "image-hover-scale-in", "label": "Scale in"
          },
          {
            "value": "image-hover-scale-out", "label": "Scale out"
          },
          {
            "value": "image-hover-flashing", "label": "Flashing"
          },
          {
            "value": "image-hover-shine", "label": "Shine"
          }
        ]
      },
      {
        "type": "header",
        "content": "Modal gallery settings"
      },
      {
        "type": "select",
        "id":  "modal_transition",
        "label": "Opening transition effect",
        "default": "fade zoom-in",
        "options": [
          {
            "value": "fade", "label": "Fade/Translate"
          },
          {
            "value": "fade zoom-in", "label": "Fade/Zoom-in"
          },
          {
            "value": "fade zoom-out", "label": "Fade/Zoom-out"
          },
          {
            "value": "", "label": "No effect"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "modal_center",
        "label": "Center modal",
        "default": true
      },
      {
        "type": "text",
        "id": "modal_image_width",
        "label": "Modal image width (px)",
        "default": "2048"
      },
      {
        "type": "text",
        "id": "modal_image_height",
        "label": "Modal image height (px)",
        "default": "2048"
      },
      {
        "type": "select",
        "id":  "modal_carousel_transition",
        "label": "Carousel transition effect",
        "default": "slide",
        "options": [
          {
            "value": "slide", "label": "Slide"
          },
          {
            "value": "slide carousel-fade", "label": "Fade"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "modal_carousel_show_caption",
        "label": "Show carousel captions",
        "info": "Based from image 'alt' text",
        "default": true
      },
      {
        "type": "range",
        "id": "interval",
        "min": 0,
        "max": 20,
        "step": 1,
        "unit": "sec",
        "label": "Carousel autoplay time",
        "default": 5,
        "info": "Select '0' to disable autoplay"
      },
      {
        "type": "header",
        "content": "Advanced settings"
      },
      {
        "type": "select",
        "id":  "breakpoint",
        "label": "Responsive breakpoint",
        "info": "Define at what screen size the layout should switch from row to column. [Learn more](https://getbootstrap.com/docs/4.5/layout/overview/#responsive-breakpoints)",
        "default": "-md",
        "options": [
          {
            "value": "", "label": "No breakpoint"
          },
          {
            "value": "-sm", "label": "Small screens (sm)"
          },
          {
            "value": "-md", "label": "Medium screens (md)"
          },
          {
            "value": "-lg", "label": "Large screens (lg)"
          },
          {
            "value": "-xl", "label": "Extra-large screens (xl)"
          }
        ]
      }
    ]
  }
{% endschema %}