{% assign current_variant = product.selected_or_first_available_variant %}
{% assign current_media_pos = current_variant.featured_media.position | default: 1  %}

<div class="container pt-4 pt-lg-6 pb-6">
    <div class="row">
        <div class="col-lg-6">

            <!-- Product carousel -->
            <div 
                id="product-carousel" 
                class="carousel slide" 
                data-bs-ride="carousel"
                data-bs-interval="false">
                <div class="carousel-indicators mb-2">
                    {% for media in product.media %}
                        <button 
                            type="button"
                            data-bs-target="#product-carousel"
                            data-bs-slide-to="{{ forloop.index0 }}"
                            class="{% if current_media_pos == forloop.index %}active{% endif %}"
                            aria-current="true"
                            aria-label="Slide {{ forloop.index }}">
                        </button>
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for media in product.media %}
                        <div class="carousel-item {% if current_media_pos == forloop.index %}active{% endif %}">
                            {% case media.media_type %}
                                {% when 'image' %}
                                    {% assign img_size = section.settings.img_width | append: 'x' | append: section.settings.img_height %}
                                    <img
                                        src="{{ media.src | img_url: img_size, crop: 'center' }}"
                                        alt="{{ media.alt | escape }}"
                                        width="{{ section.settings.img_width }}"
                                        height="{{ section.settings.img_height }}"
                                        class="product-carousel-img img-fluid w-100 rounded">
                            {% endcase %}
                        </div>
                    {% endfor %}
                </div>
                <button
                    class="carousel-control-prev"
                    type="button"
                    data-bs-target="#product-carousel"
                    data-bs-slide="prev"
                    aria-label="Previous">
                  <span class="carousel-control-prev-icon"></span>
                </button>
                <button 
                    class="carousel-control-next"
                    type="button" 
                    data-bs-target="#product-carousel" 
                    data-bs-slide="next"
                    aria-label="Next">
                  <span class="carousel-control-next-icon"></span>
                </button>
            </div>

        </div>
        <div class="col-lg-6">

            <!-- Product title -->
            <h1 class="display-5 mt-2 mb-3">
                {{ product.title }}
            </h1>

            <!-- Product form -->
            <div id="product-form" class="bg-light px-4 py-4 rounded">

                <!-- Product options -->
                {% unless product.has_only_default_variant %}
                    <div id="product-options" class="pb-2">
                        {% for option in product.options_with_values %}
                            <div class="product-option input-group mb-3">
                                <label
                                    class="input-group-text" 
                                    for="{{ option.name | handleize | prepend: 'option-' }}">
                                    {{ option.name }}
                                </label>
                                <select 
                                    id="{{ option.name | handleize | prepend: 'option-' }}"
                                    class="form-select">
                                    {% for value in option.values %}
                                        <option 
                                            value="{{ value }}"
                                            {% if value == option.selected_value %}
                                                selected
                                            {% endif %}>
                                            {{ value }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        {% endfor %}
                    </div>
                {% endunless %}

                <!-- Add to cart button -->
                <button
                    id="add-to-cart-btn"
                    class="btn btn-primary w-100"
                    type="button"
                    data-variant-id="{{ current_variant.id }}"
                    data-quantity="1"
                    data-text-add-to-cart="{{ 'product.add_to_cart' | t }}"
                    data-text-sold-out="{{ 'product.sold_out' | t }}"
                    data-text-unavailable="{{ 'product.unavailable' | t }}"
                    data-text-added-to-cart="{{ 'product.added_to_cart' | t }}"
                    data-text-view-cart="{{ 'product.view_cart' | t }}"
                    data-cart-route-url="{{ routes.cart_url }}"
                    {% unless current_variant.available %}
                        disabled
                    {% endunless %}>
                    {% if current_variant.available %}
                        {{ 'product.add_to_cart' | t }}
                    {% else %}
                        {{ 'product.sold_out' | t }}
                    {% endif %}
                </button>

            </div>
                
            <div>{{ product.description }}</div>              
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product pages",
    "settings": [
        {
            "type": "header",
            "content": "Carousel"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "960"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "960"
        }
    ]
}
{% endschema %}
