{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign row_xs = section.settings.breakpoint_xs | prepend: 'row-cols-'
    assign row_sm = section.settings.breakpoint_sm | prepend: 'row-cols-sm-'
    assign row_md = section.settings.breakpoint_md | prepend: 'row-cols-md-'
    assign row_lg = section.settings.breakpoint_lg | prepend: 'row-cols-lg-'
    assign row_xl = section.settings.breakpoint_xl | prepend: 'row-cols-xl-'
    assign row_xxl = section.settings.breakpoint_xxl | prepend: 'row-cols-xxl-'
%}

<section 
    id="recommended-products-{{ section.id }}" 
    class="recommended-products featured-products position-relative overflow-hidden {{ section.settings.bg_color }} {{ section.settings.text_align }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}"
    data-base-url="{{ routes.product_recommendations_url }}"
    data-section-id="{{ section.id }}"
    data-product-id="{{ product.id }}" 
    data-limit="{{ section.settings.limit }}">
    <div class="container">
        <h2 class="title mb-4 {{ section.settings.title_size }}">
            {{ section.settings.title }}
        </h2>
        {% unless section.settings.description == blank %}
            <div class="description rte mt-n3 mb-5 {{ section.settings.description_size }}">
                {{ section.settings.description }}
            </div>
        {% endunless %}
        <ul class="product-list list-unstyled row mx-n3 mx-lg-n4 mb-0 {{ row_xs }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }} {% if section.settings.mobile_scroll %}mobile-scroll{% endif %}">
            {% liquid
                for product in recommendations.products
                    render 'product-item', product: product
                endfor
            %}
        </ul>
    </div>
</section>

{% schema %}
{
    "name": "Recommended Products",
    "settings": [
        {
            "type": "paragraph",
            "content": "NOTE: This section works only in the product page."
        },
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-dark", "label": "Light" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit products",
            "min": 2,
            "max": 20,
            "default": 4
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Recommended Products"
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h2",
            "options": [
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "richtext",
            "id": "description",
            "label": "Description (optional)",
            "default": "<p>Add on optional description to this section</p>"
        },
        {
            "type": "select",
            "id": "description_size",
            "label": "Description size",
            "default": "fs-6",
            "options": [
                { "value": "fs-1", "label": "fs-1" },
                { "value": "fs-2", "label": "fs-2" },
                { "value": "fs-3", "label": "fs-3" },
                { "value": "fs-4", "label": "fs-4" },
                { "value": "fs-5", "label": "fs-5" },
                { "value": "fs-6", "label": "fs-6" }
            ]
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "select",
            "id": "product_img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "product_img_border",
            "label": "Image border",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "Square" },
                { "value": "rounded", "label": "Rounded" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_size",
            "label": "Title size",
            "default": "h6",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
                {
            "type": "checkbox",
            "id": "mobile_scroll",
            "label": "Scroll on mobile (xs)",
            "info": "If enabled, the value for the settings below (Items per slide / xs) is not applicable.",
            "default": true
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 4
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["product"],
    "presets": [
        {
            "name": "Recommended Products",
            "category": "Products"
        }
    ]
}
{% endschema %}