{% assign pageurl = content_for_header | split:'"pageurl":"' | last | split:'"' | first %}

{% if pageurl contains 'layout-grid' %}
    {% assign layout = 'grid' %}
{% elsif pageurl contains 'layout-list' %}
    {% assign layout = 'list' %}
{% else %}
    {% assign layout = section.settings.layout %}        
{% endif %}

<div class="search">

    <div 
        class="heading-wrapper container overflow-hidden text-center pb-8"
        style="max-width: 768px;">

        <!-- Heading -->
        <h1 class="heading mb-3 {{ section.settings.heading_size }}">
            {% if search.performed == false %}
                {{ 'general.search.heading' | t }}
            {% else %}
                {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
            {% endif %}
        </h1>

        <!-- Search form -->
        <form
            class="input-group"
            action="/search">
            <input
                id="minisearch-input"
                class="form-control" 
                type="search"
                name="q"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.label' | t }}..." 
                aria-label="{{ 'general.search.label' | t }}">
            <button
                class="btn btn-primary"
                type="submit">
                {{ 'general.search.submit' | t }}
            </button>
        </form>

    </div>

    {% if search.performed %}

        <div class="{% if section.settings.container %}container{% else %}container-fluid{% endif %}">
            
            <!-- No results -->
            {% if search.results_count == 0 %}
                <p 
                    id="search-no-results"
                    class="alert alert-warning">
                    {{ 'general.search.no_results' | t }}
                </p>

            <!-- Results -->
            {% else %}

            <!-- Layout Switcher -->
            {% if section.settings.show_layout_btn %}
                <div 
                    id="layout-btn-wrapper"
                    class="bg-light rounded mb-7 py-4 px-4 text-end">
                    {% if layout == 'grid' %}
                        <button
                            id="collection-layout-btn"
                            class="btn btn-outline-secondary btn-sm"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom"
                            data-value="layout-list"
                            title="{{ 'collection.layout_list' | t }}"
                            aria-hidden="true">
                            {% render 'icon-list' with size: 22 %}
                        </button>
                    {% else %}
                        <button
                            id="collection-layout-btn"
                            class="btn btn-outline-secondary btn-sm"
                            data-bs-toggle="tooltip"
                            data-bs-placement="bottom" 
                            data-value="layout-grid"
                            title="{{ 'collection.layout_grid' | t }}"
                            aria-hidden="true">
                            {% render 'icon-grid' with size: 22 %}
                        </button>
                    {% endif %}
                </div>
            {% endif %}
                
            <!-- Items List/Grid -->
            {% paginate search.results by section.settings.paginate %}

                {% if layout == 'grid' %}
                    {% render 'items-grid' with items: search.results %}
                {% elsif layout == 'list' %}
                    {% render 'items-list' with items: search.results %}
                {% endif %}

                {% render 'pagination' with paginate: paginate, layout: layout %}

            {% endpaginate %}

            {% endif %}
        
        </div>

    {% endif %}

</div>

{% schema %}
{
    "name": "Search page",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "options": [
                {  "value": "list", "label": "List" },
                {  "value": "grid", "label": "Grid" }
            ],
            "default": "grid"
        },
        {
            "type": "checkbox",
            "id": "show_layout_btn",
            "label": "Show layout switcher button",
            "default": true
        },
        {
            "type": "range",
            "id": "paginate",
            "label": "Products per page",
            "min": 1,
            "max": 50,
            "default": 30
        },
        {
            "type": "checkbox",
            "id": "container",
            "label": "Wrap in container",
            "default": true
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "display-5",
            "options": [
                { "group": "Display", "value": "display-1", "label": "Display 1" },
                { "group": "Display", "value": "display-2", "label": "Display 2" },
                { "group": "Display", "value": "display-3", "label": "Display 3" },
                { "group": "Display", "value": "display-4", "label": "Display 4" },
                { "group": "Display", "value": "display-5", "label": "Display 5" },
                { "group": "Display",  "value": "display-6", "label": "Display 6" },
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Product settings"
        },
        {
            "type": "text",
            "id": "img_width",
            "label": "Image width (px)",
            "default": "480"
        },
        {
            "type": "text",
            "id": "img_height",
            "label": "Image height (px)",
            "default": "480"
        },
        {
            "type": "checkbox",
            "id": "img_thumbnail",
            "label": "Image border",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_vendor",
            "label": "Show vendor",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "show_description",
            "label": "Show description",
            "default": false
        },
        {
            "type": "text",
            "id": "description_length",
            "label": "Description length",
            "info": "Leave empty to show all text",
            "default": "70"
        },
        {
            "type": "checkbox",
            "id": "show_price",
            "label": "Show price",
            "default": true
        },
        {
            "type": "header",
            "content": "Grid",
            "info": "Adjust items per row.  Applies only if the setting 'Layout' above is selected to 'grid'. [Learn more](https://getbootstrap.com/docs/5.0/layout/grid/#auto-layout-columns)"
        },
        {
            "type": "range",
            "id": "row_",
            "label": "X-Small <576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_sm",
            "label": "Small ≥576px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "row_md",
            "label": "Medium ≥768px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_lg",
            "label": "Large ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xl",
            "label": "Extra large ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "row_xxl",
            "label": "Extra extra large ≥1400px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 6
        },
        {
            "type": "header",
            "content": "Gutter",
            "info": "Spacing between items.  Applies only if the setting 'Layout' above is selected to 'grid'. [Learn more](https://getbootstrap.com/docs/5.0/layout/gutters/)"
        },
        {
            "type": "range",
            "id": "gutter_mobile",
            "label": "Mobile <576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_tablet",
            "label": "Tablet ≥576px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "gutter_desktop",
            "label": "Desktop ≥1200px",
            "min": 1,
            "max": 12,
            "step": 1,
            "default": 4
        }
    ]
}
{% endschema %}