<div class="mt-6 {% if section.settings.container %} container {% else %} container-fluid {% endif %}">

  <h1 class="text-center">
    {% if search.performed %}
      <span class="sr-only">{{ 'search.heading' | t: count: search.results_count }}:</span>
        {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
    {% else %}
      {{ 'search.title' | t }}
    {% endif %}
  </h1>

  <form action="/search" method="get" role="search" id="search-page-form" class="bg-light mt-3 mb-5 py-4 px-4 rounded {% if section.settings.enable_search_types %}has-search-types{% endif %}">

    <div class="input-group input-group-{{ section.settings.search_form_size }} mb-0">
      <input 
        type="search" 
        name="q" 
        id="Search" 
        class="form-control" 
        value="{{ search.terms | escape }}" 
        placeholder="{{ 'search.placeholder' | t }}" 
        aria-label="{{ 'search.placeholder' | t }}"  
        required
      >

      {% if section.settings.enable_search_types %}
        <select class="custom-select" name="type">
          <option disabled>{{ 'search.search_in' | t }}</option>
          <option value="product" {% if search.types == blank or search.types contains 'product' %} selected{% endif %}>{{ 'search.types.products' | t }}</option>
          <option value="article" {% if search.types contains 'article' %}selected{% endif %}>{{ 'search.types.articles' | t }}</option>
          <option value="page" {% if search.types contains 'page' %}selected{% endif %}>{{ 'search.types.pages' | t }}</option>
        </select>
      {% endif %}

      <div class="input-group-append">
        <button class="btn {{ section.settings.search_form_button_style }}" type="submit">{{ 'search.submit' | t }}</button>
      </div>
    </div>
  </form>
  
  {% if search.performed %}
  
    {% if search.results_count == 0 %}
      <p class="alert alert-warning" role="alert">{{ 'search.no_results_html' | t: terms: search.terms }}</p>
    
    {% else %}
      <h2 class="sr-only">
        {{ 'search.heading' | t: count: search.results_count }}
      </h2>
      

      {% paginate search.results by section.settings.results_per_page %}

        {% comment %} 
          "Product" search type
        {% endcomment %}
        {% if search.types contains 'product' %}
          {% assign products_list = search.results %}
          {% include 'products-list' %}
        {% endif %}
        
        {% comment %} 
          "Article" search type
        {% endcomment %}
        {% if search.types contains 'article' %}
          <ul class="list-unstyled mb-6">
            {% for article in search.results %}
            <li class="row align-items-center {{ section.settings.gutter_vertical | prepend: 'my-' }}">

              {% if section.settings.show_image and article.image %}
                <div class="col-md-4 col-lg-3">
                  <a class="d-inline-block col px-2" href="{{ article.url }}">
                    <div class="
                      d-inline-block
                      mx-auto
                      mb-3
                      position-relative
                      overflow-hidden
                      {% if section.settings.article_image_border %}img-thumbnail{% endif %}
                      {% if section.settings.article_image_circle %}rounded-circle{% endif %}
                      {{ section.settings.article_image_hover_effect }}
                    ">
                      {% assign image_size = section.settings.article_image_width | append: 'x' | append: section.settings.article_image_height %}
                    
                      <img
                        class="img-fluid lazyload {% if section.settings.article_image_circle %}rounded-circle{% endif %}"
                        src="{{ 'no-image.jpg' | asset_img_url: image_size, crop: 'center' }}"
                        data-src="{{ article.image | img_url: image_size, crop: 'center'  }}"
                        alt="{{ article.image.alt | escape }}"
                        width="{{ section.settings.article_image_width }}"
                        height="{{ section.settings.article_image_height }}"
                        loading="lazy"
                      >
                    </div>
                  </a>
                </div>
              {% endif %}
              
      
              <div class="col-md">
      
                {% if section.settings.show_post_title %}
                  <h2 class="{{ section.settings.post_title_size }}"><a href="{{ article.url }}">{{ article.title }}</a></h2>
                {% endif %}

                {% if section.settings.blog_post_author or section.settings.show_post_date or section.settings.show_comments_number %}
                  <p class="text-muted font-size-90 opacity-75">
                    {% if section.settings.blog_post_author %}
                      {{ article.author }}
                    {% endif %}
                    {% if section.settings.blog_post_author and section.settings.show_post_date %}
                      <span class="opacity-75 mx-1"> | </span> 
                    {% endif %}
                    {% if section.settings.show_post_date %}
                      {{ article.created_at | time_tag: '%b %d, %Y' }}
                    {% endif %}
                    {% if section.settings.show_post_date and section.settings.show_comments_number %}
                      <span class="opacity-75 mx-1"> | </span> 
                    {% endif %}
                    {% if section.settings.show_comments_number %}
                      {{ 'blog.comments.with_count' | t: count: article.comments_count }}
                    {% endif %}
                  </p>
                {% endif %}

                {% if section.settings.show_post_excerpt %}
                  <div class="rte mb-4">
                    {% if article.excerpt.size > 0 %}
                      {{ article.excerpt }}
                    {% else %}
                      {{ article.content | strip_html | truncate: section.settings.post_excerpt_truncate }}
                    {% endif %}
                  </div>
                {% endif %}

                {% if section.settings.show_post_readmore_button %}
                  <a href="{{ article.url }}" class="mb-3 btn {{ section.settings.post_readmore_button_style }}">
                    {{ 'blog.readmore' | t }}
                  </a>
                {% endif %}
      
              </li>
              <div class="overflow-hidden" aria-hidden="true"></div>
            {% endfor %}
          </ul>
        {% endif %}
                 
        {% comment %} 
          "Page" search type
        {% endcomment %}
        {% if search.types contains 'page' %}
          <ul class="list-unstyled mb-6">
            {% for page in search.results %}
              <li class="{{ section.settings.gutter_vertical | prepend: 'my-' }}">
                
                <h2 class="{{ section.settings.page_title_size }}"><a href="{{ page.url }}">{{ page.title }}</a></h2>
                
                {% if section.settings.show_page_content %}
                  <div class="rte mb-4">
                    {{ page.content | strip_html | truncate: section.settings.page_content_truncate }}
                  </div>
                {% endif %}

              </li>
              <div class="overflow-hidden" aria-hidden="true"></div>
            {% endfor %}
          </ul>
        {% endif %}
        
        {% include 'pagination' %}

      {% endpaginate %}

    {% endif %}
  {% endif %}

        </div>

<script>
  // window.addEventListener('DOMContentLoaded', () => {
  //   jQuery(document).ready(function ($) {
     
  //   })
  // })
</script>
  
{% javascript %}

{% endjavascript %}

{% schema %}
{
  "name": "Search page",
  "tag": "article",
  "settings": [
    {
      "type": "header",
      "content": "Search form"
    },
    {
      "type": "select",
      "id":  "search_form_size",
      "label": "Form elements size",
      "default": "lg",
      "options": [
        {
          "value": "sm", "label": "Small (sm)"
        },
        {
          "value": "md", "label": "Medium (md)"
        },
        {
          "value": "lg", "label": "Large (lg)"
        }
      ]
    },
    {
      "type": "select",
      "id":  "search_form_button_style",
      "label": "Search button style",
      "default": "btn-outline-primary",
      "options": [
        {
          "value": "btn-primary", "label": "Primary color"
        },
        {
          "value": "btn-outline-primary", "label": "Outline primary"
        },
        {
          "value": "btn-secondary", "label": "Secondary color"
        },
        {
          "value": "btn-outline-secondary", "label": "Outline secondary"
        },
        {
          "value": "btn-light", "label": "Light color"
        },
        {
          "value": "btn-dark", "label": "Dark color"
        },
        {
          "value": "btn-outline-dark", "label": "Outline dark"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_search_types",
      "label": "Enable \"Search in\" selectbox",
      "info": "If you disable this, the results will only be for products",
      "default": true
    },
    {
      "type": "header",
      "content": "General settings"
    },
    {
      "type": "checkbox",
      "id": "container",
      "label": "Wrap in container",
      "default": true
    },
    {
      "type": "range",
      "id": "results_per_page",
      "label": "Results per page",
      "min": 1,
      "max": 40,
      "step": 1,
      "default": 20
    },
    {
      "type": "header",
      "content": "Adjust products per Row"
    },
    {
      "type": "range",
      "id": "row",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Extra small screens (default)",
      "default": 2
    },
    {
      "type": "range",
      "id": "row_sm",
      "min": 1,
      "max": 3,
      "step": 1,
      "label": "Small screens (sm)",
      "default": 2
    },
    {
      "type": "range",
      "id": "row_md",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Medium screens (md)",
      "default": 3
    },
    {
      "type": "range",
      "id": "row_lg",
      "min": 1,
      "max": 6,
      "step": 1,
      "label": "Large screens (lg)",
      "default": 4
    },
    {
      "type": "range",
      "id": "row_xl",
      "min": 1,
      "max": 8,
      "step": 1,
      "label": "Extra-large screens (xl)",
      "default": 4
    },
    {
      "type": "header",
      "content": "Product settings"
    },
    {
      "type": "checkbox",
      "id": "align_center",
      "label": "Align center",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_product_title",
      "label": "Show product title",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "Show price",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_discount_badge",
      "label": "Show discount badge",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_quick_view_button",
      "label": "Show 'Quick view' button",
      "default": true
    },
    {
      "type": "select",
      "id": "product_title_size",
      "label": "Product title size",
      "default": "h6",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "select",
      "id":  "quick_view_button_style",
      "label": "'Quick view' button style",
      "default": "btn-outline-primary",
      "options": [
        {
          "value": "btn-primary", "label": "Primary color"
        },
        {
          "value": "btn-outline-primary", "label": "Outline primary"
        },
        {
          "value": "btn-secondary", "label": "Secondary color"
        },
        {
          "value": "btn-outline-secondary", "label": "Outline secondary"
        },
        {
          "value": "btn-light", "label": "Light color"
        },
        {
          "value": "btn-dark", "label": "Dark color"
        },
        {
          "value": "btn-outline-dark", "label": "Outline dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "Quick view settings"
    },
    {
      "type": "select",
      "id":  "quick_view_transition",
      "label": "Modal transition effect",
      "default": "fade zoom-in",
      "options": [
        {
          "value": "fade", "label": "Fade/Translate"
        },
        {
          "value": "fade zoom-in", "label": "Fade/Zoom-in"
        },
        {
          "value": "fade zoom-out", "label": "Fade/Zoom-out"
        },
        {
          "value": "", "label": "No effect"
        }
      ]
    },
    {
      "type": "select",
      "id": "quick_view_heading_size",
      "label": "Product title size",
      "default": "h3",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "text",
      "id": "quick_view_desc_truncate",
      "label": "Decription truncate",
      "default": "200",
      "info": "The maximum number of characters for the product description"
    },
    {
      "type": "checkbox",
      "id": "quick_view_show_view_product_button",
      "label": "Show 'View product' button",
      "default": true
    },
    {
      "type": "select",
      "id":  "quick_view_view_product_button_style",
      "label": "'View product' button style",
      "default": "btn-outline-primary",
      "options": [
        {
          "value": "btn-primary", "label": "Primary color"
        },
        {
          "value": "btn-outline-primary", "label": "Outline primary"
        },
        {
          "value": "btn-secondary", "label": "Secondary color"
        },
        {
          "value": "btn-outline-secondary", "label": "Outline secondary"
        },
        {
          "value": "btn-light", "label": "Light color"
        },
        {
          "value": "btn-dark", "label": "Dark color"
        },
        {
          "value": "btn-outline-dark", "label": "Outline dark"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "quick_view_show_share_buttons",
      "label": "Show share buttons",
      "info": "Note: You can adjust options for share buttons under 'Theme Settings'",
      "default": true
    },
    {
      "type": "header",
      "content": "Product image settings"
    },
    {
      "type": "text",
      "id": "image_width",
      "label": "Image width (px)",
      "default": "360"
    },
    {
      "type": "text",
      "id": "image_height",
      "label": "Image height (px)",
      "default": "360"
    },
    {
      "type": "text",
      "id": "quick_view_image_width",
      "label": "'Quick View' image width (px)",
      "default": "480"
    },
    {
      "type": "text",
      "id": "quick_view_image_height",
      "label": "'Quick View' image height (px)",
      "default": "480"
    },
    {
      "type": "checkbox",
      "id": "image_border",
      "label": "Border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "image_circle",
      "label": "Circle",
      "default": false
    },
    {
      "type": "select",
      "id":  "image_hover_effect",
      "label": "Hover effect",
      "default": "image-hover-shine",
      "options": [
        {
          "value": "image-hover", "label": "No effect"
        },
        {
          "value": "image-hover-fade-in", "label": "Fade in"
        },
        {
          "value": "image-hover-fade-out", "label": "Fade out"
        },
        {
          "value": "image-hover-scale-in", "label": "Scale in"
        },
        {
          "value": "image-hover-scale-out", "label": "Scale out"
        },
        {
          "value": "image-hover-flashing", "label": "Flashing"
        },
        {
          "value": "image-hover-shine", "label": "Shine"
        }
      ]
    },
    {
      "type": "header",
      "content": "Article Settings"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "label": "Show image",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_post_title",
      "label": "Show title",
      "default": true
    },
    {
      "type": "select",
      "id": "post_title_size",
      "label": "Title Size",
      "default": "h5",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_post_author",
      "label": "Show author",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_post_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_comments_number",
      "label": "Show comments number",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_post_excerpt",
      "label": "Show post excerpt",
      "default": true
    },
    {
      "type": "text",
      "id": "post_excerpt_truncate",
      "label": "Post excerpt truncate",
      "default": "200",
      "info": "The maximum number of characters for the post excerpt"
    },
    {
      "type": "checkbox",
      "id": "show_post_readmore_button",
      "label": "Show readmore button",
      "default": true
    },
    {
      "type": "select",
      "id":  "post_readmore_button_style",
      "label": "Readmore button style",
      "default": "btn-outline-primary",
      "options": [
        {
          "value": "btn-primary", "label": "Primary color"
        },
        {
          "value": "btn-outline-primary", "label": "Outline primary"
        },
        {
          "value": "btn-secondary", "label": "Secondary color"
        },
        {
          "value": "btn-outline-secondary", "label": "Outline secondary"
        },
        {
          "value": "btn-light", "label": "Light color"
        },
        {
          "value": "btn-dark", "label": "Dark color"
        },
        {
          "value": "btn-outline-dark", "label": "Outline dark"
        }
      ]
    },
    {
      "type": "header",
      "content": "Article image settings"
    },
    {
      "type": "text",
      "id": "article_image_width",
      "label": "Post image width (px)",
      "default": "600"
    },
    {
      "type": "text",
      "id": "artcle_image_height",
      "label": "Post image height (px)",
      "default": "600"
    },
    {
      "type": "checkbox",
      "id": "article_image_border",
      "label": "Image border",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "article_image_circle",
      "label": "Image as circle",
      "default": false
    },
    {
      "type": "select",
      "id":  "article_image_hover_effect",
      "label": "Hover effect",
      "default": "image-hover-fade-out",
      "options": [
        {
          "value": "image-hover", "label": "No effect"
        },
        {
          "value": "image-hover-fade-in", "label": "Fade in"
        },
        {
          "value": "image-hover-fade-out", "label": "Fade out"
        },
        {
          "value": "image-hover-scale-in", "label": "Scale in"
        },
        {
          "value": "image-hover-scale-out", "label": "Scale out"
        },
        {
          "value": "image-hover-flashing", "label": "Flashing"
        },
        {
          "value": "image-hover-shine", "label": "Shine"
        }
      ]
    },
    {
      "type": "header",
      "content": "Page settings"
    },
    {
      "type": "select",
      "id": "page_title_size",
      "label": "Title Size",
      "default": "h5",
      "options": [
        {
          "value": "h1", "label": "H1"
        },
        {
          "value": "h2", "label": "H2"
        },
        {
          "value": "h3", "label": "H3"
        },
        {
          "value": "h4", "label": "H4"
        },
        {
          "value": "h5", "label": "H5"
        },
        {
          "value": "h6", "label": "H6"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_page_content",
      "label": "Show page content",
      "default": true
    },
    {
      "type": "text",
      "id": "page_content_truncate",
      "label": "Page content truncate",
      "default": "200",
      "info": "The maximum number of characters for the post excerpt"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "paragraph",
      "content": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/4.5/utilities/spacing/)"
    },
    {
      "type": "range",
      "id": "gutter_horizontal",
      "label": "Horizontal gutter",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 2,
      "info": "Spacing between products"
    },
    {
      "type": "range",
      "id": "gutter_vertical",
      "label": "Vertical gutter",
      "min": 0,
      "max": 12,
      "step": 1,
      "default": 3,
      "info": "Spacing between products"
    }
  ]
}
{% endschema %}