{% liquid
    assign row_xs = section.settings.breakpoint_xs | prepend: 'row-cols-'
    assign row_sm = section.settings.breakpoint_sm | prepend: 'row-cols-sm-'
    assign row_md = section.settings.breakpoint_md | prepend: 'row-cols-md-'
    assign row_lg = section.settings.breakpoint_lg | prepend: 'row-cols-lg-'
    assign row_xl = section.settings.breakpoint_xl | prepend: 'row-cols-xl-'
    assign row_xxl = section.settings.breakpoint_xxl | prepend: 'row-cols-xxl-'

    assign limit = section.settings.limit

    if shop.permanent_domain contains 'ks-bootshop'
        assign limit = 16
    endif

    for filter in collection.filters
        if filter.type == "price_range"
           if filter.min_value.value != nil or filter.max_value.value != nil
                assign active_filter_values = 1 | plus: active_filter_values
            endif
        else
            assign active_filter_values = filter.active_values.size | plus: active_filter_values
        endif
    endfor
%}

<div 
    id="collection-{{ collection.id }}" 
    class="collection pb-11 {{ section.settings.text_align }}">
    {% if section.settings.show_collection_img and collection.image != blank %}
        <header class="collection-header collection-header-img py-12 py-xl-14 mb-8 mb-lg-9">
            <img
                class="collection-header-img img-mobile d-lg-none"
                src="{{ collection.image.src | image_url: width: 960 }}"
                alt="{{ collection.image.alt | escape }}"
                width="960"
                height="{{ 960 | divided_by: collection.image.aspect_ratio | round }}"
                loading="lazy"
                style="opacity: {{ section.settings.img_opacity }};">
            <img
                class="collection-header-img img-desktop d-none d-lg-block"
                src="{{ collection.image.src | image_url: width: 1920 }}"
                alt="{{ collection.image.alt | escape }}"
                width="1920"
                height="{{ 1920 | divided_by: collection.image.aspect_ratio | round }}"
                loading="lazy"
                style="opacity: {{ section.settings.img_opacity }};">
            <div class="container">
                <h1 class="collection-title mb-0 {{ section.settings.title_size }}">
                    {{ collection.title }}
                </h1>
                {% if section.settings.show_collection_description and collection.description != blank %}
                    <div class="description rte mt-3 mb-0 {{ section.settings.description_size }}">
                        {{ collection.description }}
                    </div>
                {% endif %}
            </div>
        </header>
    {% else %}
        <header class="collection-header pt-11 mb-8 mb-lg-9">
            <div class="container">
                <h1 class="collection-title mb-0 {{ section.settings.title_size }}">
                    {{ collection.title }}
                </h1>
                {% if section.settings.show_collection_description and collection.description != blank %}
                    <div class="description rte mt-2 mb-0 {{ section.settings.description_size }}">
                        {{ collection.description }}
                    </div>
                {% endif %}
            </div>
        </header>
    {% endif %}

    {% if section.settings.show_filters or section.settings.show_sort_by %}
        <div id="collection-utilities" class="mb-6">
            <div class="{{ section.settings.container }}">
                <div id="collection-utilities-inner" class="bg-light py-4 px-4 rounded">
                    {% if section.settings.show_filters %}
                        <div class="d-flex">
                            <button
                                class="btn-filters btn d-flex align-items-center {{ section.settings.filters_btn_color }}"
                                data-bs-toggle="offcanvas" 
                                data-bs-target="#offcanvas-filters" 
                                aria-controls="offcanvas-filters"
                                aria-label="{{ 'collection.btn_filter_products' | t }}"
                                type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <line x1="4" y1="21" x2="4" y2="14"></line><line x1="4" y1="10" x2="4" y2="3"></line>
                                    <line x1="12" y1="21" x2="12" y2="12"></line>
                                    <line x1="12" y1="8" x2="12" y2="3"></line>
                                    <line x1="20" y1="21" x2="20" y2="16"></line>
                                    <line x1="20" y1="12" x2="20" y2="3"></line>
                                    <line x1="1" y1="14" x2="7" y2="14"></line>
                                    <line x1="9" y1="8" x2="15" y2="8"></line>
                                    <line x1="17" y1="16" x2="23" y2="16"></line>
                                </svg>
                                <span class="ms-3">
                                    {{ 'collection.btn_filter_products' | t }}
                                </span>
                                {% if active_filter_values > 0 %}
                                    <b class="badge bg-secondary ms-3">
                                        {{ active_filter_values }}
                                    </b>
                                {% endif %}
                            </button>
                        </div>
                    {% endif %}
                    {% if section.settings.show_sort_by %}
                        <div id="sort-by-wrapper" class="input-group">
                            <label class="input-group-text" for="sort-by">
                                {{ 'collection.sort_by' | t }}
                            </label>
                            <select id="sort-by" name="sort_by" class="form-select form-select-md" onchange="onChangeCollectionSortBy(value)">
                                {% for option in collection.sort_options %}
                                    <option value="{{ option.value }}" {% if option.value == collection.sort_by %}selected{% endif %}>
                                        {{ option.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <span 
                            id="collection-sort-by-notice" 
                            class="visually-hidden" 
                            aria-live="polite" 
                            aria-atomic="true" 
                            data-text-sort-by="{{ 'general.accessibility.sorted_by' | t }}">
                            {{ 'general.accessibility.sorted_by' | t }}: {{ collection.sort_by }}
                        </span>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="{{ section.settings.container }}">
        {% paginate collection.products by limit %}
            {% if collection.products.size == 0 %}
                <p class="alert alert-warning">
                    {{ 'collection.empty_html' | t }}
                </p>
            {% else %}
                <ul class="product-list list-unstyled row mx-n3 mx-lg-n4 mb-0 {{ section.settings.text_align }} {{ row_xs }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }}">
                    {% for product in collection.products %}
                        {% render 'product-item', product: product %}
                    {% endfor %}
                </ul>
                {% render 'pagination' with paginate: paginate %}
            {% endif %}
        {% endpaginate %}
    </div>
</div>

{% render 'offcanvas-filters' %}

{% schema %}
{
    "name": "Collection",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "container",
            "label": "Container",
            "default": "container",
            "options": [
                { "value": "container", "label": "Container" },
                { "value": "container-fluid", "label": "Fluid" }
            ]
        },
        {
            "type": "select",
            "id": "text_align",
            "label": "Text align",
            "default": "text-center",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" }
            ]
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Products per page",
            "min": 10,
            "max": 50,
            "default": 48
        },
        {
            "type": "checkbox",
            "id": "show_filters",
            "label": "Sbow Filters",
            "default": true
        },
        {
            "type": "select",
            "id": "filters_btn_color",
            "label": "'Show filters' button color",
            "default": "btn-outline-secondary",
            "options": [
                { "group": "Normal", "value": "btn-link", "label": "Link" },
                { "group": "Normal", "value": "btn-light", "label": "Light" },
                { "group": "Normal", "value": "btn-dark", "label": "Dark" },
                { "group": "Normal", "value": "btn-primary", "label": "Primary" },
                { "group": "Normal", "value": "btn-secondary", "label": "Secondary" },
                { "group": "Normal", "value": "btn-success", "label": "Success" },
                { "group": "Normal", "value": "btn-danger", "label": "Danger" },
                { "group": "Normal", "value": "btn-warning", "label": "Warning" },
                { "group": "Normal", "value": "btn-info", "label": "Info" },
                { "group": "Outline", "value": "btn-outline-light", "label": "Light Outline" },
                { "group": "Outline", "value": "btn-outline-dark", "label": "Dark Outline" },
                { "group": "Outline", "value": "btn-outline-primary", "label": "Primary Outline" },
                { "group": "Outline", "value": "btn-outline-secondary", "label": "Secondary Outline" },
                { "group": "Outline", "value": "btn-outline-success", "label": "Success Outline" },
                { "group": "Outline", "value": "btn-outline-danger", "label": "Danger Outline" },
                { "group": "Outline", "value": "btn-outline-warning", "label": "Warning Outline" },
                { "group": "Outline", "value": "btn-outline-info", "label": "Info Outline" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_sort_by",
            "label": "Show 'Sort by'",
            "default": true
        },
        {
            "type": "header",
            "content": "Header"
        },
        {
            "type": "checkbox",
            "id": "show_collection_img",
            "label": "Show Image",
            "default": true
        },
        {
            "type": "range",
            "id": "img_opacity",
            "label": "Image opacity",
            "min": 0,
            "max": 1,
            "step": 0.1,
            "default": 0.7
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h1",
            "options": [
                { "group": "Heading", "value": "h1", "label": "H1" },
                { "group": "Heading", "value": "h2", "label": "H2" },
                { "group": "Heading", "value": "h3", "label": "H3" },
                { "group": "Heading", "value": "h4", "label": "H4" },
                { "group": "Heading", "value": "h5", "label": "H5" },
                { "group": "Heading", "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_collection_description",
            "label": "Show collection description",
            "default": true
        },
        {
            "type": "select",
            "id": "description_size",
            "label": "Description size",
            "default": "fs-5",
            "options": [
                { "value": "fs-1", "label": "fs-1" },
                { "value": "fs-2", "label": "fs-2" },
                { "value": "fs-3", "label": "fs-3" },
                { "value": "fs-4", "label": "fs-4" },
                { "value": "fs-5", "label": "fs-5" },
                { "value": "fs-6", "label": "fs-6" }
            ]
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "select",
            "id": "product_img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "product_img_border",
            "label": "Image border",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "Square" },
                { "value": "rounded", "label": "Rounded" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_size",
            "label": "Title size",
            "default": "h6",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 4
        }
    ],
    "templates": ["collection"],
    "presets": [
        {
            "name": "Collection",
            "category": "Template"
        }
    ]
}
{% endschema %}