{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    case section.settings.img_orientation
        when 'square'
            assign img_width  = 1600
            assign img_height = 1600
        when 'landscape'
            assign img_width  = 1600
            assign img_height = 1280
        when 'landscape-2'
            assign img_width  = 1600
            assign img_height = 1060
        when 'landscape-3'
            assign img_width  = 1600
            assign img_height = 800
        when 'potrait'
            assign img_width  = 1280
            assign img_height = 1600
    endcase
%}

<article class="article {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <img
            class="article-img img-fluid mb-7 {{ section.settings.img_border }}"
            src="{{ article.image.src | image_url: width: img_width, height: img_height, crop: 'center' }}"
            alt="{{ article.image.alt | escape }}"
            width="{{ img_width }}"
            height="{{ img_height }}"
            loading="lazy">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px">
            <h1 class="article-title title mb-4 {{ section.settings.title_size }}">
                {{ article.title }}
            </h1>
            <p class="article-meta text-muted mb-5">
                {{ article.author }} @ {{ article.created_at | time_tag: '%b %d, %Y' }}
            </p>
            <div class="article-content rte mb-6">
                {{ article.content }}
            </div>
            {% if section.settings.show_tags and article.tags.size > 0 %}
                <div class="article-tags small text-muted mb-7">
                    {{ 'blogs.posted_in' | t }}: 
                    {% for tag in article.tags %}
                        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                            {{ tag }}</a>{% unless forloop.last %}, {% endunless %} {% comment %}Do not use in new line{% endcomment %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if section.settings.show_breadcrumbs or section.settings.show_share_btn %}
                <div class="d-flex justify-content-between align-items-center bg-light py-4 px-4 rounded">
                    {% if section.settings.show_breadcrumbs %}
                        <div class="breadcrumbs-wrapper me-6">
                            {% render 'breadcrumbs' %}
                        </div>
                    {% endif %}
                    {% if section.settings.show_share_btn %}
                        <div class="ms-auto">
                            {% render 'share-button', title: product.title, url: product.url %}
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</article>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Article",
        "articleBody": {{ article.content | strip_html | json }},
        "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": {{ request.origin | append: page.url | json }}
        },
        "headline": {{ article.title | json }},
        {% if article.excerpt != blank %}
            "description": {{ article.excerpt | strip_html | json }},
        {% endif %}
        {% if article.image %}
            "image": [
                {{ article | image_url: width: article.image.width | prepend: "https:" | json }}
            ],
        {% endif %}
        "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
        "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
        "author": {
            "@type": "Person",
            "name": {{ article.author | json }}
        },
        "publisher": {
        "@type": "Organization",
        "name": {{ shop.name | json }}
        }
    }
    </script>

{% schema %}
{
    "name": "Article",
    "settings": [
        {
            "type": "select",
            "id": "img_orientation",
            "label": "Image orientation",
            "default": "landscape-3",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "landscape-2", "label": "Landscape 2" },
                { "value": "landscape-3", "label": "Landscape 3" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "img_border",
            "label": "Image border",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "Square" },
                { "value": "rounded", "label": "Rounded" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h1",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Content max-width (px)",
            "default": "720"
        },

        {
            "type": "checkbox",
            "id": "show_tags",
            "label": "Show tags",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_breadcrumbs",
            "label": "Show Breacrumbs",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_share_btn",
            "label": "Show Share button",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["article"],
    "presets": [
        {
            "name": "Article",
            "category": "Blog"
        }
    ]
}
{% endschema %}
