{% liquid
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    assign row_xs = section.settings.breakpoint_xs | prepend: 'row-cols-'
    assign row_sm = section.settings.breakpoint_sm | prepend: 'row-cols-sm-'
    assign row_md = section.settings.breakpoint_md | prepend: 'row-cols-md-'
    assign row_lg = section.settings.breakpoint_lg | prepend: 'row-cols-lg-'
    assign row_xl = section.settings.breakpoint_xl | prepend: 'row-cols-xl-'
    assign row_xxl = section.settings.breakpoint_xxl | prepend: 'row-cols-xxl-'
%}

<section 
    id="blog-{{ section.id }}" 
    class="blog {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <h1 
            class="
                title text-center {{ section.settings.title_size }}
                {% if section.settings.title_show %}
                    mb-6
                {% else %}
                    visually-hidden
                {% endif %}">
            {{ blog.title }}
        </h1>
        {% if section.settings.show_filter_by %}
            <div class="blog-utilities d-lg-flex justify-content-lg-between align-items-lg-center bg-light py-4 px-4 mb-6 rounded">
                <div class="breadcrumbs-wrapper mb-4 mb-lg-0">
                    {% render 'breadcrumbs' %}
                </div>
                <div class="input-group w-auto">
                    <label class="input-group-text" for="blog-tag-select">
                        {{ 'blogs.filter_by' | t }}
                    </label>
                    <select
                        id="blog-tags-select"
                        class="form-select w-auto"
                        style="min-width: 160px;"
                        onchange="javascript:location.href = window.location.href = this.value">
                        <option value="{{ blog.url }}">
                            {{ 'blogs.all_topics' | t }}
                        </option>
                        {% for tag in blog.all_tags %}
                            <option value="{{ blog.url }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag %}selected{% endif %}>
                                {{ tag }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        {% endif %}
        {% paginate blog.articles by section.settings.limit %}
            <ul class="blog-list list-unstyled row mx-n3 mx-lg-n4 {{ row_xs }} {{ row_sm }} {{ row_md }} {{ row_lg }} {{ row_xl }} {{ row_xxl }}">
                {% for article in blog.articles %}
                    {% render 'article-item', article: article %}
                {% endfor %}
            </ul>
            {% render 'pagination' with paginate: paginate %}
        {% endpaginate %}
    </div>
</div>

{% schema %}
{
    "name": "Blog",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "checkbox",
            "id": "title_show",
            "label": "Show title",
            "default": true
        },
        {
            "type": "select",
            "id": "title_size",
            "label": "Title size",
            "default": "h1",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Posts per page",
            "min": 10,
            "max": 50,
            "default": 40
        },
        {
            "type": "checkbox",
            "id": "show_filter_by",
            "label": "Show filter by",
            "default": true
        },
        {
            "type": "header",
            "content": "Article"
        },
        {
            "type": "select",
            "id": "article_img_orientation",
            "label": "Image orientation",
            "default": "landscape-2",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "landscape-2", "label": "Landscape 2" },
                { "value": "landscape-3", "label": "Landscape 3" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "article_title_size",
            "label": "Title size",
            "default": "h5",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "checkbox",
            "id": "article_meta",
            "label": "Show article meta",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "article_excerpt",
            "label": "Show article excerpt",
            "default": true
        },
        {
            "type": "header",
            "content": "Breakpoints",
            "info": "Adjust items per slide based on screen resolution"
        },
        {
            "type": "range",
            "id": "breakpoint_xs",
            "label": "Items per slide / xs",
            "info": "Screen width: less than 576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 1
        },
        {
            "type": "range",
            "id": "breakpoint_sm",
            "label": "Items per slide / sm",
            "info": "Screen width: ≥576px",
            "min": 1,
            "max": 3,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_md",
            "label": "Items per slide / md",
            "info": "Screen width: ≥768px",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 2
        },
        {
            "type": "range",
            "id": "breakpoint_lg",
            "label": "Items per slide / lg",
            "info": "Screen width: ≥992px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xl",
            "label": "Items per slide / xl",
            "info": "Screen width: ≥1200px",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "breakpoint_xxl",
            "label": "Items per slide / xxl",
            "info": "Screen width: ≥1400px",
            "min": 1,
            "max": 8,
            "step": 1,
            "default": 3
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["blog"],
    "presets": [
        {
            "name": "Blog",
            "category": "Blog"
        }
    ]
}
{% endschema %}