{% liquid 

%}

<style>
#password {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-inner {
    max-width: 540px;
    margin: 3rem auto 4rem;
}

#password-card {
    text-align: center;
}

.social-icons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-icons .nav-link {
    transition: all .2s ease-out;
}

.social-icons .nav-link:hover {
    opacity: .75;
}
</style>

<script>
window.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#password-form-collapse')
        ?.addEventListener('shown.bs.collapse', event => {
            document.querySelector('#password-form-collapse [name="password"]').focus()
        })
})
</script>

<section
    id="password" 
    class="{{ section.settings.bg_color }}">
    <div class="container">
        <div id="password-inner">
            <div class="text-center mb-5">
                <a class="navbar-brand p-0" href="{{ routes.root_url }}">
                    {% if section.settings.logo %}
                        {% assign logo_height_x2 = section.settings.logo_height | times: 2 %}
                        <img
                            class="img-fluid"
                            src="{{ section.settings.logo | image_url: height: logo_height_x2 }}" 
                            alt="{{ shop.name }}"
                            width="{{ section.settings.logo_height | times: section.settings.logo.aspect_ratio | round }}" 
                            height="{{ section.settings.logo_height }}"
                            loading="lazy">
                    {% else %}
                        <span class="fs-3">
                            {{ shop.name }}
                        </span>
                    {% endif %}
                </a>
            </div>
            <div 
                id="password-card" 
                class="card card-body p-xl-6">
                {% unless shop.password_message == blank %}
                    <p class="password-content">
                      {{ shop.password_message }}
                    </p>
                {% endunless %} 
                {% if section.settings.show_newsletter_form %}
                    <div class="form-wrapper">
                        {% form 'customer' %}
                            <input type="hidden" name="contact[tags]" value="newsletter">
                            {{ form.errors | default_errors }}
                            {% if form.posted_successfully? %}
                                <p class="alert alert-success">
                                    {{ 'general.newsletter.confirmation_text' | t }}
                                </p>
                            {% endif %}
                            <legend class="h6">
                                {{ section.settings.newsletter_form_title }}
                            </legend>
                            <div class="input-group">
                                <input 
                                    type="email" 
                                    name="contact[email]" 
                                    size="30"
                                    class="form-control" 
                                    value="{% if customer.email != blank %}{{ customer.email }}{% endif %}" 
                                    placeholder="{{ 'general.newsletter.input_label' | t }}" 
                                    aria-label="{{ 'general.newsletter.input_label' | t }}" 
                                    autocorrect="off" 
                                    autocapitalize="off">
                                <button class="btn btn-primary px-6" type="submit" name="commit">
                                    {{ 'general.newsletter.submit_button' | t }}
                                </button>
                            </div>
                            {% unless section.settings.notice == blank %}
                                <div class="notice rte mt-3 lh-sm extra-small text-center">
                                    {{ section.settings.notice }}
                                </div>
                            {% endunless %}
                        {% endform %}
                    </div>
                {% endif %}
                {% if section.settings.show_password_form %}
                    <hr>
                    <button 
                        class="btn btn-outline-secondary btn-sm w-100 d-flex align-items-center justify-content-center" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#password-form-collapse" 
                        aria-expanded="false" 
                        aria-controls="password-form-collapse">
                        <svg xmlns="http://www.w3.org/2000/svg" class="me-3" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                        </svg>
                        {{ section.settings.password_form_title }}
                    </button>
                    <div id="password-form-collapse" class="collapse">
                        <div class="form-wrapper mt-5">
                            {% form 'storefront_password' %}
                                {{ form.errors | default_errors }}
                                <div class="input-group">
                                    <input 
                                        class="form-control" 
                                        type="password" 
                                        name="password"
                                        placeholder="{{ 'general.password_page.password_form.password_label' | t }}"
                                        aria-label="{{ 'general.password_page.password_form.password_label' | t }}">
                                    <button class="btn btn-secondary px-6" type="submit"> 
                                        {{ 'general.password_page.password_form.btn_label' | t }}
                                    </button>
                                </div>
                            {% endform %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if section.settings.show_social_icons %}
                <div class="social-icons-wrapper mt-6">
                    <small class="opacity-75 lh-sm">
                        {{ 'general.general.follow_us' | t }}
                    </small>
                    {% render 'social-icons', icon_size: 18 %}
                </div>
            {% endif %}
        </div>
    </div>
</section>

{% schema %}
{
    "name": "Password",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "bg-light",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-whit", "label": "White" },
                { "group": "Light", "value": "bg-light", "label": "Light" },
                { "group": "Dark", "value": "bg-primary", "label": "Primary" },
                { "group": "Dark", "value": "bg-secondary", "label": "Secondary" },
                { "group": "Dark", "value": "bg-dark", "label": "Dark" },
                { "group": "Alert", "value": "bg-success", "label": "Success" },
                { "group": "Alert", "value": "bg-warning text-dark", "label": "Warning" },
                { "group": "Alert", "value": "bg-danger", "label": "Danger" },
                { "group": "Alert", "value": "bg-info", "label": "Info" }
            ]
        },
        {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social icons",
            "default": true
        },
        {
            "type": "header",
            "content": "Logo"
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo"
        },
        {
            "type": "range",
            "id": "logo_height",
            "label": "Logo height",
            "min": 20,
            "max": 100,
            "step": 2,
            "default": 40
        },
        {
            "type": "header",
            "content": "Newsletter form"
        },
        {
            "type": "checkbox",
            "id": "show_newsletter_form",
            "label": "Show newsletter form",
            "default": true
        },
        {
            "type": "text",
            "id": "newsletter_form_title",
            "label": "Newsletter form title",
            "default": "Be the first to know when we launch"
        },
        {
            "type": "header",
            "content": "Password form"
        },
        {
            "type": "checkbox",
            "id": "show_password_form",
            "label": "Show password form",
            "info": "Allow visitors to enter the store using a predefied password that is set in the [Store's Preferences](https://www.shopify.com/admin/online_store/preferences/)",
            "default": true
        },
        {
            "type": "text",
            "id": "password_form_title",
            "label": "Password form title",
            "default": "Enter store using password"
        }
    ],
    "templates": ["password"],
    "presets": [
        {
            "name": "Password",
            "category": "Password"
        }
    ]
}
{% endschema %}
