{% liquid 
    assign pt = section.settings.pt | prepend: 'pt-'
    assign pb = section.settings.pb | prepend: 'pb-'
    assign mt = section.settings.mt | prepend: 'mt-'
    assign mb = section.settings.mb | prepend: 'mb-'

    case section.settings.product_img_orientation
        when 'square'
            assign img_width  = 600
            assign img_height = 600
        when 'landscape'
            assign img_width  = 600
            assign img_height = 480
        when 'potrait'
            assign img_width  = 480
            assign img_height = 600
    endcase
%}

<div 
    id="cart" 
    class="{{ section.settings.bg_color }} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div class="container">
        <div class="mx-auto" style="max-width: {{ section.settings.max_width }}px;">
            {% if cart.item_count == 0 %}
                <div id="template-cart-empty" class="text-center">
                    <h1 class=" {{ section.settings.title_size }}">
                        {{ 'cart.title' | t }}
                    </h1>
                    <div class="mb-6 rte lead">
                        {{ 'cart.empty_html' | t}}
                    </div>
                    <a href="{{ routes.all_products_collection_url }}" class="btn btn-primary mb-5">
                        ← {{ 'cart.continue_shopping' | t }}
                    </a>
                </div>
            {% else %}
                <div class="text-center mb-10">
                    <h1 class="mb-3">
                        {{ 'cart.title' | t }}
                    </h1>
                    <a 
                        href="{{ routes.all_products_collection_url }}" 
                        class="btn btn-outline-secondary btn-sm">
                        ← {{ 'cart.continue_shopping' | t }}
                    </a>
                </div>
                <form action="{{ routes.cart_url }}" class="" method="post" novalidate>
                    <div class="row">
                        <div class="col-lg-7">
                            <ul class="product-list list-unstyled mb-6">
                                {% for line_item in cart.items %}
                                    <li class="product-item pb-6 mb-6 {% unless forloop.last %}border-bottom{% endunless %}">
                                        <div class="row align-items-center mx-n3">
                                            <div class="col-5 col-lg-4 px-3">
                                                <a class="" href="{{ line_item.url }}">
                                                    <img 
                                                        class="product-item-img img-fluid me-4 {{ section.settings.product_img_border }}"
                                                        src="{{ line_item.image | image_url: width: img_width, height: img_height, crop: 'center' }}"
                                                        alt="{{ line_item.image.alt | escape }}" 
                                                        width="{{ img_width }}"
                                                        height="{{ img_height }}"
                                                        loading="lazy">
                                                </a>
                                            </div>
                                            <div class="col-7 col-lg-8 px-3">
                                                <h3 class="product-item-title mb-3 {{ section.settings.product_title_size }}">
                                                    <a class="" href="{{ line_item.url }}">
                                                        {{ line_item.product.title }}
                                                    </a>
                                                </h3>
                                                {% unless line_item.product.has_only_default_variant %}
                                                    <small class="d-block text-muted mt-n1 mb-2">
                                                        {{ line_item.variant.title }}
                                                    </small>
                                                {% endunless %}
                                                {% unless line_item.selling_plan_allocation == empty %}
                                                    <small class="d-block text-muted mt-n1 mb-2">
                                                        {{ line_item.selling_plan_allocation.selling_plan.name }}
                                                    </small>
                                                {% endunless %}
                                                {% unless line_item.properties == empty %}
                                                    <ul class="list-unstyled mt-n1 mb-2 text-muted small">
                                                        {% for property in line_item.properties %}
                                                            <li>
                                                                {% if property.last contains 'https' %}
                                                                    {{ property.first }}: <a href="{{ property.last }}" target="_blank">View file</a>
                                                                {% else %}
                                                                    {{ property.first }}: {{ property.last }}
                                                                {% endif %}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endunless %}
                                                <p class="product-item-price mt-3 mb-4">
                                                    {% if line_item.original_line_price != line_item.final_line_price %}
                                                        <span class="product-item-price-final">
                                                            <span class="visually-hidden">
                                                                {{ 'product.price_sale' | t }} &nbsp;
                                                            </span>
                                                            {{ line_item.final_line_price | money }}
                                                        </span>
                                                        <span class="product-item-price-compare text-muted ms-1">
                                                            <span class="visually-hidden">
                                                                {{ 'product.price_regular' | t }} &nbsp;
                                                            </span>
                                                            <s>
                                                                {{ line_item.original_line_price | money }}
                                                            </s>
                                                        </span>
                                                    {% else %}
                                                        <span class="product-item-price-final">
                                                            {{ line_item.original_line_price | money }}
                                                        </span>
                                                    {% endif %}
                                                </p>
                                                <div class="product-item-qty input-group input-group-sm mb-4" style="max-width: 110px">
                                                    <span class="input-group-text" aria-hidden="true">
                                                        {{ 'cart.qty' | t }}
                                                    </span>
                                                    <input 
                                                        id="updates_{{ line_item.key }}"
                                                        class="form-control" 
                                                        type="number" 
                                                        name="updates[]"
                                                        min="1"
                                                        value="{{ line_item.quantity }}"
                                                        data-line-item-key="{{ line_item.key }}"
                                                        aria-label="{{ 'cart.quantity' | t }}"
                                                        onchange="onChangeCartQty(this)">
                                                </div>
                                                <a class="btn btn-light btn-sm" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                                                    {{ 'cart.remove' | t }}
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-5">
                            <div class="px-xl-8 h-100">
                                <div id="cart-summary" class="card">
                                    <h2 class="h4 card-header">
                                        {{ 'cart.summary' | t }}
                                    </h2>
                                    <div class="card-body">
                                        {% if section.settings.show_note %}
                                            <div id="cart-note" class="mb-5">
                                                <label for="cart-note-input" class="form-label">
                                                    {{ 'cart.note_label' | t }}
                                                </label>
                                                <textarea
                                                    id="cart-note-input"
                                                    class="form-control mb-3" 
                                                    rows="4"
                                                    name="note" 
                                                    placeholder="{{ 'cart.note_placeholder' | t }}"
                                                    onfocus="showNoteButton(this)">{{ cart.note }}</textarea> {%- comment -%} Live this line as this to prevent empty spaces {%- endcomment -%}
                                                <button 
                                                    type="button"
                                                    class="cart-note-btn btn btn-secondary btn-sm w-100"
                                                    data-text-note-saved="{{ 'cart.note_saved' | t }}"
                                                    data-text-btn-save="{{ 'cart.note_button' | t }}"
                                                    onclick="onSaveCartNote(this, event)"
                                                    hidden>
                                                    {{ 'cart.note_button' | t }}
                                                </button>
                                            </div>
                                        {% endif %}
                                        <p id="cart-subtotal" class="d-flex justify-content-between mb-4 lead">
                                            <span class="text-muted">
                                                {{ 'cart.subtotal' | t }}: 
                                            </span>
                                            <span>
                                                {% if cart.items_subtotal_price > cart.total_price %}
                                                    <span class="visually-hidden">
                                                        {{ 'cart.subtotal_regular' | t }} &nbsp;
                                                    </span>
                                                    <s class="opacity-75 me-2">
                                                        {{ cart.items_subtotal_price | money }}
                                                    </s>
                                                    <span class="visually-hidden">
                                                        {{ 'cart.subtotal_discounted' | t }} &nbsp;
                                                    </span>
                                                    <b>
                                                        {{ cart.total_price | money }}
                                                    </b>
                                                {% else %}
                                                    <b>
                                                        {{ cart.total_price | money }}
                                                    </b>
                                                {% endif %}
                                            </span>
                                        </p>
                                        <button 
                                            class="btn-checkout btn btn-primary w-100 py-3 fs-5 d-flex align-items-center justify-content-center" 
                                            name="checkout" 
                                            type="submit" 
                                            onclick="onClickCheckoutBtn(this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" class="me-3" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                                <rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path>
                                            </svg>
                                            {{ 'cart.checkout' | t }}
                                        </button>
                                        <p 
                                            id="taxes-shipping-at-checkout" 
                                            class="text-muted text-center small fst-italic mt-4 mb-n1">
                                            {{ 'cart.taxes_shipping_at_checkout_html' | t }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Cart",
    "settings": [
        {
            "type": "header",
            "content": "General"
        },
        {
            "type": "select",
            "id": "bg_color",
            "label": "Background color",
            "default": "",
            "options": [
                { "group": "Inherit", "value": "", "label": "Body" },
                { "group": "Light", "value": "bg-white text-dark", "label": "White" },
                { "group": "Light", "value": "bg-light text-dark", "label": "Light" }
            ]
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Page max-width (px)",
            "info": "Prevent section for going to large.",
            "default": "1000"
        },
        {
            "type": "checkbox",
            "id": "show_note",
            "label": "Show note input",
            "default": true
        },
        {
            "type": "header",
            "content": "Product"
        },
        {
            "type": "checkbox",
            "id": "product_img_gallery",
            "label": "Image gallery",
            "default": true,
            "info": "If disabled the featured image will be shown"
        },
        {
            "type": "select",
            "id": "product_img_orientation",
            "label": "Image orientation",
            "default": "square",
            "options": [
                { "value": "square", "label": "Square" },
                { "value": "landscape", "label": "Landscape" },
                { "value": "potrait", "label": "Potrait" }
            ]
        },
        {
            "type": "select",
            "id": "product_img_border",
            "label": "Image border",
            "default": "img-thumbnail",
            "options": [
                { "value": "", "label": "Square" },
                { "value": "rounded", "label": "Rounded" },
                { "value": "img-thumbnail", "label": "Thumbnail" }
            ]
        },
        {
            "type": "select",
            "id": "product_title_size",
            "label": "Title size",
            "default": "h6",
            "options": [
                { "value": "h1", "label": "H1" },
                { "value": "h2", "label": "H2" },
                { "value": "h3", "label": "H3" },
                { "value": "h4", "label": "H4" },
                { "value": "h5", "label": "H5" },
                { "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "header",
            "content": "Spacing"
        },
        {
            "type": "range",
            "id": "pt",
            "label": "Padding top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "pb",
            "label": "Padding bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mt",
            "label": "Margin top",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "mb",
            "label": "Margin bottom",
            "min": 0,
            "max": 20,
            "step": 1,
            "default": 0
        }
    ],
    "templates": ["cart"], 
    "presets": [
        {
            "name": "Cart",
            "category": "Cart"
        }
    ]
}
{% endschema %}