{% assign pt = section.settings.padding_top | prepend: 'pt-' %}
{% assign pb = section.settings.padding_bottom | prepend: 'pb-' %}
{% assign mt = section.settings.margin_top | prepend: 'mt-' %}
{% assign mb = section.settings.margin_bottom | prepend: 'mb-' %}

{% capture max_width %}
    {% unless section.settings.max_width == blank %}
        {{ section.settings.max_width | prepend: 'max-width: ' | append: 'px;' }}
    {% endunless %}
{% endcapture %}

<section 
    id="video-{{ section.id }}" 
    class="video {% if section.settings.light_bg %}bg-light{% endif %} {{ pt }} {{ pb }} {{ mt }} {{ mb }}">
    <div 
        class="container"
        style="{{ max_width }}">

        <div class="heading-wrapper mb-3 overflow-hidden {{ section.settings.heading_alignment }}">

            <h2 class="heading mb-1 {{ section.settings.heading_size }}">
                {{ section.settings.heading }}
            </h2>

            {% unless section.settings.subheading == blank %}
                <div class="subheading rte text-muted {{ section.settings.subheading_size }}">
                    {{ section.settings.subheading }}
                </div>
            {% endunless %}

        </div>

        {% capture video_src %}
            {% if section.settings.video_url.type == 'youtube' %}
                
                {% if section.settings.youtube_controls %}
                    {% assign youtube_controls = '1' %}
                {% else %}
                    {% assign youtube_controls = '0' %}
                {% endif %}

                {% if section.settings.youtube_privacy %}
                    {% assign youtube_address = 'https://www.youtube-nocookie.com' %}
                {% else %}
                    {% assign youtube_address = 'https://www.youtube.com' %}
                {% endif %}

                {{ youtube_address }}/embed/{{ section.settings.video_url.id }}?controls={{ youtube_controls }}&amp;start={{ section.settings.youtube_start }}

            {% else %}
                https://player.vimeo.com/video/210603721
            {% endif %}
        {% endcapture %}
        
        <div class="ratio {{ section.settings.ratio }}">
            <iframe src="{{ video_src }}"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                frameborder="0"
                allowfullscreen
                loading="lazy">
            </iframe>
        </div>

    </div>
</section>


{% schema %}
{
    "name": "Video",
    "settings": [
        {
            "type": "header",
            "content": "General settings"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "info": "Leave empty to disable",
            "default": "Video"
        },
        {
            "type": "richtext",
            "id": "subheading",
            "label": "Subheading",
            "info": "Leave empty to disable",
            "default": "<p>Write something catchy for this section.</p>"
        },
        {
            "type": "checkbox",
            "id": "light_bg",
            "label": "Light background",
            "default": false
        },
        {
            "type": "select",
            "id": "heading_size",
            "label": "Heading size",
            "default": "h2",
            "options": [
                {  "value": "h1", "label": "H1" },
                {  "value": "h2", "label": "H2" },
                {  "value": "h3", "label": "H3" },
                {  "value": "h4", "label": "H4" },
                {  "value": "h5", "label": "H5" },
                {  "value": "h6", "label": "H6" }
            ]
        },
        {
            "type": "select",
            "id": "subheading_size",
            "label": "Subheading size",
            "options": [
                { "value": "", "label": "Normal" },
                { "value": "lead", "label": "Large" }
            ],
            "default": ""
        },
        {
            "type": "select",
            "id": "heading_alignment",
            "label": "Heading alignment",
            "options": [
                { "value": "text-start", "label": "Left" },
                { "value": "text-center", "label": "Center" },
                { "value": "text-end", "label": "Right" }
            ],
            "default": "text-center"
        },
        {
            "type": "header",
            "content": "Video settings"
        },
        {
            "type": "video_url",
            "id": "video_url",
            "label": "Video link",
            "accept": [
                "youtube", "vimeo"
            ],
            "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
        },
        {
            "type": "select",
            "id": "ratio",
            "label": "Ratio",
            "info": "Video aspect ratio.",
            "options": [
                { "value": "ratio-1x1", "label": "1x1" },
                { "value": "ratio-4x3", "label": "4x3" },
                { "value": "ratio-16x9", "label": "16x9" },
                { "value": "ratio-21x9", "label": "21x9" }
            ],
            "default": "ratio-16x9"
        },
        {
            "type": "text",
            "id": "max_width",
            "label": "Max width (px)",
            "info": "Adjust container max-width (in pixels). Leave emtpy to disable"
        },
        {
            "type": "header",
            "content": "YouTube settings"
        },
        {
            "type": "text",
            "id": "youtube_start",
            "label": "Start (in seconds)",
            "info": "Leave empty to start from the beggining"
        },
        {
            "type": "checkbox",
            "id": "youtube_controls",
            "label": "Show player controls.",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "youtube_privacy",
            "label": "Enable privacy-enhanced mode",
            "info": "When you turn on privacy-enhanced mode, YouTube won't store information about visitors on your website unless they play the video.",
            "default": true
        },
        {
            "type": "header",
            "content": "Spacing",
            "info": "Based on Bootstrap spacing utility classes [Learn more](https://getbootstrap.com/docs/5.0/utilities/spacing/)"
        },
        {
            "type": "range",
            "id": "padding_top",
            "label": "Padding top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "padding_bottom",
            "label": "Padding bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_top",
            "label": "Margin top",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 0
        },
        {
            "type": "range",
            "id": "margin_bottom",
            "label": "Margin bottom",
            "min": 0,
            "max": 12,
            "step": 1,
            "default": 7
        }
    ],
    "presets": [
        {
            "name": "Video",
            "category": "Video"
        }
    ]
}
{% endschema %}